{% extends "admin/change_form.html" %}
{% block after_field_sets %}
{{ block.super }}
<script type="text/javascript">
(function($) {
    $(document).ready(function() {

        var user_email = $('#id_email');
        var profile_email = $('#id_userprofile-0-email');
        var link_copy_from_user = '&nbsp;<a id="copy_email_from_user" href="#">Copy email from User</a>';
        var link_copy_from_profile = '&nbsp;<a id="copy_email_from_profile" href="#">Copy email from Profile</a>';
        user_email.after(link_copy_from_profile);
        profile_email.after(link_copy_from_user);

        $('#copy_email_from_user').click(function(event){
            event.preventDefault();
            profile_email.val(user_email.val())
        });
        $('#copy_email_from_profile').click(function(event){
            event.preventDefault();
            user_email.val(profile_email.val())
        });
    });
})(django.jQuery);;
</script>
{% endblock %}