{% extends "health/base.html" %}

{% load i18n %}
{% load field_attrs %}
{% load static %}
{% block page_title %}{% trans "SciELO Manager System Status" %}{% endblock %}

{% block main_content %}
  <div class="row-fluid">
    <div class="span12">
      <div class="page-header">
        <h2>
          {% trans "SciELO Manager Status" %} 
          <small class="pull-right">
            {% blocktrans %}
              Updated about {{ elapsed_time|default_if_none:"0:00" }} ago
            {% endblocktrans %}
          </small>
        </h2>
      </div>

      {% if is_backend_available %}

        <div class="alert {% if is_fully_operational %}alert-success{% else %}alert-error{% endif %}">
        {% if is_fully_operational %}
          All systems operational
        {% else %}
          We are having some outages on our backend services
        {% endif %}
        </div>
        
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>{% trans "Service" %}</th>
              <th>{% trans "Description" %}</th>
              <th>{% trans "Status" %}</th>
            </tr>
          </thead>
          <tbody>
            {% for service, status in statuses.items %}
            <tr{% if not status.status %} class="error"{% endif %}>
              <td>{{ service }}</td>
              <td>{{ status.description }}</td>
              <td>
                {% if status.status %}
                  {% trans "Operational" %}
                {% else %}
                  {% trans "Offline" %}
                {% endif %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

      {% else %}
        <p>
        {% blocktrans %}
          Could not reach the health monitor. Keep calm and try again later.
        {% endblocktrans %}
        </p>
      {% endif %}

    </div>
  </div>
{% endblock main_content %}

{% block extrafooter %}
{% endblock extrafooter %}

