Django<1.5
South
psycopg2==2.4.1
wsgiref==0.1.2
scielo-django-extensions==0.4
ordereddict==1.1
pillow==2.3.0
django-widget-tweaks==1.1.1
lxml
pyyaml
webassets==0.7.1
yuicompressor
jsonfield
django-tastypie==0.9.16
django-htmlmin==0.7.0
packtools==1.1
Celery
django-celery
django-kombu
defusedxml==0.4.1
cython
thriftpy
django-countries==3.3
-e git+https://github.com/scieloorg/thriftpy-wrap@0.1.1#egg=thriftpywrap
elasticsearch==2.4.0
zerorpc>=0.4.4
