Django==1.3.4
South==0.7.3
psycopg2==2.4.1
wsgiref==0.1.2
scielo-django-extensions==0.4
python-memcached==1.48
django-cache-machine==0.6
ordereddict==1.1
pil==1.1.7
django-widget-tweaks==1.1.1
django-tastypie==0.9.11
lxml
pyyaml
webassets==0.7.1
yuicompressor
pymongo
django-htmlmin
porteira
