{% extends "base_lv0.html" %}

{% load i18n %}
{% load static %}
{% load menu_active %}

{% block base_struture %}
<style type="text/css">
	body { margin: 8px !important;}
	.container-base {padding-top: 40px;}
</style>

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="/">SciELO Manager</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="{% active '/stylechecker/$' %}"><a href="{% url validator.packtools.stylechecker %}">Style Checker</a></li>
          {% if enable_html_previewer %}
          <li class="{% active '/preview/html/$' %}"><a href="{% url validator.packtools.preview_html %}">HTML Previewer</a></li>
          {% endif %}
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>

<div class="container container-base">
	{% block main_content %}

	{% endblock main_content %}
</div> <!-- /container -->

{% endblock base_struture %}
{% block extrafooter %}

  <script type="text/javascript">

    function display_form_msg(msg, type, append){
      var form_messages = $('#form_messages');
      var html;
      form_messages.hide();

      html = '<div class="alert alert-'+ type +'">';
      html += '<a class="close" data-dismiss="alert" href="#">&times;</a>';
      html += msg;
      html += '</div>';
      if (append) {
        form_messages.append(html);
      } else {
        form_messages.html(html);
      }
      form_messages.show();
    }

</script>
{% endblock extrafooter %}

