{% load i18n %}
{% load modal %}

{% include "includes/journal_detail_info.html" %}

<style>
  .accordion-heading-btn-toolbar-wrapper {
    float: right;
    padding-right:5px;
    max-height: 36px;
  }
  .accordion-heading-btn-toolbar-wrapper .form_move_role .btn-toolbar {
    margin: 0 auto;
    padding: 0 auto;
  }
  .accordion-heading-btn-toolbar-wrapper .form_move_role .btn-toolbar .btn{
    height: 23px;
    padding-top: 8px;
  }
  .accordion-heading-btn-toolbar-wrapper .form_move_role .btn.btn-move-role.disabled {
    margin: 0;
  }
</style>
<div id="accordion-issues" class="accordion">

    {% for issue in issues %}
      {# accordion header #}
      <div class="accordion-heading">
        <a href="#collapse_issue_pk_{{ issue.pk }}" data-parent="#accordion-issues" data-toggle="collapse" class="accordion-toggle">
          {{ issue.publication_year }} &raquo; {% trans "Volume" %}: {{ issue.volume }} &raquo; {% trans "Number" %}: {{ issue.number }}
        </a>
      </div>
      {# accordion body #}
      <div class="accordion-body collapse {% if forloop.first %} in{% endif %}" id="collapse_issue_pk_{{ issue.pk }}">
        <div class="accordion-inner">
          {# left sidebar menu #}
          <div class="span2">
            <h5>{% trans "Actions" %}:</h5>
            {# left sidebar menu #}
            <ul class="nav nav-tabs nav-stacked">
              <li>
                <a href="{% url editorial.journal.edit journal.pk %}">
                  <i class="icon-pencil"></i> {% trans "Edit Journal" %}
                </a>
              </li>
              {% if perms.editorialmanager.add_editorialmember %}
                <li>
                  <a data-target='#id_modal_form' data-toggle="modal" href="{% url editorial.board.add journal.pk issue.pk %}">
                    <i class="icon-plus-sign"></i> {% trans "Add New Member" %}
                  </a>
                </li>
              {% endif %}
            </ul>
          </div>
          {# /left sidebar menu #}
          {# right side #}
          <div class="span10">
            <h5>{% trans "Editorial Board" %}:</h5>
            {% if issue.editorialboard %}
              <div class="accordion" id="accordion_members_{{ issue.pk }}_{{ issue.editorialboard.pk }}_{{ forloop.counter }}">
                {% with issue.editorialboard.editorialmember_set.all as board_members  %}

                    {% regroup board_members by role as role_list %}

                    {% for role in role_list %}

                      <div class="accordion-group">
                        <div class="accordion-heading">

                          <span>
                            <span class="accordion-heading-btn-toolbar-wrapper">
                              <form id="form_move_role_{{ issue.pk }}_{{ issue.editorialboard.pk }}_{{ forloop.counter }}"
                                    class="form_move_role" action="{% url editorial.board.move issue.journal.pk %}" method="POST">
                                {# hidden data to post #}
                                {% csrf_token %}
                                <input type="hidden" name="journal_pk" class="journal_pk" value="{{ issue.journal.pk }}">
                                <input type="hidden" name="issue_pk" class="issue_pk" value="{{ issue.pk }}">
                                <input type="hidden" name="board_pk" class="board_pk" value="{{ issue.editorialboard.pk }}">
                                <input type="hidden" name="role_name" class="role_name" value="{{ role.grouper }}">
                                <input type="hidden" name="role_position" class="role_position" value="{{ role.list.0.order }}">
                                <input type="hidden" name="direction" class="direction" value="">
                                {# 'direction' field, indicates if goes up or down, must be filled by js code, when the '.btn-move-role' is clicked #}

                                <div class="btn-toolbar">
                                  <div class="btn-group">
                                    <a href="#"
                                       class="btn btn-move-role {% if forloop.last %} disabled {% endif %}"
                                       data-direction="down"
                                       title="{% trans 'move DOWN this block' %}: {{ role.grouper }}">
                                      <i class="icon-arrow-down"></i>
                                    </a>
                                    <a href="#"
                                       class="btn btn-move-role {% if forloop.first %} disabled{% endif %}"
                                       data-direction="up"
                                       title="{% trans 'move UP this block' %}: {{ role.grouper }}">
                                      <i class="icon-arrow-up"></i>
                                    </a>
                                  </div>
                                </div>
                              </form>
                            </span>

                            <a class="accordion-toggle" data-toggle="collapse"
                               data-parent="#accordion_members_{{ issue.pk }}_{{ issue.editorialboard.pk }}_{{ forloop.parentloop.counter }}"
                               href="#collpase_{{ issue.pk }}_{{ issue.editorialboard.pk }}_{{ forloop.counter }}">
                              {{ forloop.counter }} - {{ role.grouper }}
                            </a>
                          </span>
                        </div>

                        <div id="collpase_{{ issue.pk }}_{{ issue.editorialboard.pk }}_{{ forloop.counter }}"
                             class="accordion-body collapse {% if forloop.first %} in{% endif %}">
                          <div class="accordion-inner">

                            <ul class="unstyled accordion-board-members">
                              {% for member in role.list %}
                                <li>
                                  <div class="board-member-details">

                                    <div class="span12">
                                      <div class="span10">

                                        <h4><strong>{{ member.get_full_name }}</strong> (order: {{ member.order }} )</h4>
                                        <p>
                                          {% if member.email %}
                                            <a href="mailto:{{ member.email }}">
                                              <i class="icon-envelope"></i> {{ member.email }}
                                            </a>
                                          {% endif %}
                                          {% if member.institution %} &bull; {{ member.institution }}{% endif %}
                                          {% if member.city %} &bull; {{ member.city }} {% endif %}
                                          {% if member.state %} &bull; {{ member.state }} {% endif %}
                                          {% if member.country %} &bull; {{ member.country }} {% endif %}
                                        </p>
                                      </div>
                                    {# actions: edit, delete #}
                                      <div class="span2 pull-right">

                                        <div class="btn-group pull-right">
                                          {% if perms.editorialmanager.change_editorialmember %}
                                            <a data-target='#id_modal_form' data-toggle="modal" href="{% url editorial.board.edit journal.pk member.pk %}" class="btn btn-mini btn-primary">
                                              <i class="icon-pencil"></i> {% trans "Edit" %}
                                            </a>
                                          {% endif %}
                                          {% if perms.editorialmanager.delete_editorialmember %}
                                            <a data-target='#id_modal_delete_member' data-toggle="modal" href="{% url editorial.board.delete journal.pk member.pk %}" class="btn btn-mini btn-danger">
                                              <i class="icon-remove"></i> {% trans "Delete" %}
                                            </a>
                                          {% endif %}
                                        </div>

                                      </div>
                                  </div>
                                </li>
                              {% endfor %}
                            </ul>

                          </div>
                        </div>
                      </div>
                      {% empty %}
                        <div class="alert alert-error">
                          <i class="icon-exclamation-sign"></i> {% trans "This issue has no associate members" %}
                        </div>
                    {% endfor %}
                {% endwith %}
              </div>

            {% else %}
              <div class="alert alert-error">
                <i class="icon-exclamation-sign"></i> {% trans "This issue has no Editorial Board associated" %}
              </div>
            {% endif %}
          </div>
          {# /right side #}
        </div>
      </div>
    {% empty %}
      <div class="alert alert-error">
        <i class="icon-exclamation-sign"></i> {% trans "Cannot retrieve the Editorial Board because this journal has no Issues" %}
      </div>
    {% endfor %}
  </div>
</div>

{% modal_form title="Edit Member" %}
{% modal_form title="Confirm to delete this Member" modal_id="id_modal_delete_member" %}
