{% load i18n %}
{% load tz %}
{% load pagination_tags %}
{% load trans_status %}

{% with filter_form as form %}
  {% include "articletrack/includes/filter_form.html" %}
{% endwith %}

<div class="row-fluid show-grid">
  <div class="span12">
    <div class="pull-right">
      {% simple_pagination checkins_collection pagination_prefix %}
    </div>
  </div>
</div>

<table id="{{ status }}_results" class="table table-striped table-condensed">
  <thead>
    <tr>
      <th>{% trans "Package" %}</th>
      <th>{% trans "Article" %}:</th>
      <th>{% trans "Journal" %}:</th>
      <th>{% trans "Issue label" %}:</th>
      <th>{% trans "Most recent upload" %}:</th>
      <th>{% trans "Error Level" %}:</th>
      {% if status == "review" %}
        <th>{% trans "Reviewed by" %}:</th>
        <th>{% trans "Reviewed at" %}:</th>
      {% elif status == "accepted" %}
        <th>{% trans "Accepted by" %}:</th>
        <th>{% trans "Accepted at" %}:</th>
      {% elif status == "rejected" %}
        <th>{% trans "Rejected by" %}:</th>
        <th>{% trans "Rejected at" %}:</th>
      {% endif %}
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    {% for checkin in checkins_collection.object_list %}
      <tr>
        <td>{{ checkin.package_name }}</td>
        <td>{{ checkin.article.article_title }}</td>
        <td>{{ checkin.article.journal_title }}</td>
        <td>{{ checkin.article.issue_label }}</td>
        <td>{{ checkin.created_at|timezone:user.get_profile.tz|date:"d/m/Y - H:i" }}</td>
        <td>
          {% if checkin.get_error_level == 'in progress' %}
            <span class="label label-info">
          {% else %}
            <span class="label label-{% trans_status checkin.get_error_level to_label='True' %}">
          {% endif %}
            {{ checkin.get_error_level }}
          </span>
        </td>
        {% if status == "review" %}
          <td>{{ checkin.reviewed_by.get_full_name|default:"--" }}</td>
          <td>{{ checkin.reviewed_at|timezone:user.get_profile.tz|date:"d/m/Y - H:i"|default:"--" }}</td>
        {% elif status == "accepted" %}
          <td>{{ checkin.accepted_by.get_full_name|default:"--" }}</td>
          <td>{{ checkin.accepted_at|timezone:user.get_profile.tz|date:"d/m/Y - H:i"|default:"--" }}</td>
        {% elif status == "rejected" %}
          <td>{{ checkin.rejected_by.get_full_name|default:"--" }}</td>
          <td>{{ checkin.rejected_at|timezone:user.get_profile.tz|date:"d/m/Y - H:i"|default:"--" }}</td>
        {% endif %}
        <td>
          <div class="btn-group">
            <a href="{% url checkin_history checkin.pk %}" class="btn btn-mini btn"><i class="icon-time"></i></a>
            <a href="{% url notice_detail checkin.pk %}" class="btn btn-mini btn">{% trans "Details" %}</a>
          </div>
        </td>
      </tr>
    {% empty %}
      <tr>
        <td colspan="9">
          <div class="alert alert-info">
            <i class="icon-info-sign"></i>
            {% trans 'There are no items.' %}
          </div>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<hr>
