{% load i18n %}

{% if tickets|length > 0 %}
  <table class="table table-condensed table-hover">
    <thead>
      <tr>
        <th class='span2'>{% trans "Author" %}:</th>
        <th>{% trans "Title" %}:</th>
        <th class='span2'></th>
      </tr>
    </thead>
    <tbody>
      {% for ticket in tickets %}
        <tr>
          <td>
            <img style="vertical-align:top;" src="{{ ticket.author.get_profile.avatar_url }}" alt="Gravatar">
            {{ ticket.author.get_full_name }}
          </td>
          <td>{{ ticket.title }}</td>
          <td>
            {% if ticket.is_open %}
              <a href="#" class="close_ticket btn btn-mini btn-warning" type="button" data-ticket-id='{{ ticket.pk }}'>
                <i class="icon-remove-circle"></i> {% trans "Close" %}
              </a>
            {% endif %}
            <a href="{% url ticket_detail ticket.id %}" class="btn btn-mini btn pull-right" type="button">{% trans "Details" %}</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <div class="alert">
    <strong>{% trans "No tickets" %}</strong>
  </div>
{% endif %}