{% load i18n %}
{% load urlize_ticket %}
{% load user_avatar %}

<table class="table table-condensed table-hover">
  <thead>
    <tr>
      <th class='span2'>{% trans "Author" %}:</th>
      <th>{% trans "Title" %}:</th>
      <th class='span2'></th>
    </tr>
  </thead>
  <tbody>
    {% for ticket in tickets %}
      <tr>
        <td>
          <img class="img-rounded" src="{% user_avatar_url ticket.author 'small' %}" alt="Gravatar">
          {{ ticket.author.get_full_name }}
        </td>
        <td>{{ ticket.title|capfirst|urlize_ticket_link }}</td>
        <td>
          {% if ticket.is_open %}
            <a href="#" class="close_ticket btn btn-mini btn-danger" type="button" data-ticket-id='{{ ticket.pk }}'>
              <i class="icon-remove-circle"></i> {% trans "Close" %}
            </a>
          {% endif %}
          <a href="{% url ticket_detail ticket.id %}" class="btn btn-mini btn pull-right" type="button">{% trans "Details" %}</a>
        </td>
      </tr>
    {% empty %}
      <tr>
        <td colspan='3'>
          <div class="alert alert-info">
            <i class="icon-info-sign"></i> {% trans "No tickets" %}
          </div>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>