{% load i18n %}
<table class="table table-striped _listings">
  <thead>
    <tr>
      <th>{% trans 'Press Release' %}</th>
      <th>{% trans 'DOI' %}</th>
    </tr>
  </thead>
  <tbody>
    {% for item in objects_pr.object_list %}
    <tr>
      <td>
        {% if item.translations.all|length > 1 %}
            {% for trans in item.translations.all %}
              {% if forloop.first %}
                <b><a href="{% url prelease.edit journal.id item.pk %}">{{ trans.title }}</a></b>
                <div class="toggler" style="display: none;">
              {% else %}
                <a href="{% url prelease.edit journal.id item.pk %}">{{ trans.title }}</a></br>
              {% endif %}
            {% endfor %}
          </div>
        {% else %}
          <b><a href="{% url prelease.edit journal.id item.pk %}">{{ item }}</a></b>
        {% endif %}
      </td>
      <td>
        {{ item.doi|default:"-" }}
      </td>
    </tr>
   {% empty %}
    <tr>
      <td colspan="2">{% trans 'There are no items.' %}</td>
    </tr>
    {% endfor %}
  <tbody>
</table>
