{% load i18n %}
<table class="table table-striped _listings">
  <thead>
    <tr>
      <th>{% trans 'Press Release' %}</th>
      <th>{% trans 'Issue' %}</th>
    </tr>
  </thead>
  <tbody>
    {% for item in objects_pr.object_list %}
    <tr>
      <td>
          <b><a href="{% url prelease.edit journal.id item.pk %}">{{ item }}</a></b>
          <small>(<a href="#">{% trans 'Todos os títulos' %}</a>)</small>
      </td>
      <td>
        {{ item.issue }}
      </td>
    </tr>
   {% empty %}
    <tr>
      <td colspan="2">{% trans 'There are no items.' %}</td>
    </tr>
    {% endfor %}
  <tbody>
</table>