{% load i18n %}
{% csrf_token %}

{% for error in form.non_field_errors %}
  <div class="alert alert-error">
    <strong>{{ error }}</strong>
  </div>
{% endfor %}


{% for field in form %}
  
  <div class="control-group {% if field.errors|length > 0 %}error{% endif %}">
  
    {{ field.label_tag }}
    <div class="controls">
      {{ field }}
      <span class="help-block">{{ field.help_text }}</span>
    </div>

  </div>
  
  {% for error in field.errors %}
    <div class="alert alert-error">
      <strong>{{ error }}</strong>
    </div>
  {% endfor %}

{% endfor %}

<span class="pull-right">
  <button class='btn btn-primary'>{% trans "Save" %} <i class="icon-arrow-right"></i></button>
</span>