{% load i18n %}
<h3>{% trans "Issue Cover" %}:</h3>
<div class="well">
  <div class="control-group {% if add_form.cover.errors %}error{% endif %}">
    <div class="controls">
      {{ add_form.cover }}
    </div>
    <div align="center">
      {% if has_cover_url %}
        <img src="{{ has_cover_url }}" />
      {% else %}
        <br>
        <div class="alert alert-info">
          <i class="icon-info-sign"></i>
          {% trans "This issue does not have a cover, it will use the default journal cover" %}
        </div>
      {% endif %}
    </div>
  </div>
</div>