{% load i18n %}
{% load static %}
{% load assets %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>{% block page_title %}Home{% endblock %} - SciELO Manager</title>
    <link rel="shortcut icon" href="/static/favicon.ico"/>
    {% block extrahead %}{% endblock %}
    {% assets "css" %}
      <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"/>
    {% endassets %}
  </head>
  <body data-offset="50" data-target=".subnav" data-spy="scroll" data-twttr-rendered="true">

  {% block base_struture %}
    {% block content %}{% endblock %}
  {% endblock %}
  {% assets "js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}
  <script type="text/javascript">
    $(document).ready(function(){
      $('#list_model').change(function(){
        $('#search-form').attr('action', $('#list_model :selected').val());
      });

      $('#search-form').attr('action', $('#list_model :selected').val());

      options = {placement:'bottom'}
      $(".tip-bottom").tooltip(options);
      $(".popover-bottom").popover(options)

      $('.search_filter').click(function(event){
        event.preventDefault();
        var qs = "?q=" + $("#search_input").val();
        window.location.href = $(this).attr("href") + encodeURI(qs);
      });

      $(":file").filestyle({
        buttonText: '{% trans "Browse" %}',
        classButton: 'btn btn-primary'
      });

    });
  </script>  
  {% block extrafooter %}{% endblock %}
  </body>
</html>
