{% load i18n %}
{% load waffle_tags %}

<div class="footer row-fluid">
  <div class="span3">
    <p>
      <strong>SciELO - Scientific Electronic Library Online <br/>
        <a href="http://www.fapesp.br" target="_blank">FAPESP</a> <a href="http://www.cnpq.br" target="_blank">CNPq</a>
        <a href="http://www.bireme.org">BIREME</a>
        <a href="http://www.fapunifesp.edu.br" target="_blank">FapUnifesp</a>
      </strong>
    </p>
    <p>Avenida Onze de Junho, 269 - Vila Clementino 04041-050 São Paulo</p>
    <p>Tel.: +55 11 5083-3639/59 - Email: <a href="mailto:scielo@scielo.org">scielo@scielo.org</a>
  </div>
  <div class="span2">
    <h4>{% trans 'Help' %}</h4>
    <ul>
      <li><a href="http://docs.scielo.org/projects/scielo-manager/en/latest/about.html" target="_blank">{% trans 'About' %}</a></li>
      <li><a href="http://docs.scielo.org/projects/scielo-manager/en/latest/" target="_blank">{% trans 'Documentation'%}</a></li>
      <li><a href="http://github.com/scieloorg/SciELO-Manager/issues/new">{% trans 'Report bug' %}</a></li>
      <li><a href="http://groups.google.com/group/scielo-discuss" target="_blank">{% trans 'Discuss mailing list' %}</a></li>
    </ul>
  </div>
  <div class="span2">
    <h4>{% trans 'Development' %}</h4>
    <ul>
      <li><a href="http://www.github.com/scieloorg/" target="_blank">{% trans 'GitHub' %}</a></li>
      <li><a href="http://groups.google.com/group/scielo-dev" target="_blank">{% trans 'Dev mailing list' %}</a></li>
    </ul>
  </div>
  <div class="span2">
    <h4>{% trans "Tools" %}</h4>
    <ul>
      <li>
        <a href="{% url validator.packtools.stylechecker %}">{% trans "Style Checker" %}</a>
      </li>
      <li>
        <a href="{% url validator.packtools.preview_html %}">{% trans "HTML Previewer" %}</a>
      </li>
    </ul>
  </div>
  <div class="span2">
    <form name="form_language" id="form_language" action="/i18n/setlang/" method="post">
      <input type="hidden" id="language" name="language">
      {% csrf_token %}
      <select id="lang_options" class="span12">
        <option value="pt-br" {% if LANGUAGE_CODE == 'pt-br' %}selected{% endif %}>Português</option>
        <option value="en" {% if LANGUAGE_CODE == 'en' %}selected{% endif %}>English</option>
        <option value="es" {% if LANGUAGE_CODE == 'es' %}selected{% endif %}>Español</option>
      </select>
    </form>
  </div>
</div>
