{% load i18n %}
{% load static %}
{% load assets %}
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/xhtml; charset=utf-8"/>
    <title>{% block page_title %}SciELO Manager{% endblock %}</title>
    <link rel="shortcut icon" href="/static/favicon.ico"/>
    {% assets "css" %}
      <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"/>
    {% endassets %}
    {% assets "js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
  </head>
  <body data-offset="50" data-target=".subnav" data-spy="scroll" data-twttr-rendered="true">
    <div class="banner-container">
        <div class="banner"><h1>Manager</h1></div>
    </div>
    {% block content %}{% endblock %}

    <div class="container-fluid">
      {% include 'footer.html' %}
    </div>
  </body>
