{% extends "registration/base.html" %}
{% load i18n %}
{% load static %}

{% block content %}
{{block.super}}
    {% if validlink %} 
        <div class="login_reset">
        	<div class="alert alert-block">
        		{% trans "Enter your new password below to reset your password:" %}
        	</div>

        <span class="label">{% trans "New Password" %}</span>

        <form method="post" action="">{% csrf_token %}
            <div class="well">
            {{ form.as_p}}
            </div>
            <div class="row-fluid">
                <input class="btn btn-primary" name="submit" type="submit" value="{% trans 'save' %}"/>
            </div>
        </form>
    </div>
    {% else %}
        <div class="login_reset">
            <div class="alert alert-block">
            {% trans "This link have already used to reset your password." %}
            </div>
        </div>
    {% endif %}
{% endblock %}
