{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% blocktrans %}
Greetings {{ user }},

You are receiving this email because you (or someone pretending to be you)
requested that your password be reset on {{ site_name }}. If you do not
wish to reset your password, please ignore this message.

To reset your password, please click the following link, or copy and paste it
into your web browser:
{% endblocktrans %}

http://{{ domain }}{% url registration.password_reset_confirm uid token %}