{% extends "base_list_lv0.html" %}
{% load i18n %}
{% load static %}
{% load scielo_common %}
{% load query_string %}
{% load inctag_toolbars %}

{% block page_title %}{% trans "List of attempts" %}{% endblock %}

{% block content %}

<div class="row-fluid show-grid">
  <div class="span10">
    <h4>{% trans 'List of Checkin' %}</h4>
  </div>
  <div class="2" style="text-align:right; margin-bottom:20px;">
    {% simple_pagination checkins %}
  </div>
</div>

<table class="table table-striped table-condensed">
  <thead>
    <tr>
      <th>{% trans "Collection" %}</th>
      <th>{% trans "Name" %}</th>
      <th>{% trans "Package" %}</th>
      <th>{% trans "Attempt" %}</th>
      <th>{% trans "Article Name" %}</th>
      <th>{% trans "Journal Name" %}</th>
      <th>{% trans "Issue" %}</th>
      <th>{% trans "Created" %}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for checkin in checkins.object_list %}
    <tr>
      <td>
        {{ checkin.collection.name }}
      </td>
      <td>
        {{ checkin.package_name }}
      </td>
      <td>
        {{ checkin.articlepkg_ref }}
      </td>
      <td>
        {{ checkin.attempt_ref }}
      </td>
      <td>
        {{ checkin.article_title|truncatewords:5 }}
      </td>
      <td>
        {{ checkin.journal_title }}
      </td>
      <td>
        {{ checkin.issue_label }}
      </td>
      <td>
        {{ checkin.created_at|date:"d/m/Y - H:i" }}
      </td>
      <td>
        <a href="{% url notice_detail checkin.id %}" class="btn btn-mini btn" type="button">{% trans "Details" %}</a>
        <a href="{% url checkin_history checkin.articlepkg_ref %}" class="btn btn-mini btn" type="button">{% trans "History" %}</a>
      </td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="5">{% trans 'There are no items.' %}</td>
    </tr>
    {% endfor %}
  <tbody>
</table>
{% endblock %}
