{% extends "base_list_lv0.html" %}
{% load i18n %}
{% load pagination_tags %}
{% load trans_status %}

{% block page_title %}{% trans "List of Checkins" %}{% endblock %}

{% block content %}

{# NAVIGATIONS #}
<div class="navbar">
  <div class="navbar-inner">
    <ul class="nav">
      <li>
        <a class="brand force-no-margin" href="#">{% trans 'List of Check-ins' %}:</a>
      </li>
      <li class="divider-vertical"></li>
    </ul>
  </div>
</div>

<ul class="nav nav-tabs">
  <li {% if prefered_tab == 'pending' %}class="active" {% endif %}>
    <a href="#PENDING" data-toggle="tab">
      <strong><i class="icon-time"></i> {% trans "Pending" %}</strong>
    </a>
  </li>
  <li {% if prefered_tab == 'rejected' %}class="active" {% endif %}>
    <a href="#REJECTED" data-toggle="tab">
      <strong><i class="icon-eye-close"></i> {% trans "Rejected" %}</strong>
    </a>
  </li>
  <li {% if prefered_tab == 'review' %}class="active" {% endif %}>
    <a href="#REVIEW" data-toggle="tab">
      <strong><i class="icon-eye-open"></i> {% trans "Review" %}</strong>
    </a>
  </li>
  <li {% if prefered_tab == 'accepted' %}class="active" {% endif %}>
    <a href="#ACCEPTED" data-toggle="tab">
      <strong><i class="icon-ok-circle"></i> {% trans "Accepted" %}</strong>
    </a>
  </li>
</ul>
<div class="tab-content">
  <div class="tab-pane {% if prefered_tab == 'pending' %}active {% endif %}" id="PENDING">
    {# PENDING LIST #}
    {% with status="pending" icon_class="icon-time" list_title="Pending" checkins_collection=checkins_pending pagination_prefix="pending_page" filter_form=pending_filter_form  %}
      {% include "articletrack/includes/checkin_list_and_filterform.html" %}
    {% endwith %}
  </div>
  <div class="tab-pane {% if prefered_tab == 'rejected' %}active {% endif %}" id="REJECTED">
    {# REJECTED LIST #}
    {% with status="rejected" icon_class="icon-eye-close" list_title="Rejected" checkins_collection=checkins_rejected pagination_prefix="rejected_page" filter_form=rejected_filter_form  %}
      {% include "articletrack/includes/checkin_list_and_filterform.html" %}
    {% endwith %}
  </div>
  <div class="tab-pane {% if prefered_tab == 'review' %}active {% endif %}" id="REVIEW">
    {# REVIEW LIST #}
    {% with status="review" icon_class="icon-eye-open" list_title="Review" checkins_collection=checkins_review pagination_prefix="review_page" filter_form=review_filter_form  %}
      {% include "articletrack/includes/checkin_list_and_filterform.html" %}
    {% endwith %}
  </div>
  <div class="tab-pane {% if prefered_tab == 'accepted' %}active {% endif %}" id="ACCEPTED">
    {# ACCEPTED LIST #}
    {% with status="accepted" icon_class="icon-ok-circle" list_title="Accepted" checkins_collection=checkins_accepted pagination_prefix="accepted_page" filter_form=accepted_filter_form  %}
      {% include "articletrack/includes/checkin_list_and_filterform.html" %}
    {% endwith %}
  </div>
</div>

{% endblock %}
{% block extrafooter %}
  {{ block.super }}
  <script>
    $(function () {
      $('.hide-form').click(function(event) {
        var form = $(this).parents('form');
        form.find('.filter-action').hide();
        form.find('.filter-fields').slideUp();
      });
      $('.show-form').click(function(event) {
        var form = $(this).parents('form');
        form.find('.filter-action').show();
        form.find('.filter-fields').slideDown();
      });
      $('.filter-form').each(function(index, el) {
        var form = $(el);
        var has_all_empty_fields = form.find("input, select").map(function(){ return this.value; }).get().join('') === "";
        if (has_all_empty_fields) {
          form.find('.filter-action').hide();
          form.find('.filter-fields').hide();
          form.find('.hide-form').addClass('active');
          form.find('.show-form').removeClass('active');
        }
      });
    });
  </script>

{% endblock extrafooter %}
