{% extends "base_list_lv0.html" %}
{% load i18n %}
{% load static %}
{% load trans_status %}
{% load scielo_common %}
{% load query_string %}
{% load inctag_toolbars %}

{% block page_title %}{% trans "List of Notice" %}{% endblock %}

{% block content %}

<div class="row-fluid show-grid">
  <div class="span10">
    <h4>{% trans 'List of notice for package' %}: <span class="muted">{{ checkin.package_name }} {% trans 'upload at' %} {{ checkin.uploaded_at }}</span></h4>
  </div>
  <div class="2" style="text-align:right; margin-bottom:20px;">
    {% simple_pagination notices %}
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th>{% trans "Stage" %}</th>
      <th>{% trans "Status" %}</th>
      <th>{% trans "Message" %}</th>
      <th>{% trans "Created_at" %}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for notice in notices.object_list %}
    <tr class="{% trans_status notice.status %}">
      <td>
        {{ notice.stage }}
      </td>
      <td>
        {{notice.status}}
      </td>
      <td>
        {{ notice.message }}
      </td>
      <td>
        {{ notice.created_at|date:"d/m/Y - H:i" }}
      </td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="5">{% trans 'There are no items.' %}</td>
    </tr>
    {% endfor %}
  <tbody>
</table>
{% endblock %}
