{% extends "base_list_lv0.html" %}
{% load i18n %}

{% block page_title %}{% trans "Edit Ticket" %}{% endblock %}

{% block content %}

<div class="row-fluid show-grid">
   <div class="page-header">
    <h1>
      {% if ticket.is_open %}
        <span class="label label-success">{% trans "Open" %}</span> 
      {% else %}
        <span class="label label-important">{% trans "Closed" %}</span> 
      {% endif %}
      {{ ticket.title|title }} <small>#{{ ticket.pk }}</small>
    </h1>
  </div>
  <div class='row'>
    <div class="span10 offset1">
      <form action='.' method='POST'>
        {% include "articletrack/includes/form_snippet.html" %}
      </form>
    </div>
  </div>
</div>

<!-- NAVIGATIONS -->
<div class="row">
  <div class="span12">
    <div class="btn-group">
      <a class="btn disabled">{% trans 'Go to' %}:</a>
      <a class="btn "href="{% url ticket_detail ticket.pk %} ">{% trans "View Ticket" %}: {{ ticket.pk }}</a>
      <a class="btn" href="{% url checkin_index %}"><i class="icon-arrow-left"></i> {% trans "List of check ins" %}</a>
    </div>
  </div>
</div>

{% endblock %}