{% extends "base_list_lv0.html" %}
{% load i18n %}
{% load pagination_tags %}

{% block page_title %}{% trans "List of Tickets" %}{% endblock %}

{% block content %}

<div class="row-fluid show-grid">
  <div class="span10">
    <h4>{% trans 'List of Tickets' %}:</h4>
  </div>
  <div class="2" style="text-align:right; margin-bottom:20px;">
    {% simple_pagination tickets %}
  </div>
</div>

<table class="table table-striped table-condensed">
  <thead>
    <tr>
      <th>{% trans "Article" %}:</th>
      <th>{% trans "Author" %}:</th>
      <th>{% trans "Title" %}:</th>
      <th>{% trans "Created" %}:</th>
      <th>{% trans "Status" %}:</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for ticket in tickets.object_list %}
    <tr>
      <td>
        {{ ticket.article.article_title|truncatewords:5 }}
      </td>
      <td>
        <img style="vertical-align:top;" src="{{ ticket.author.get_profile.avatar_url }}" alt="Gravatar">
        {{ ticket.author.get_full_name|title }}
      </td>
      <td>
        {{ ticket.title }}
      </td>
      <td>
        {{ ticket.started_at|date:"d/m/Y - H:i" }}
      </td>
      <td>
      	{% if ticket.is_open %}
      		<span class="label label-success">{% trans "Open" %}</span>
      	{% else %}
      		<span class="label label-important">{% trans "Closed" %}</span>
      	{% endif %}
      </td>
      <td>
        <a href="{% url ticket_detail ticket.id %}" class="btn btn-mini btn" type="button">{% trans "Details" %}</a>
      </td>
    </tr>
    {% empty %}
      <tr>
        <td colspan="5">
          <div class="alert alert-info">
            <i class="icon-info-sign"></i>
            {% trans 'There are no items.' %}
          </div>
        </td>
      </tr>
    {% endfor %}
  <tbody>
</table>
{% endblock %}
