{% extends "base_list_lv0.html" %}
{% load i18n %}
{% load urlize_ticket %}
{% load user_avatar %}

{% block page_title %}{% trans "Ticket detail" %}{% endblock %}

{% block content %}

  <!-- NAVIGATIONS -->
  <div class="navbar">
    <div class="navbar-inner">
      <ul class="nav">
        <li>
          <a href="{% url checkin_index %}"><i class="icon-chevron-left"></i> {% trans "List of Articles in submission" %}</a>
        </li>
        <li class="divider-vertical"></li>
        <li class="active">
          <a href="#">{% trans "Ticket" %}: #{{ ticket.pk }}</a>
        </li>
      </ul>
      <ul class="nav pull-right">
        <li class="divider-vertical"></li>
        <li><a href="#comments" role="menuitem"><i class="icon-comment"></i> {% trans "Comments" %}</a></li>
      </ul>
    </div>
  </div>

  <div class="page-header">
    <h1>
      {% if ticket.is_open %}
        <span class="label label-success">{% trans "Open" %}</span> 
      {% else %}
        <span class="label label-important">{% trans "Closed" %}</span> 
      {% endif %}
      {{ ticket.title|capfirst|urlize_ticket_link }} <small>#{{ ticket.pk }}</small>
    </h1>
    {% if not ticket.is_open %}
      <div class="alert alert-info">
        <strong>
          <i class="icon-ban-circle"></i> {% trans "The ticket was closed" %}
        </strong>
        <a class='muted time_ago_tooltip' href='#' data-toggle="tooltip" title='{{ ticket.finished_at }}'>{{ ticket.finished_at|timesince }} {% trans "ago" %}</a>
      </div>
    {% endif %}
  </div>

  <div class="row-fluid show-grid">
    <div class="span12">
      <p class='muted'>
        <img  class="img-rounded" src="{% user_avatar_url ticket.author 'medium' %}" alt="Gravatar">
        {{ ticket.author.get_full_name }} 
        {% trans "created this ticket" %}
        <a class='muted time_ago_tooltip' href='#' data-toggle="tooltip" title='{{ ticket.started_at }}'>{{ ticket.started_at|timesince }} {% trans "ago" %}</a>
        <span class='pull-right'>
          {{ ticket.comments.all|length }} {% trans "comments" %}
        </span>
      </p>
      <div class='message_top_arror_box'>
        {{ ticket.message|urlize_ticket_link|linebreaksbr }}
      </div>
    </div>

    {% if ticket.is_open %}
    
      <div id='action_buttons_row'>
                
        {% if perms.ticket.can_change %}

          <div class="btn-group pull-right">
            <a href="{% url ticket_edit ticket.pk %}" class='btn btn-primary'>
              <i class="icon-pencil"></i> {% trans "Edit" %}
            </a>
            <a id='close_ticket' href="#" class="btn btn-warning" type="button">
              <i class="icon-remove-circle"></i> {% trans "Close" %}
            </a>
          </div>

        {% endif %}
      </div>

    {% endif %}

  </div>

  {% if ticket.is_open %}
    <!-- ADD COMMENT FORM -->
    <div id='add_comment_section_row' class='row hide_row'>
      <div class="span10 offset1">
        <form id='add_comment_form' action='.' method='POST'>
          {% csrf_token %}
          <div id='form_error_msg' class="alert alert-error" style='display:none;'></div>
          {{ form }}
          {% include "articletrack/includes/help_text_ticket_link.html" %}
          <input type='button' id='discard_comment' class='btn btn-danger pull-left' value='{% trans "Discard" %}'/>
          <input type='submit' class='btn btn-primary pull-right' value='{% trans "Save" %}'/>
        </form>
      </div>
    </div>
  {% endif %}
  <hr>
  <!-- COMMENTS -->
  
  <a name="comments"></a><br><br>
  <div class="row-fluid show-grid">
    <div class="span10">
      <h4>{% trans "Comments" %}:</h4>
    </div>
    <div class="span2">

        {% if ticket.is_open and perms.comment.can_add %}
          <a id='add_comment' href="#" class="btn btn-success pull-right" type="button">
            <i class="icon-plus-sign"></i> {% trans "Add Comment" %}
          </a>
        {% endif %}

    </div>
  </div>

  {% for comment in ticket.comments.all %}

    <div class="row-fluid show-grid">
      <div class="span1">
        <img class="img-rounded" src="{% user_avatar_url comment.author 'medium' %}" alt="Gravatar">
        <br>
        <small>{{ comment.author.get_full_name }}</small>
      </div>
      <div class="span11">
        <div class='comment_left_arrow_box'>
          <small>
            {% trans "Commented" %}: 
            <a class='muted time_ago_tooltip' href='#' data-toggle="tooltip" title='{{ comment.created_at }}'>{{ comment.created_at|timesince }} {% trans "ago" %}</a>
            {% if comment.created_at|date:"d/m/Y - H:i" != comment.updated_at|date:"d/m/Y - H:i" %}
              <em>
                ({% trans "Updated" %}: <a class='muted time_ago_tooltip' href='#' data-toggle="tooltip" title='{{ comment.updated_at }}'>{{ comment.updated_at|timesince }} {% trans "ago" %}</a>)
              </em>
            {% endif %}
            {% if request.user == comment.author and comment.ticket.is_open %}
              <span class='pull-right'>
                <a href="{% url comment_edit comment.pk %}" class='btn btn-mini'><i class="icon-pencil"></i> {% trans "Edit" %}</a>
              </span>
            {% endif %}
          </small>
        </div>
        <div class='comment_message_box'>
          {{ comment.message|urlize_ticket_link|linebreaksbr }}
        </div>
      </div>
    </div>

  {% empty %}
    <div class="alert alert-info">
      <i class="icon-info-sign"></i> {% trans "No comments" %}
    </div>
  {% endfor %}

{% endblock %}

{% block extrafooter %}
  <script type="text/javascript">
    $(document).ready(function(){
      $('#form_error_msg').text('').hide();
      $('#add_comment').click(function(event){
        event.preventDefault(); 
        $('#action_buttons_row').hide();
        $('#add_comment_section_row').show();
        $('#id_message').focus();
        $(this).addClass('disabled');
      });
      $('#discard_comment').click(function(event){
        if (confirm('{% trans "The message of the comment will be unsaved, are you sure?" %}')) {
          window.location.reload();
        }
      });
      $('#close_ticket').click(function(event){
        if (confirm('{% trans "the ticket will be closed, are you sure?" %}')) {
          window.location.href = '{% url ticket_close ticket.pk %}';
        }
      });
      $('#add_comment_form').submit(function(){
        var txt = $(this).find('#id_message').val();
        if ($.trim(txt) == '') {
          $('#form_error_msg').text('{% trans "This field is required." %}').show();
          return false;
        }
        return true;
      });
      $('.time_ago_tooltip').tooltip();
    });
  </script>
{% endblock %}