{% extends "registration/base.html" %}
{% load i18n %}
{% load widget_tweaks %}

{% block content %}

{% if on_maintenance %}
<div class="well">
  <table id="maintenances" class="table table-condensed" name="maintenances">
    <thead>
      <th colspan="2">{% trans 'Maintenance Schedule' %}<th>
    </thead>
    <tbody>
      <tr>
        <td><strong>From</strong></td>
        <td><strong>To</strong></td>
        <td><strong>Description</strong></td>
      </tr>
      {% for event in system_notes %}
      <tr>
        <td>{{ event.begin_at }}</td>
        <td>{{ event.end_at }}</td>
        <td> {{ event.description }}</td>
      </tr>
      {% empty %}
      <tr><td>{% trans 'There are no items.' %}</td></tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% else %}
<div class="login">

  {% if form.errors %}
    <div class="alert alert-danger">
      {% trans "Sorry, that's not a valid username or password" %}
    </div>
  {% endif %}
  <legend>{% trans 'Sign in' %}</legend>
  <form action="" method="post" style="margin: 0 0 3px;">
    <fieldset>
      <input type="hidden" value="{{ next|escape }}" name="next" />
      {% csrf_token %}
      <div class="control-group">
        <label class="control-label"
               for="{{ form.username.auto_id }}">{% trans 'Username or email' %}</label>
          <div class="controls">
            {{ form.username|attr:"class:span3" }}
          </div>
      </div>
     <div class="control-group">
     <label class="control-label"
            for="{{ form.password.auto_id }}">{% trans form.password.label %}</label>
        <div class="controls">
          {{ form.password|attr:"class:span3" }}
        </div>
      </div>
      <input class="btn btn-primary" type="submit" value="{% trans 'Log in' %}" />
    </fieldset>
  </form>

  <div style="text-align: right;">
    <a href="{% url registration.password_reset %}"
       title="{% trans 'Forgot your password?' %}">
      {% trans 'Forgot your password?' %}
    </a>
  </div>
</div>
{% endif %}
{% endblock %}