{% extends "registration/base.html" %}
{% load i18n %}

{% block content %}
<div class="login">

  {% if form.errors %}
    <p class="error">
      {% trans "Sorry, that's not a valid username or password" %}
    </p>
  {% endif %}

  <form action="" method="post">
    <fieldset>
      <input type="hidden" value="{{ next|escape }}" name="next" />
      {% csrf_token %}
      <div class="control-group">
        <label class="control-label"
               for="{{ form.username.auto_id }}">{% trans 'Username or email' %}</label>
          <div class="controls">
            {{ form.username }}
          </div>
      </div>
     <div class="control-group">
     <label class="control-label"
            for="{{ form.password.auto_id }}">{% trans form.password.label %}</label>
        <div class="controls">
          {{ form.password }}
        </div>
      </div>
      <input class="btn btn-primary" type="submit" value="{% trans 'Log in' %}" />
    </fieldset>
  </form>

  <div style="text-align: right;">
    <a href="{% url registration.password_reset %}"
       title="{% trans 'Forgot your password?' %}">
      {% trans 'Forgot your password?' %}
    </a>
  </div>
</div>
{% endblock %}