{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load scielo_common %}

{% block extrahead %}

{% endblock %}

{% block body_title %}{% trans "objects_center" %}{% endblock %}

{% block stepmenu_top %}
{{ block.super }}
<ul class="breadcrumb">
  <li><a href="{% url index %}">{% trans 'Home' %}</a> <span class="divider">/</span></li>
  <li class="active">{% trans 'Forgot username or password' %}</li>
</ul><!--breadcrumb-->
{% endblock %}

{% block body %}
<p>
{% trans "Enter your new password below to reset your password:" %}
</p>
<span class="label">{% trans "New Password" %}</span>

<form method="post" action="">{% csrf_token %}
    <div class="well">
    {{ form.as_p}}
    </div>
    <div class="row-fluid">
        <input class="btn btn-primary" name="submit" type="submit" value="{% trans 'save' %}"/>
    </div>
</form>
{% endblock %}