{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load scielo_common %}

{% block extrahead %}

{% endblock %}

{% block body_title %}{% trans "objects_center" %}{% endblock %}

{% block stepmenu_top %}
{{ block.super }}
<ul class="breadcrumb">
  <li><a href="{% url index %}">{% trans 'Home' %}</a> <span class="divider">/</span></li>
  <li class="active">{% trans 'Forgot username or password' %}</li>
</ul><!--breadcrumb-->
{% endblock %}

{% block body %}
<p>
{% trans "Your password has been reseted! You may now login in using your new credentials" %}
</p>
{% endblock %}
