{% extends "base.html" %}
{% load i18n %}

{% block stepmenu_top %}
  {{ block.super }}
  / <a href="#">{% trans 'Home' %}</a> / {% trans 'Forgot username or password' %}
{% endblock %}

{% block body %}
  <p>
  {% trans "Enter your e-mail in the form below and we will send your username and instructions to create a new password." %}
  </p>
  <form method="post" action="">{% csrf_token %}
    {{ form.as_p }}
    <input class="addNew" type="submit" value="{% trans 'Send E-mail' %}" />
  </form>
{% endblock %}

{% block endjs %}{{ block.super }}
  <script type="text/javascript">
    var email = document.location.href.match(/\?email=([^&]*)/);
    if( email ){$("#id_email").val(email[1]);}
  </script>
{% endblock %}
