{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}css/jquery.asmselect.css"/>
{% endblock %}

{% block stepmenu_top %}
{{ block.super }}
<ul class="breadcrumb">
    <li><a href="{% url index %}">{% trans 'Home' %}</a> <span class="divider">/</span></li>
    <li><a href="{% url journal.index %}">{% trans 'Journals Dashboard' %}</a> <span class="divider">/</span></li>
    <li><a href="{% url issue.index journal.id %}">{{journal.title}} <span class="divider">/</span> {% trans 'Issue Dashboard' %}</a> <span class="divider">/</span></li>
    <li class="active">{% trans 'New Issue' %}</li>
</ul>
{% endblock %}

{% block body %}
    <span class="label">{% trans "Issue Information" %}</span>
    <form method="post" action="#">{% csrf_token %}
        <table class="well">
            <col width="10%"/>
            <col width="85%"/>
            {% if add_form.errors %}
                {% for field in add_form %}
                        <tr><td>{{ field.label_tag }}</td><td>{{ field }} {% if field.errors %}<span class="field_errors"><img src="/static/images/error.png" border="0" width="20px" height="20px" /> {% trans "field required!" %}</span></td>{%endif%}</tr>
                {% endfor %}
            {% else %}
                {{ add_form.as_table }}
            {% endif %}
        </table>
        <input class="btn btn-primary" name="submit" type="submit" value="{% trans 'save' %}">
        <input class="btn btn-warning" name="reset" type="reset" value="{% trans 'cancel' %}">
    </form>
{% endblock %}

{% block extrafooter %}
    <script type="text/javascript" src="{% get_static_prefix %}js/asmselect/jquery.asmselect.js"></script>
    <script type="text/javascript" src="{% get_static_prefix %}js/multiselect.js"></script>
{% endblock %}
