{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load journalmanager_template_tags %}

{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}css/jquery.asmselect.css"/>
    <link rel="stylesheet" href="{{ jquery_ui_css_url }}" type="text/css" media="all" />
{% endblock %}

{% block stepmenu_top %}

{{ block.super }}
<ul class="breadcrumb">
    <li><a href="{% url index %}">{% trans 'Home' %}</a> <span class="divider">/</span></li>
    <li><a href="{% url journal.index %}">{% trans 'Journals Dashboard' %}</a> <span class="divider">/</span></li>
    <li><a href="{% url section.index journal.id %}">{{journal.title}} <span class="divider">/</span> {% trans 'Issue Dashboard' %}</a> <span class="divider">/</span></li>
    <li class="active">{% trans 'New Section' %}</li>
</ul>
{% endblock %}

{% block body %}
<form method="post" action="#">
    {% csrf_token %}

    {% for field in form %}
        <div class="fieldWrapper">
            {{ field.errors }}
            {{ field.label_tag }}: {{ field }}
        </div>
    {% endfor %}

    <span class="label">{% trans "Section Information" %}</span>
    <div class="well">
        <div class="clearfix {% if add_form.title.errors %}error{% endif %}">
            {{ add_form.title.label_tag }}
            <div class="input">
                {{ add_form.title }}
                {% if add_form.title.errors %}<span class="help-inline">{% trans "Field required!" %}</span>{% endif %}
            </div>
        </div>
        <div class="clearfix">
            {{ add_form.code.label_tag }}
            <div class="input">
                {{ add_form.code }}
            </div>
        </div>
        <div class="clearfix">
            {{ add_form.is_available.label_tag }}
            <div class="input">
                {{ add_form.is_available }}
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <input class="btn btn-primary" name="submit" type="submit" value="{% trans 'save' %}"/>
        <input class="btn btn-warning" type="reset" value="{% trans 'cancel' %}"/>
    </div>
</form>
{% endblock %}

{% block extrafooter %}
    <script type="text/javascript" src="{% get_static_prefix %}js/asmselect/jquery.asmselect.js"></script>
    <script type="text/javascript" src="{{ jquery_ui_url }}"></script>
    <script type="text/javascript" src="{% get_static_prefix %}js/combobox/combobox.js"></script>
    <script type="text/javascript" src="{% get_static_prefix %}js/multiselect.js"></script>
    <script type="text/javascript" src="{% get_static_prefix %}bootstrap/js/bootstrap-tooltip.js"></script>
    <script type="text/javascript" src="{% get_static_prefix %}bootstrap/js/bootstrap-popover.js"></script>

    <script>
        $(document).ready(function() {

            $( "#id_publisher" ).combobox({ autoFocus: true });

            $( "#toggle" ).click(function() {
                $( "#id_publisher" ).toggle();
            });
            $(".help-text").popover('hide');
        });
    </script>
{% endblock %}
