{% extends "base_form.html" %}
{% load i18n %}
{% load static %}
{% load scielo_common %}

{% block breadcrumb %}
<ul class="breadcrumb">
    <li><a href="{% url index %}">{% trans 'Home' %}</a> <span class="divider">/</span></li>
    <li><a href="{% url journal.index %}">{% trans 'Journal Dashboard' %}</a> <span class="divider">/</span></li>
    <li class="active">{% trans 'New Journal' %}</li>
</ul>
{% endblock %}

{% block shortaccess %}
<div class="well sidebar-nav" style="margin-bottom: 10px;">
  <ul class="nav nav-list">
    <li class="nav-header">{% trans 'Short Access' %}</a></li>
    <li><a href="{% url journal.add %}">{% trans 'Add Journal' %}</a></li>
    <li><a href="#">{% trans 'Add Issue' %}</a></li>
    <li><a href="#">{% trans 'Add Section' %}</a></li>
  </ul>
</div>
{% endblock %}

{% block formindex %}
  <div id="well-rezi-fixed" class="well" style="position:fixed;top:200px;left:30px;padding:1px;">
    <ul class="nav nav-list">
     <li class="nav-header" style="cursor: pointer; cursor: hand">{% trans 'Form Index' %}</li><a>
      <li><a href="#title">{% trans 'Title' %}</a></li>
      <li><a href="#other_title">{% trans 'Other Titles' %}</a></li>
      <li><a href="#issn">{% trans 'ISSN' %}</a></li>
      <li><a href="#journal_collection">{% trans 'Journal Collections' %}</a></li>
      <li><a href="#subject">{% trans 'Subjects' %}</a></li>
      <li><a href="#mission">{% trans 'Mission' %}</a></li>
      <li><a href="#text_language">{% trans 'Text Language' %}</a></li>
      <li><a href="#system_information">{% trans 'System Information' %}</a></li>
      <li><a href="#publisher_and_sponsor">{% trans 'Publisher and Sponsor' %}</a></li>
      <li><a href="#license">{% trans 'Licenses' %}</a></li>
      <li><a href="#formal_information">{% trans 'Formal Information' %}</a></li>
      <li><a href="#further_information">{% trans 'Further Information' %}</a></li>
    </ul>
  </div>
{% endblock %}

{% block body %}
<form method="post" action="#">
    {% csrf_token %}
  <span class="label"><a name="title"></a>{% trans "Titles" %}</span>
  <div class="well">

    <div class="control-group {% if add_form.title.errors %}error{% endif %}">
      <label for="{{ add_form.title.auto_id }}">
        <span {% if add_form.title.field.required %}class="req-field"{% endif %}>
          {% trans add_form.title.label %}
        </span>
      </label>
      <div class="controls">
        {{ add_form.title }}
        {% field_help add_form.title.label add_form.title.help_text term-journal-title %}
      </div>
    </div>

    <div class="control-group {% if add_form.title_iso.errors %}error{% endif %}">
      <label for="{{ add_form.title_iso.auto_id }}">
        <span {% if add_form.title_iso.field.required %}class="req-field"{% endif %}>
          {% trans add_form.title_iso.label %}
        </span>
      </label>
      <div class="controls">
        {{ add_form.title_iso }}
      </div>
    </div>

    <div class="control-group {% if add_form.short_title.errors %}error{% endif %}">
      <label for="{{ add_form.short_title.auto_id }}">
        <span {% if add_form.short_title.field.required %}class="req-field"{% endif %}>
          {% trans add_form.short_title.label %}
        </span>
      </label>
      <div class="controls">
        {{ add_form.short_title }}
      </div>
    </div>

    <div class="control-group {% if add_form.previous_title.errors %}error{% endif %}">
      <label for="{{ add_form.previous_title.auto_id }}">
        <span {% if add_form.previous_title.field.required %}class="req-field"{% endif %}>
          {% trans add_form.previous_title.label %}
        </span>
      </label>
      <div class="controls">
        {{ add_form.previous_title }}
        {% field_help add_form.previous_title.label add_form.previous_title.help_text term-previous-title %}
      </div>
    </div>
  </div>

  <span class="label"><a name="other_title"></a>{% trans "Other Titles" %}</span>
  <div class="well">
      <table id="titleformset" class="table table-bordered table-striped">
      <thead>
        <tr>
          <td>{% trans "Other Titles" %}</td>
          <td>{% trans "Category" %}</td>
        </tr>
      </thead>
      <tbody>
        {% for form in titleformset.forms %}
        <tr id="{{ form.prefix }}-row">
          <td>
              {% for field in form.hidden_fields %}{{ field }}{% endfor %}
              {% if form.instance.pk %}{{ form.DELETE }}{% endif %}
              {{ form.title }}
          </td>
          <td>{{ form.category }}</td>
        </tr>
        {% endfor %}
      </tbody>
      </table>
      <p>
          {{ titleformset.management_form }}
      </p>
  </div>

  <span class="label"><a name="issn"></a>{% trans "ISSN" %}</span>
  <div class="well">
    <span class="help-inline">
      {% for error in add_form.scielo_issn.errors %}
        {{ error }}
      {% endfor %}
    </span>

    <div class="control-group {% if add_form.print_issn.errors %}error{% endif %}">
      <label for="{{ add_form.print_issn.auto_id }}">
        <span {% if add_form.print_issn.field.required %}class="req-field"{% endif %}>
          {% trans add_form.print_issn.label %}
        </span>
      </label>
      <div class="controls">
      	 {{ add_form.print_issn }}
         {% field_help add_form.print_issn.label add_form.print_issn.help_text term-print-issn %}
        <span class="help-inline">
          {% for error in add_form.print_issn.errors %}
            {{ error }}
          {% endfor %}
        </span>
      </div>
    </div>

    <div class="control-group {% if add_form.eletronic_issn.errors %}error{% endif %}">
      <label for="{{ add_form.eletronic_issn.auto_id }}">
        <span {% if add_form.eletronic_issn.field.required %}class="req-field"{% endif %}>
          {% trans add_form.eletronic_issn.label %}
        </span>
      </label>
      <div class="controls">
      <span class="help-inline">
         {{ add_form.eletronic_issn }}
         {% for error in add_form.eletronic_issn.errors %}
            {{ error }}
         {% endfor %}
         </span>
      </div>
    </div>

    <div class="control-group">
      <label for="{{ add_form.scielo_issn.auto_id }}">
        <span {% if add_form.scielo_issn.field.required %}class="req-field"{% endif %}>
          {% trans add_form.scielo_issn.label %}
        </span>
      </label>
      <div class="controls">
         {{ add_form.scielo_issn }}
         {% field_help add_form.scielo_issn.label add_form.scielo_issn.help_text term-scielo-issn %}
      </div>
    </div>
  </div>

  <span class="label"><a name="journal_collection"></a>{% trans "Journal Collections" %}</span>
    <div class="well">
      <div class="control-group {% if add_form.collections.errors %}error{% endif %}">
        <label for="{{ add_form.collections.auto_id }}">
          <span {% if add_form.collections.field.required %}class="req-field"{% endif %}>
            {% trans add_form.collections.label %}
          </span>
        </label>
        <div class="controls">
           {{ add_form.collections }}
           {% field_help add_form.collections.label add_form.collections.help_text term-collections %}
        </div>
      </div>
    </div>

  <span class="label"><a name="subject"></a>{% trans "Subject" %}</span>
  <div class="well">
    <table id="studyareaformset" class="table table-bordered table-striped">
      <thead>
          <tr>
          	<td>
          		{% trans "Study Area" %}
              	{% field_help studyareaformset.forms.0.study_area.label studyareaformset.forms.0.study_area.help_text term-study-area %}
            </td>
          </tr>
      </thead>
      <tbody>
          {% for form in studyareaformset.forms %}
          <tr id="{{ form.prefix }}-row">
              <td>
                  {% for field in form.hidden_fields %}{{ field }}{% endfor %}
                  {% if form.instance.pk %}{{ form.DELETE }}{% endif %}
                  {{ form.study_area }}
              </td>
          </tr>

          {% endfor %}
      </tbody>

    </table>
    <p>
      {{ studyareaformset.management_form }}
    </p>
    <div class="control-group {% if add_form.subject_descriptors.errors %}error{% endif %}">
        <label for="{{ add_form.subject_descriptors.auto_id }}">
          <span {% if add_form.subject_descriptors.field.required %}class="req-field"{% endif %}>
            {% trans add_form.subject_descriptors.label %}
          </span>
        </label>
        <div class="controls">
           {% field_help add_form.subject_descriptors.label add_form.subject_descriptors.help_text term-subject-descriptors %}
           {{ add_form.subject_descriptors }}
        </div>
    </div>
  </div>

  <span class="label"><a name="mission"></a>{% trans "Mission" %}</span>
  <div class="well">
    <table id="missionformset" class="table table-bordered table-striped">
    <thead>
        <tr>
          <td>
          	{% trans "Description" %}
          	{% field_help missionformset.forms.0.description.label missionformset.forms.0.description.help_text term-mission %}
          </td>
          <td>
            {% trans "Language" %}
          </td>
        </tr>
    </thead>
    <tbody>
        {% for form in missionformset.forms %}
        <tr id="{{ form.prefix }}-row">
          <td>
            <div class="control-group {% if form.errors %}error{% endif %}">
              {% for field in form.hidden_fields %}{{ field }}{% endfor %}
              {% if form.instance.pk %}{{ form.DELETE }}{% endif %}
              {{ form.description }}
            </div>
          </td>
          <td>
            <div class="control-group {% if form.errors %}error{% endif %}">
              {{ form.language }}
            </div>
          </td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
    <p>
      {{ missionformset.management_form }}
    </p>
  </div>

  <span class="label"><a name="text_language"></a>{% trans "Text Language" %}</span>
  <div class="well">
    <div class="control-group {% if add_form.languages.errors %}error{% endif %}">
      <label for="{{ add_form.languages.auto_id }}">
        <span {% if add_form.languages.field.required %}class="req-field"{% endif %}>
          {% trans add_form.languages.label %}
        </span>
      </label>
      <div class="controls">
        {{ add_form.languages }}
      </div>
    </div>
  </div>

  <span class="label"><a name="system_information"></a>{% trans "System Information" %}</span>
  <div class="well">

    <div class="control-group {% if add_form.acronym.errors %}error{% endif %}">
      <label for="{{ add_form.acronym.auto_id }}">
        <span {% if add_form.acronym.field.required %}class="req-field"{% endif %}>
          {% trans add_form.acronym.label %}
        </span>
      </label>
      <div class="controls">
        {{ add_form.acronym }}
        {% field_help add_form.acronym.label add_form.acronym.help_text term-acronym %}
      </div>
    </div>

    <div class="control-group {% if add_form.pub_status.errors %}error{% endif %}">
      <label for="{{ add_form.pub_status.auto_id }}">
        <span {% if add_form.pub_status.field.required %}class="req-field"{% endif %}>
          {% trans add_form.pub_status.label %}
        </span>
      </label>
      <div class="controls">
        {{ add_form.pub_status }}
        {% field_help add_form.pub_status.label add_form.pub_status.help_text term-publication-status %}
      </div>
    </div>

    <div class="control-group {% if add_form.url_online_submission.errors %}error{% endif %}">
      <label for="{{ add_form.url_online_submission.auto_id }}">
        <span {% if add_form.url_online_submission.field.required %}class="req-field"{% endif %}>
          {% trans add_form.url_online_submission.label %}
        </span>
      </label>
      <div class="controls">
        {{ add_form.url_online_submission }}
        {% field_help add_form.url_online_submission.label add_form.url_online_submission.help_text term-url-of-online-submission %}
      </div>
    </div>

    <div class="control-group {% if add_form.url_journal.errors %}error{% endif %}">
      <label for="{{ add_form.url_journal.auto_id }}">
        <span {% if add_form.url_journal.field.required %}class="req-field"{% endif %}>
          {% trans add_form.url_journal.label %}
        </span>
      </label>
      <div class="controls">
        {{ add_form.url_journal }}
        {% field_help add_form.url_journal.label add_form.url_journal.help_text term-url-of-the-journal %}
      </div>
    </div>

    <div class="control-group {% if add_form.editorial_standard.errors %}error{% endif %}">
      <label for="{{ add_form.editorial_standard.auto_id }}">
        <span {% if add_form.editorial_standard.field.required %}class="req-field"{% endif %}>
          {% trans add_form.editorial_standard.label %}
        </span>
      </label>
      <div class="controls">
        {{ add_form.editorial_standard }}
        {% field_help add_form.editorial_standard.label add_form.editorial_standard.help_text term-editorial-standard %}
      </div>
    </div>

    <div class="control-group {% if add_form.ctrl_vocabulary.errors %}error{% endif %}">
      <label for="{{ add_form.ctrl_vocabulary.auto_id }}">
        <span {% if add_form.ctrl_vocabulary.field.required %}class="req-field"{% endif %}>
          {% trans add_form.ctrl_vocabulary.label %}
        </span>
      </label>
      <div class="controls">
        {{ add_form.ctrl_vocabulary }}
        {% field_help add_form.ctrl_vocabulary.label add_form.ctrl_vocabulary.help_text term-controlled-vocabulary %}
      </div>
    </div>

    <div class="control-group {% if add_form.index_coverage.errors %}error{% endif %}">
      <label class="control-label" for="index_coverage">{% trans add_form.index_coverage.label_tag %}</label>
      <div class="controls">
        {% field_help add_form.index_coverage.label add_form.index_coverage.help_text term-subject-descriptors %}
        {{ add_form.index_coverage }}
      </div>
    </div>

    <div class="control-group {% if add_form.validated.errors %}error{% endif %}">
      <label for="{{ add_form.validated.auto_id }}">
        <span {% if add_form.validated.field.required %}class="req-field"{% endif %}>
          {% trans add_form.validated.label %}
        </span>
      </label>
      <div class="controls">
        {{ add_form.validated }}
      </div>
    </div>

    <div class="control-group {% if add_form.is_available.errors %}error{% endif %}">
      <label for="{{ add_form.is_available.auto_id }}">
        <span {% if add_form.is_available.field.required %}class="req-field"{% endif %}>
          {% trans add_form.is_available.label %}
        </span>
      </label>
      <div class="controls">
         {{ add_form.is_available }}
      </div>
    </div>
  </div>

  <span class="label"><a name="publisher_and_sponsor"></a>{% trans "Publisher and Sponsors" %}</span>
  <div class="well">

    <div class="control-group {% if add_form.publisher.errors %}error{% endif %}">
      <label for="{{ add_form.publisher.auto_id }}">
        <span {% if add_form.publisher.field.required %}class="req-field"{% endif %}>
          {% trans add_form.publisher.label %}
        </span>
      </label>
      <div class="controls">
        {{ add_form.publisher }}
        {% field_help add_form.publisher.label add_form.publisher.help_text term-publisher %}
      </div>
    </div>

    <div class="control-group {% if add_form.sponsor.errors %}error{% endif %}">
      <label for="{{ add_form.sponsor.auto_id }}">
        <span {% if add_form.sponsor.field.required %}class="req-field"{% endif %}>
          {% trans add_form.sponsor.label %}
        </span>
      </label>
      <div class="controls">
        {{ add_form.sponsor }}
        {% field_help add_form.sponsor.label add_form.sponsor.help_text term-sponsor %}
      </div>
    </div>
  </div>

  <span class="label"><a name="license"></a>{% trans "Licenses" %}</span>
  <div class="well">

    <div class="control-group {% if add_form.use_license.errors %}error{% endif %}">
      <label for="{{ add_form.use_license.auto_id }}">
        <span {% if add_form.use_license.field.required %}class="req-field"{% endif %}>
          {% trans add_form.use_license.label %}
        </span>
      </label>
      <div class="controls">
        {{ add_form.use_license }}
        {% field_help add_form.use_license.label add_form.use_license.help_text term-use-licence %}
      </div>
    </div>

    <div class="control-group {% if add_form.copyrighter.errors %}error{% endif %}">
      <label for="{{ add_form.copyrighter.auto_id }}">
        <span {% if add_form.copyrighter.field.required %}class="req-field"{% endif %}>
          {% trans add_form.copyrighter.label %}
        </span>
      </label>
      <div class="controls">
        {{ add_form.copyrighter }}
        {% field_help add_form.copyrighter.label add_form.copyrighter.help_text term-copyrighter %}
      </div>
    </div>
  </div>

  <span class="label"><a name="formal_information"></a>{% trans "Formal Information" %}</span>
  <div class="well">
    <table class="table table-bordered table-striped" sstyle="width:100%">
      <thead>
        <tr>
          <td>
            <label for="{{ add_form.init_year.auto_id }}">
              <span {% if add_form.init_year.field.required %}class="req-field"{% endif %}>
                {% trans add_form.init_year.label %}
              </span>
            </label>
          </td>
          <td>
            <label for="{{ add_form.init_vol.auto_id }}">
              <span {% if add_form.init_vol.field.required %}class="req-field"{% endif %}>
                {% trans add_form.init_vol.label %}
              </span>
            </label>
          </td>
          <td>
            <label for="{{ add_form.init_num.auto_id }}">
              <span {% if add_form.init_num.field.required %}class="req-field"{% endif %}>
                {% trans add_form.init_num.label %}
              </span>
            </label>
          </td>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td>
          <div class="control-group {% if add_form.init_year.errors %}error{% endif %}">
            {{ add_form.init_year }}
            {% field_help add_form.init_year.label add_form.init_year.help_text term-initial-date %}
          </div>
        </td>
        <td>
          <div class="control-group {% if add_form.init_vol.errors %}error{% endif %}">
            {{ add_form.init_vol }}
            {% field_help add_form.init_vol.label add_form.init_vol.help_text term-initial-volume %}
          </div>
        </td>
        <td>
          <div class="control-group {% if add_form.init_num.errors %}error{% endif %}">
            {{ add_form.init_num }}
            {% field_help add_form.init_num.label add_form.init_num.help_text term-initial-number %}
          </div>
        </td>
      </tr>
      </tbody>
    </table>
    <table class="table table-bordered table-striped" sstyle="width:100%">
      <thead>
        <tr>
          <td>
            <label for="{{ add_form.final_year.auto_id }}">
              <span {% if add_form.final_year.field.required %}class="req-field"{% endif %}>
                {% trans add_form.final_year.label %}
              </span>
            </label>
          </td>
          <td>
            <label for="{{ add_form.final_vol.auto_id }}">
              <span {% if add_form.final_vol.field.required %}class="req-field"{% endif %}>
                {% trans add_form.final_vol.label %}
              </span>
            </label>
          </td>
          <td>
            <label for="{{ add_form.final_num.auto_id }}">
              <span {% if add_form.final_num.field.required %}class="req-field"{% endif %}>
                {% trans add_form.final_num.label %}
              </span>
            </label>
          </td>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td>
         {{ add_form.final_year }}
         {% field_help add_form.final_year.label add_form.final_year.help_text term-final-date %}
        </td>
        <td>
         {{ add_form.final_vol }}
         {% field_help add_form.final_vol.label add_form.final_vol.help_text term-final-volume %}
        </td>
        <td>
          {{ add_form.final_num }}
          {% field_help add_form.final_num.label add_form.final_num.help_text term-final-number %}
        </td>
      </tr>
      </tbody>
    </table>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <td>
            <label for="{{ add_form.frequency.auto_id }}">
              <span {% if add_form.frequency.field.required %}class="req-field"{% endif %}>
                {% trans add_form.frequency.label %}
              </span>
            </label>
          </td>
          <td>
            <label for="{{ add_form.pub_level.auto_id }}">
              <span {% if add_form.pub_level.field.required %}class="req-field"{% endif %}>
                {% trans add_form.pub_level.label %}
              </span>
            </label>
          </td>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td>
          <div class="control-group {% if add_form.frequency.errors %}error{% endif %}">
            {{ add_form.frequency }}
            {% field_help add_form.frequency.label add_form.frequency.help_text term-frequency %}
          </div>
        </td>
        <td>
          <div class="control-group {% if add_form.pub_level.errors %}error{% endif %}">
            {{ add_form.pub_level }}
            {% field_help add_form.pub_level.label add_form.pub_level.help_text term-publicaton-level %}
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <span class="label"><a name="further_information"></a>{% trans "Further Information" %}</span>
  <div class="well">
    <div class="control-group {% if add_form.notes.errors %}error{% endif %}">
      <label for="{{ add_form.notes.auto_id }}">
        <span {% if add_form.notes.field.required %}class="req-field"{% endif %}>
          {% trans add_form.notes.label %}
        </span>
      </label>
      <div class="controls">
        {{ add_form.notes }}
        {% field_help add_form.notes.label add_form.notes.help_text term-notes %}
      </div>
    </div>
  </div>
  <div class="row-fluid">
      <input class="btn btn-primary" name="submit" type="submit" value="{% trans "save" %}"/>
      <input class="btn btn-warning" type="reset" value="{% trans "cancel" %}"/>
  </div>
</form>
{% endblock %}

{% block extrafooter %}
{{ block.super }}
 <script>
    $(document).ready(function() {
        $('#well-rezi-fixed').draggable();

        $(".help-text").popover('hide');

        //multiple-formsets
        $('#titleformset tbody tr').formset({
           formCssClass: 'dynamic-titleformset-form',
           prefix: '{{ titleformset.prefix }}'
        });

        $('#missionformset tbody tr').formset({
           formCssClass: 'dynamic-missionformset-form',
           prefix: '{{ missionformset.prefix }}'
        });

        $('#studyareaformset tbody tr').formset({
           formCssClass: 'dynamic-studyareaformset-form',
           prefix: '{{ textstudyareaformset.prefix }}'
        });

        $('#textlanguageformset tbody tr').formset({
           formCssClass: 'dynamic-textlanguageformset-form',
           prefix: '{{ textlanguageformset.prefix }}'
        });

    });
  </script>
{% endblock %}
