{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}css/jquery.asmselect.css"/>
    <link rel="stylesheet" href="{{ jquery_ui_css_url }}" type="text/css" media="all" />
{% endblock %}

{% block stepmenu_top %}
{{ block.super }}
<ul class="breadcrumb">
    <li><a href="{% url index %}">{% trans 'Home' %}</a> <span class="divider">/</span></li>
    <li><a href="{% url publisher.index %}">{% trans 'Publisher Dashboard' %}</a> <span class="divider">/</span></li>
    <li class="active">{% trans 'New Publisher' %}</li>
</ul>
{% endblock %}

{% block body %}
<form method="post" action="#">
    {% csrf_token %}

    <span class="label">{% trans "Institution Information" %}</span>
    <div class="well">
        <div class="control-group {% if add_form.name.errors %}error{% endif %}">
            <label class="control-label" for="name">{% trans add_form.name.label_tag %}</label>
            <div class="controls">
                {{ add_form.name }}
            </div>
        </div>
        <div class="control-group {% if add_form.acronym.errors %}error{% endif %}">
            <label class="control-label" for="first_name">{% trans add_form.acronym.label_tag %}</label>
            <div class="controls">
                {{ add_form.acronym }}
            </div>
        </div>
        <div class="control-group {% if add_form.country.errors %}error{% endif %}">
            <label class="control-label" for="first_name">{% trans add_form.country.label_tag %}</label>
            <div class="controls">
                {{ add_form.country }}
            </div>
        </div>
        <div class="control-group {% if add_form.state.errors %}error{% endif %}">
            <label class="control-label" for="first_name">{% trans add_form.state.label_tag %}</label>
            <div class="controls">
                {{ add_form.state }}
            </div>
        </div>
        <div class="control-group {% if add_form.city.errors %}error{% endif %}">
            <label class="control-label" for="first_name">{% trans add_form.city.label_tag %}</label>
            <div class="controls">
                {{ add_form.city }}
            </div>
        </div>
        <div class="control-group {% if add_form.Address.errors %}error{% endif %}">
            <label class="control-label" for="first_name">{% trans add_form.Address.label_tag %}</label>
            <div class="controls">
                {{ add_form.address }}
            </div>
        </div>
        <div class="control-group {% if add_form.Address_number.errors %}error{% endif %}">
            <label class="control-label" for="first_name">{% trans add_form.Address_number.label_tag %}</label>
            <div class="controls">
                {{ add_form.address_number }}
            </div>
        </div>
        <div class="control-group {% if add_form.Address_complement.errors %}error{% endif %}">
            <label class="control-label" for="first_name">{% trans add_form.Address_complement.label_tag %}</label>
            <div class="controls">
                {{ add_form.address_complement }}
            </div>
        </div>
        <div class="control-group {% if add_form.zip_code.errors %}error{% endif %}">
            <label class="control-label" for="first_name">{% trans add_form.zip_code.label_tag %}</label>
            <div class="controls">
                {{ add_form.zip_code }}
            </div>
        </div>
        <div class="control-group {% if add_form.phone.errors %}error{% endif %}">
            <label class="control-label" for="first_name">{% trans add_form.phone.label_tag %}</label>
            <div class="controls">
                {{ add_form.phone }}
            </div>
        </div>
         <div class="control-group {% if add_form.fax.errors %}error{% endif %}">
            <label class="control-label" for="first_name">{% trans add_form.fax.label_tag %}</label>
            <div class="controls">
                {{ add_form.fax }}
            </div>
        </div>
        <div class="control-group {% if add_form.cel.errors %}error{% endif %}">
            <label class="control-label" for="first_name">{% trans add_form.cel.label_tag %}</label>
            <div class="controls">
                {{ add_form.cel }}
            </div>
        </div>
        <div class="control-group {% if add_form.mail.errors %}error{% endif %}">
            <label class="control-label" for="first_name">{% trans add_form.mail.label_tag %}</label>
            <div class="controls">
                {{ add_form.mail }}
            </div>
        </div>
        <div class="control-group {% if add_form.validated.errors %}error{% endif %}">
            <label class="control-label" for="first_name">{% trans add_form.validated.label_tag %}</label>
            <div class="controls">
                {{ add_form.validated }}
            </div>
        </div>
        <div class="control-group {% if add_form.is_available.errors %}error{% endif %}">
            <label class="control-label" for="first_name">{% trans add_form.is_available.label_tag %}</label>
            <div class="controls">
                {{ add_form.is_available }}
            </div>
        </div>
    </div>
    <span class="label">{% trans "Publisher Collections" %}</span>
    <div class="well">
        <label class"control-label" for="publisher-collections">{% trans add_form.collections.label_tag %}</label>
        <div class="controls">
            {{ add_form.collections }}
        </div>
    </div>
    <input class="btn btn-primary" name="submit" type="submit" value="{% trans "save" %}">
    <input class="btn btn-warning" name="reset" type="reset" value="{% trans "cancel" %}">
</form>
{% endblock %}

{% block extrafooter %}
    <script type="text/javascript" src="{% get_static_prefix %}js/asmselect/jquery.asmselect.js"></script>
    <script type="text/javascript" src="{{ jquery_ui_url }}"></script>
    <script type="text/javascript" src="{% get_static_prefix %}js/combobox/combobox.js"></script>
    <script type="text/javascript" src="{% get_static_prefix %}js/multiselect.js"></script>
    <script type="text/javascript" src="{% get_static_prefix %}js/jquery-formset/jquery.formset.min.js"></script>

 <script>
    $(document).ready(function() {

        $( "#id_publisher-collection" ).combobox({ autoFocus: true });

        $( "#toggle" ).click(function() {
            $( "#id_publisher" ).toggle();
        });

        //multiple-formsets
        $('#publishercollectionsformset tbody tr').formset({
           formCssClass: 'dynamic-publishercollectionsformset-form',
           prefix: '{{ publishercollectionsformset.prefix }}'
        });
    });
  </script>
{% endblock %}
