{% extends "base_form_lv0.html" %}
{% load i18n %}
{% load static %}
{% load pagination_tags %}
{% block messages %}
  {% if add_form.errors %}
  <div class="alert alert-error">
    <button class="close" data-dismiss="alert" type="button">&times;</button>
    <ul>
      {% for field in add_form %}
        {% if field.errors %}
          <li>{{ field.label }}</li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
  {% endif %}

  {% for error in add_form.non_field_errors %}
    <div class="alert alert-error">
      <button class="close" data-dismiss="alert" type="button">&times;</button>
      <strong>{{ error }}</strong>
    </div>
  {% endfor %}
{% endblock %}

{% block form_content %}
<h2>{% trans "User Information" %}:</h2>
<form id="user-form" method="post" action="">
  {% csrf_token %}
  <div class="well">
    <div class="span4 pull-right">
      <h5>{% trans "Teams" %}:</h5>
      <ul class="nav nav-tabs nav-stacked">
        {% if user and user.team %}
          {% for team in user.team.all %}
            <li class="active"><a href="#">{{ team.name }}</a></li>
          {% empty %}
            <li class="active"><a href="#">{% trans "No team associated" %}</a></li>
          {% endfor %}
        {% else %}
            <li class="active"><a href="#">{% trans "No team associated" %}</a></li>
        {% endif %}
      </ul>
    </div>
    <div class="control-group {% if add_form.username.errors %}error{% endif %}">
      <label for="{{ add_form.username.auto_id }}">
        <span {% if add_form.username.field.required %}class="req-field"{% endif %}>
          {% trans add_form.username.label %}
        </span>
      </label>
      <div class="controls">
        {{ add_form.username }}
        {% field_help add_form.username.label add_form.username.help_text term-institution-name %}
      </div>
    </div>

    <div class="control-group {% if add_form.first_name.errors %}error{% endif %}">
      <label for="{{ add_form.first_name.auto_id }}">
        <span {% if add_form.first_name.field.required %}class="req-field"{% endif %}>
          {% trans add_form.first_name.label %}
        </span>
      </label>
      <div class="controls">
        {{ add_form.first_name }}
      </div>
    </div>

    <div class="control-group {% if add_form.last_name.errors %}error{% endif %}">
      <label for="{{ add_form.last_name.auto_id }}">
        <span {% if add_form.last_name.field.required %}class="req-field"{% endif %}>
          {% trans add_form.last_name.label %}
        </span>
      </label>
      <div class="controls">
        {{ add_form.last_name }}
      </div>
    </div>

    <div class="control-group {% if add_form.email.errors %}error{% endif %}">
      <label for="{{ add_form.email.auto_id }}">
        <span {% if add_form.email.field.required %}class="req-field"{% endif %}>
          {% trans add_form.email.label %}
        </span>
      </label>
      <div class="controls">
        {{ add_form.email }}
        {% if add_form.email.errors %}
          <ul>
            {% for error in add_form.email.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
    </div>

    <div class="control-group {% if add_form.groups.errors %}error{% endif %}">
      <label for="{{ add_form.groups.auto_id }}">
        <span {% if add_form.groups.field.required %}class="req-field"{% endif %}>
          {% trans add_form.groups.label %}
        </span>
      </label>
      <div class="controls">
        {{ add_form.groups }}
      </div>
    </div>
  </div>

{% if usercollectionsformset.non_form_errors %}
  {# non form errors #}
  <div class="alert alert-error">
    <button class="close" data-dismiss="alert" type="button">×</button>
    {% for non_form_error in usercollectionsformset.non_form_errors %}
      {{ non_form_error }}
    {% endfor %}
  </div>
{% endif %}

  <h2>{% trans "User Collections" %}:</h2>
  <span class="label label-info">{% trans "The first collection will be set as default" %}</span>
  <div class="well">
    <table id="usercollectionsformset" class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>{% trans "Collection" %}
          	{% field_help usercollectionsformset.forms.0.collection.label usercollectionsformset.forms.0.collection.help_text term-collections %}
          </th>
          <th>{% trans "is manager" %}</th>
          <th>{% trans "options" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for form in usercollectionsformset.forms %}
        <tr id="{{ form.prefix }}-row">
          <td>
            {# non field errors #}
            {% if form.non_field_errors %}
              <div class="alert alert-error">
                {% for non_field_error in form.non_field_errors %}
                  {{ non_field_error }}
                {% endfor %}
              </div>
            {% endif %}
            <div class="control-group {% if form.collection.errors %}error{% endif %}">
              {% for field in form.hidden_fields %}{{ field }}{% endfor %}
              {% if form.instance.pk %}{{ form.DELETE }}{% endif %}
              {{ form.collection }}
              {# collection field errors #}
              {% if form.collection.errors %}
                <div class="alert alert-error">
                  {% for error in form.collection.errors %}
                    {{ error }}
                  {% endfor %}
                </div>
              {% endif %}
            </div>
          </td>
          <td>
            <div class="control-group {% if add_form.is_manager.errors %}error{% endif %}">
              {{ form.is_manager }}
              {% if form.is_manager.errors %}
                {# is_manager field errors #}
                <div class="alert alert-error">
                  {% for error in form.is_manager.errors %}
                    {{ error }}
                  {% endfor %}
                </div>
              {% endif %}
            </div>
          </td>
          <td></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <p>
      {{ usercollectionsformset.management_form }}
    </p>
  </div>
  <div class="row-fluid">
    <input
      class="btn btn-success pull-right"
      name="submit"
      type="submit"
      value="{% trans "save" %}" />
    <input
      class="btn btn-danger"
      type="reset"
      value="{% trans "cancel" %}"
      onclick="javascript: window.history.back()" />
  </div>
</form>
{% endblock %}

{% block extrafooter %}
{{ block.super }}
 <script>
    $(document).ready(function() {
      $( "#id_user-collection" ).combobox({ autoFocus: true });
      $(".help-text").popover('hide');
      $( "#toggle" ).click(function() {
          $( "#id_collection" ).toggle();
      });
      //multiple-formsets
      $('#usercollectionsformset tbody tr').formset({
        formCssClass: 'dynamic-usercollectionsformset-form',
        prefix: '{{ usercollectionsformset.prefix }}'
      });
    });
  </script>
{% endblock %}
