{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}css/jquery.asmselect.css"/>
    <link rel="stylesheet" href="{{ jquery_ui_css_url }}" type="text/css" media="all" />
{% endblock %}

{% block stepmenu_top %}

{{ block.super }}
<ul class="breadcrumb">
    <li><a href="{% url index %}">{% trans 'Home' %}</a> <span class="divider">/</span></li>
    <li><a href="{% url user.index %}">{% trans 'Users' %}</a> <span class="divider">/</span></li>
    <li class="active">{% trans 'New User' %}</li>
</ul>
{% endblock %}

{% block body %}
<span class="label">{% trans "User Information" %}</span>
<form method="post" action="#">
    {% csrf_token %}
    <div class="well">
        <div class="control-group {% if add_form.username.errors %}error{% endif %}">
            <label class="control-label" for="username">{% trans add_form.username.label_tag %}</label>
            <div class="controls">
                {{ add_form.username }}
            </div>
        </div>
        <div class="control-group {% if add_form.first_name.errors %}error{% endif %}">
            <label class="control-label" for="first_name">{% trans add_form.first_name.label_tag %}</label>
            <div class="controls">
                {{ add_form.first_name }}
            </div>
        </div>
        <div class="control-group {% if add_form.last_name.errors %}error{% endif %}">
            <label class="control-label" for="last_name">{% trans add_form.last_name.label_tag %}</label>
            <div class="controls">
                {{ add_form.last_name }}
            </div>
        </div>
        <div class="control-group {% if add_form.email.errors %}error{% endif %}">
            <label class="control-label" for="email">{% trans add_form.email.label_tag %}</label>
            <div class="controls">
                {{ add_form.email }}
            </div>
        </div>
        <div class="control-group {% if add_form.password.errors %}error{% endif %}">
            <label class="control-label" for="email">{% trans add_form.password.label_tag %}</label>
            <div class="controls">
                {{ add_form.password }}
            </div>
        </div>
        <div class="control-group {% if add_form.is_active.errors %}error{% endif %}">
            <label class="control-label" for="email">{% trans add_form.is_active.label_tag %}</label>
            <div class="controls">
                {{ add_form.is_active }}
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <input class="btn btn-primary" name="submit" type="submit" value="{% trans "save" %}"/>
        <input class="btn btn-warning" type="reset" value="{% trans "cancel" %}"/>
    </div>
</form>
{% endblock %}
