{% extends "base_form_lv0.html" %}
{% load i18n %}
{% load static %}
{% load pagination_tags %}

{% block page_title %}{% trans "Sponsor" %}{% endblock %}

{% block messages %}
  {% if add_form.errors or add_form.non_field_errors %}
  <div class="alert alert-error">
    <button class="close" data-dismiss="alert" type="button">×</button>
    <ul>
      {% for field in add_form %}
        {% if field.errors %}
          <li>{{ field.label }}</li>
        {% endif %}
      {% endfor %}
      {% for errors in add_form.non_field_errors %}
        <li>{{ errors }}</li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
{% endblock%}

{% block form_content %}
<form id="sponsor-form" method="post" action="">
  {% csrf_token %}

  {% if request.GET.popup %}
    <input type="hidden" value="1" name="popup" />
  {% endif %}

  <h2>{% trans "Institution Information" %}:</h2>
  <div class="well">

    <div class="control-group {% if add_form.name.errors %}error{% endif %}">
      <label for="{{ add_form.name.auto_id }}">
        <span {% if add_form.name.field.required %}class="req-field"{% endif %}>
          {% trans add_form.name.label %}
        </span>
      </label>
      <div class="controls">
        {{ add_form.name }}
        {% field_help add_form.name.label add_form.name.help_text term-institution-name %}
      </div>
    </div>

    <div class="control-group {% if add_form.complement.errors %}error{% endif %}">
      <label for="{{ add_form.complement.auto_id }}">
        <span {% if add_form.complement.field.required %}class="req-field"{% endif %}>
          {% trans add_form.complement.label %}
        </span>
      </label>
      <div class="controls">
        {{ add_form.complement }}
        {% field_help add_form.complement.label add_form.complement.help_text term-institution-complement %}
      </div>
    </div>

    <div class="control-group {% if add_form.address.errors %}error{% endif %}">
      <label for="{{ add_form.address.auto_id }}">
        <span {% if add_form.address.field.required %}class="req-field"{% endif %}>
          {% trans add_form.address.label %}
        </span>
      </label>
      <div class="controls">
        {{ add_form.address }}
        {% field_help add_form.address.label add_form.address.help_text term-sponsor-s-address %}
      </div>
    </div>

    <div class="control-group {% if add_form.email.errors %}error{% endif %}">
      <label for="{{ add_form.email.auto_id }}">
        <span {% if add_form.email.field.required %}class="req-field"{% endif %}>
          {% trans add_form.email.label %}
        </span>
      </label>
      <div class="controls">
        {{ add_form.email }}
        {% field_help add_form.email.label add_form.email.help_text term-email %}
      </div>
    </div>
  </div>

  <h2>{% trans "Sponsor Collections" %}:</h2>
  <div class="well">
    <div class="control-group {% if add_form.collections.errors %}error{% endif %}">
      <label for="{{ add_form.collections.auto_id }}">
        <span {% if add_form.collections.field.required %}class="req-field"{% endif %}>
          {% trans add_form.collections.label %}
        </span>
      </label>
      <div class="controls">
        {{ add_form.collections }}
      </div>
    </div>
  </div>

  <input
    class="btn btn-success pull-right"
    name="submit"
    type="submit"
    value="{% trans "save" %}" />
  <input
    class="btn btn-danger"
    name="reset"
    type="reset"
    value="{% trans "cancel" %}"
    {% if request.GET.popup %}
      onclick="javascript: window.close()"
    {% else %}
      onclick="javascript: window.history.back()"
    {% endif %}
    />
</form>
{% endblock %}

{% block extrafooter %}
{{ block.super }}
 <script>
  $(document).ready(function() {
    $( "#id_sponsor-collection" ).combobox({ autoFocus: true });
    $(".help-text").popover('hide');
    $( "#toggle" ).click(function() {
        $( "#id_sponsor" ).toggle();
    });
    //multiple-formsets
    $('#sponsorcollectionsformset tbody tr').formset({
      formCssClass: 'dynamic-sponsorcollectionsformset-form',
      prefix: '{{ sponsorcollectionsformset.prefix }}'
    });
  });
</script>
{% endblock %}
