{% extends "base_form.html" %}
{% load i18n %}
{% load static %}
{% load scielo_common %}

{% block breadcrumb %}
<ul class="breadcrumb">
    <li><a href="{% url index %}">{% trans 'Home' %}</a> <span class="divider">/</span></li>
    <li><a href="{% url sponsor.index %}">{% trans 'Sponsor Dashboard' %}</a> <span class="divider">/</span></li>
    <li class="active">{% trans 'New sponsor' %}</li>
</ul>
{% endblock %}

{% block shortaccess %}
<div class="well sidebar-nav">
  <ul class="nav nav-list">
    <li class="nav-header">{% trans 'Short Access' %}</a></li>
    <li><a href="{% url sponsor.add %}">{% trans 'Add sponsor' %}</a></li>
  </ul>
</div><!--well sidebar-nav-->
{% endblock %}

{% block body %}
    <form method="post" action="#">
    {% csrf_token %}

    <span class="label">{% trans "Institution Information" %}</span>
    <div class="well">
        <div class="control-group {% if add_form.name.errors %}error{% endif %}">
            <label class="control-label" for="name">{% trans add_form.name.label_tag %}</label>
            <div class="controls">
                {{ add_form.name }}
                {% field_help add_form.name.label add_form.name.help_text term-institution-name %}
            </div>
        </div>
        <div class="control-group {% if add_form.acronym.errors %}error{% endif %}">
            <label class="control-label" for="first_name">{% trans add_form.acronym.label_tag %}</label>
            <div class="controls">
                {{ add_form.acronym }}
                {% field_help add_form.acronym.label add_form.acronym.help_text term-acronym %}
            </div>
        </div>
        <div class="control-group {% if add_form.country.errors %}error{% endif %}">
            <label class="control-label" for="first_name">{% trans add_form.country.label_tag %}</label>
            <div class="controls">
                {{ add_form.country }}
                {% field_help add_form.country.label add_form.country.help_text term-sponsor-s-country %}
            </div>
        </div>
        <div class="control-group {% if add_form.state.errors %}error{% endif %}">
            <label class="control-label" for="first_name">{% trans add_form.state.label_tag %}</label>
            <div class="controls">
                {{ add_form.state }}
                {% field_help add_form.state.label add_form.state.help_text term-sponsor-s-state %}
            </div>
        </div>
        <div class="control-group {% if add_form.city.errors %}error{% endif %}">
            <label class="control-label" for="first_name">{% trans add_form.city.label_tag %}</label>
            <div class="controls">
                {{ add_form.city }}
                {% field_help add_form.city.label add_form.city.help_text term-sponsor-s-city %}
            </div>
        </div>
        <div class="control-group {% if add_form.address.errors %}error{% endif %}">
            <label class="control-label" for="first_name">{% trans add_form.address.label_tag %}</label>
            <div class="controls">
                {{ add_form.address }}
                {% field_help add_form.address.label add_form.address.help_text term-sponsor-s-address %}
            </div>
        </div>
        <div class="control-group {% if add_form.address_number.errors %}error{% endif %}">
            <label class="control-label" for="first_name">{% trans add_form.address_number.label_tag %}</label>
            <div class="controls">
                {{ add_form.address_number }}
                {% field_help add_form.address_number.label add_form.address_number.help_text term-address-number %}
            </div>
        </div>
        <div class="control-group {% if add_form.address_complement.errors %}error{% endif %}">
            <label class="control-label" for="first_name">{% trans add_form.address_complement.label_tag %}</label>
            <div class="controls">
                {{ add_form.address_complement }}
                {% field_help add_form.address_complement.label add_form.address_complement.help_text term-address-complement %}
            </div>
        </div>
        <div class="control-group {% if add_form.zip_code.errors %}error{% endif %}">
            <label class="control-label" for="first_name">{% trans add_form.zip_code.label_tag %}</label>
            <div class="controls">
                {{ add_form.zip_code }}
                {% field_help add_form.zip_code.label add_form.zip_code.help_text term-zip_code %}
            </div>
        </div>
        <div class="control-group {% if add_form.phone.errors %}error{% endif %}">
            <label class="control-label" for="first_name">{% trans add_form.phone.label_tag %}</label>
            <div class="controls">
                {{ add_form.phone }}
                {% field_help add_form.phone.label add_form.phone.help_text term-phone %}
            </div>
        </div>
         <div class="control-group {% if add_form.fax.errors %}error{% endif %}">
            <label class="control-label" for="first_name">{% trans add_form.fax.label_tag %}</label>
            <div class="controls">
                {{ add_form.fax }}
                {% field_help add_form.fax.label add_form.fax.help_text term-fax %}
            </div>
        </div>
        <div class="control-group {% if add_form.cel.errors %}error{% endif %}">
            <label class="control-label" for="first_name">{% trans add_form.cel.label_tag %}</label>
            <div class="controls">
                {{ add_form.cel }}
                {% field_help add_form.cel.label add_form.cel.help_text term-cel %}
            </div>
        </div>
        <div class="control-group {% if add_form.mail.errors %}error{% endif %}">
            <label class="control-label" for="first_name">{% trans add_form.mail.label_tag %}</label>
            <div class="controls">
                {{ add_form.mail }}
                {% field_help add_form.mail.label add_form.mail.help_text term-mail %}
            </div>
        </div>
        <div class="control-group {% if add_form.validated.errors %}error{% endif %}">
            <label class="control-label" for="first_name">{% trans add_form.validated.label_tag %}</label>
            <div class="controls">
                {{ add_form.validated }}
                {% field_help add_form.validated.label add_form.validated.help_text term-validated %}
            </div>
        </div>
        <div class="control-group {% if add_form.is_available.errors %}error{% endif %}">
            <label class="control-label" for="first_name">{% trans add_form.is_available.label_tag %}</label>
            <div class="controls">
                {{ add_form.is_available }}
                {% field_help add_form.is_available.label add_form.is_available.help_text term-is-available %}
            </div>
        </div>
    </div>
    <span class="label">{% trans "Sponsor Collections" %}</span>
    <div class="well">
        <label class"control-label" for="sponsor-collections">{% trans add_form.collections.label_tag %}</label>
        <div class="controls">
            {{ add_form.collections }}
        </div>
    </div>
    <input class="btn btn-primary" name="submit" type="submit" value="{% trans "save" %}">
    <input class="btn btn-warning" name="reset" type="reset" value="{% trans "cancel" %}">
</form>
{% endblock %}

{% block extrafooter %}
{{ block.super }}
 <script>
    $(document).ready(function() {

        $( "#id_sponsor-collection" ).combobox({ autoFocus: true });

        $(".help-text").popover('hide');

        $( "#toggle" ).click(function() {
            $( "#id_sponsor" ).toggle();
        });

        //multiple-formsets
        $('#sponsorcollectionsformset tbody tr').formset({
           formCssClass: 'dynamic-sponsorcollectionsformset-form',
           prefix: '{{ sponsorcollectionsformset.prefix }}'
        });
    });
  </script>
{% endblock %}
