{% extends "base_form_lv0.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% load formstamps %}
{% load inctag_toolbars %}
{% load assets %}
{% load static %}

{% block page_title %}{% trans "Press release" %} - {{journal.title}}{% endblock %}
{% block extrahead %}
  {{ block.super }}
  {% assets "codemirror_css" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
  {% endassets %}
  <style>
    .tab-content .tab-pane {
      min-height: 235px;
    }
    .CodeMirror {
      width: 100%;
      max-width: 785px;
    }
    iframe.preview-container {
      width: 100%;
      max-width: 788px;
      height: 260px;
      min-height: 260px;
      max-height: 260px;
      border: 1px solid black;
    }
  </style>
{% endblock %}
{% block breadcrumb %}
<ul class="breadcrumb">
  <li>
    <a href="{% url index %}">{% trans 'Home' %}</a>
    <span class="divider">/</span>
  </li>
  <li>
    <a href="{% url journal.index %}">{% trans 'Journals Dashboard' %}</a>
    <span class="divider">/</span>
  </li>
  <li>
    <a href="{% url prelease.index journal.id %}">{{journal.title}}</a>
    <span class="divider">/</span>
  </li>
  <li class="active">{% trans 'New press release' %}</li>
</ul>
{% endblock %}

{% block messages %}
  {% summarize_errors pressrelease_form article_formset %}
{% endblock %}

{% block journal_toolbar %}
{% journaldash_toolbar 'press_release' journal user %}
{% endblock %}

{% block form_content %}
<form id="prelease-form"
      method="POST"
      action=""
      enctype="application/x-www-form-urlencoded">
  {% csrf_token %}

  {% if request.GET.popup %}
    <input type="hidden" value="1" name="popup" />
  {% endif %}

  <h2><a name="title"></a>{% trans "Settings" %}</h2>
  <div class="well">

    {% if pressrelease_form.issue %}
    {% stamp_regular_field pressrelease_form.issue %}
    {% endif %}

    {% stamp_regular_field pressrelease_form.doi %}

    <table id="article_formset"
           class="table table-bordered table-striped">
      <thead>
        <tr>
          <td>
            <span {% if article_formset.forms.0.article_pid.field.required %}class="req-field"{% endif %}>
              {% trans "Article PID" %}
            </span>
          </td>
        </tr>
      </thead>
      <tbody>
        {% for form in article_formset %}
        <tr id="{{ form.prefix }}-row">
          <td>
            {% for field in form.hidden_fields %}{{ field }}{% endfor %}
            {% if form.instance.pk %}{{ form.DELETE }}{% endif %}
            {% stamp_inlineformset_field form.article_pid 0 %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
      {{ article_formset.management_form }}
  </div>

  {% summarize_errors translation_formset %}

  <h2><a name="title"></a>{% trans "Content" %}</h2>
  <div class="well">
    <table id="translation_formset"
           class="table table-bordered table-striped">
      <tbody>
        {% for form in translation_formset %}
        <tr id="{{ form.prefix }}-row">
          <td class="span4">
            <label>{% trans "Language" %}</label>
            {% for field in form.hidden_fields %}{{ field }}{% endfor %}
            {% if form.instance.pk %}{{ form.DELETE }}{% endif %}
            {{ form.language }}
          </td>
          <td>
            <label>{% trans "Title" %}</label>
            {{ form.title|add_class:"span12" }}
            <br/>
            <div class="tabbable">
              <ul class="nav nav-tabs">
                <li class="active">
                  <a href="#body_tab_{{ forloop.counter }}" data-toggle="tab">{% trans "Body" %}:</a>
                </li>
                <li>
                  <a href="#html_tab_{{ forloop.counter }}" data-toggle="tab">{% trans "Preview as HTML" %}:</a>
                </li>
              </ul>
              <div class="tab-content">
                <div class="tab-pane active" id="body_tab_{{ forloop.counter }}" data-row-index="{{ forloop.counter }}">
                  {{ form.content|add_class:"span12 content-textarea" }}
                </div>
                <div class="tab-pane" id="html_tab_{{ forloop.counter }}">
                  <iframe id="preview_{{ forloop.counter }}" class="span12 preview-container"></iframe>
                </div>
              </div>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
      {{ translation_formset.management_form }}
  </div>
  <div class="row-fluid">
    <input
      class="btn btn-success pull-right"
      name="submit"
      type="submit"
      value="{% trans 'save' %}" />
    <input
      class="btn btn-danger"
      type="reset"
      value="{% trans 'cancel' %}"
      {% if request.GET.popup %}
        onclick="javascript: window.close()"
      {% else %}
        onclick="javascript: window.history.back()"
      {% endif %}
    />
  </div>
</form>
{% endblock %}

{% block extrafooter %}
{{ block.super }}
  <script>
    $(document).ready(function() {
      $('#translation_formset tbody tr').formset({
        formCssClass: 'dynamic-translation_formset-form',
        prefix: '{{ translation_formset.prefix }}'
      });
      $('#article_formset tbody tr').formset({
        formCssClass: 'dynamic-article_formset-form',
        prefix: '{{ article_formset.prefix }}'
      });
    });
  </script>

  {# carregar codemirror e um conjunto básico de addons #}
  <script src="{% static 'js/codemirror/lib/codemirror.js' %}"></script>
  <script src="{% static 'js/codemirror/mode/xml/xml.js' %}"></script>
  <script src="{% static 'js/codemirror/addon/fold/foldcode.js' %}"></script>
  <script src="{% static 'js/codemirror/addon/fold/foldgutter.js' %}"></script>
  <script src="{% static 'js/codemirror/addon/fold/brace-fold.js' %}"></script>
  <script src="{% static 'js/codemirror/addon/fold/xml-fold.js' %}"></script>
  <script src="{% static 'js/codemirror/addon/fold/comment-fold.js' %}"></script>
  <script src="{% static 'js/codemirror/addon/selection/active-line.js' %}"></script>
  <script src="{% static 'js/codemirror/addon/edit/matchtags.js' %}"></script>

  {# setup do codemirror inspirado em http://codemirror.net/demo/preview.html #}
  <script>
    $(function() {
      var delay;
      $(".content-textarea").each(function (i) {
        var row_index = $(this).parent().data('row-index');
        var editor = CodeMirror.fromTextArea(document.getElementById(this.id), {
          lineNumbers: true,
          lineWrapping: true,
          styleActiveLine: true,
          foldGutter: true,
          gutters: ["CodeMirror-linenumbers", "CodeMirror-foldgutter"],
          matchTags: { bothTags: true },
          mode: 'text/html'
        });

        editor.on("change", function() {
          clearTimeout(delay);
          delay = setTimeout(function(){
            updatePreview(row_index)
          }, 300);
        });

        function updatePreview(row_index) {
          var previewFrame = document.getElementById('preview_' + row_index);
          var preview =  previewFrame.contentDocument ||  previewFrame.contentWindow.document;
          preview.open();
          preview.write(editor.getValue());
          preview.close();
        }

        setTimeout(function(){
          updatePreview(row_index)
        }, 300);
      });
    });
  </script>

{% endblock %}
