{% extends "base_form_lv0.html" %}
{% load i18n %}
{% load static %}
{% load pagination_tags %}
{% load formstamps %}
{% load inctag_toolbars %}

{% block page_title %}{% trans "Issues" %} - {{journal.title}}{% endblock %}

{% block messages %}
  {% summarize_errors add_form %}
{% endblock%}

{% block form_content %}

{% journaldash_toolbar 'issue' journal user %}

<form id="issue-form" method="post" action="" enctype="multipart/form-data" class="form-horizontal">
  {% csrf_token %}
  <h3>{{ issue_type|capfirst}} {% trans "Issue Information" %}:</h3>
  {% include "journalmanager/includes/titleformset.html" %}
  <hr>
  {% with form=add_form %}
    {% include "journalmanager/includes/issue_form_generic_field_list.html" %}
  {% endwith %}
  <hr>
  {% include "journalmanager/includes/issue_cover.html" %}
  <input
    class="btn btn-success pull-right"
    name="submit"
    type="submit"
    value="{% trans 'save' %}" />
  <input
    class="btn btn-danger"
    name="reset"
    type="reset"
    value="{% trans 'cancel' %}"
    onclick="javascript: window.history.back()" />
</form>
{% endblock %}

{% block extrafooter %}
{{ block.super }}
<script>
  $(document).ready(function() {
    $(".help-text").popover('hide');
    //multiple-formsets
    $('#titleformset tbody tr').formset({
      formCssClass: 'dynamic-titleformset-form',
      prefix: '{{ titleformset.prefix }}'
    });
    $('.popup').popupWindow({
      scrollbars:1,
      resizable:1,
      centerScreen:1,
      width:600,
    });
  });
</script>
{% block extra_js %}{% endblock extra_js %}
{% endblock %}
