{% extends "base_list_lv0.html" %}
{% load i18n %}
{% load assets %}
{% load inctag_toolbars %}

{% block page_title %}{% trans "Article: " %}{{ article.ARTICLE_TITLE }}{% endblock %}

{% block extrahead %}
    {{ block.super }}
    {% assets "codemirror_css" %}
      <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
{% endblock %}

{% block content %}
{% journaldash_toolbar 'issue' journal user %}
<h4>{{ article.issue.bibliographic_legend }}</h4>
<div class="row-fluid">
    <h4>{% trans "XML Meta" %}:</h4>
    <div class="well well-small">
        <dl class="dl-horizontal">

            <dt>{% trans "Article title" %}:</dt>
            <dd>{{ article.ARTICLE_TITLE|default:"--" }}</dd>

            <dt>{% trans "Head Subject" %}:</dt>
            <dd>{{ article.HEAD_SUBJECT|default:"--" }}</dd>

            <dt>{% trans "DOI" %}:</dt>
            <dd>{{ article.DOI|default:"--" }}</dd>

            <dt>{% trans "PID" %}:</dt>
            <dd>{{ article.PID|default:"--" }}</dd>

            <dt>{% trans "Article Type" %}:</dt>
            <dd>{{ article.ARTICLE_TYPE|default:"--" }}</dd>

            <dt>{% trans "Article Version" %}:</dt>
            <dd>{{ article.xml_version|default:"--" }}</dd>

        </dl>
    </div>
    <div class="row">
        <div class="span12">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a data-toggle="tab" href="#xml_content">
                        {% trans "XML content" %}:
                    </a>
                </li>
                {# adiciono uma tab para cada linguagem/html gerado #}
                {% for preview in previews %}
                    <li>
                        <a data-toggle="tab" href="#preview_{{ preview.lang }}">
                            {% trans "HTML preview" %} ({{ preview.lang|upper }})
                        </a>
                    </li>
                {% endfor %}
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="xml_content">
                    <div class="codemirror_wrapper">
                        {% if article.xml %}
                            <textarea id="code" name="code">{{ article.xml }}</textarea>
                        {% else %}
                            <textarea id="code" name="code">{% trans "This article don't have XML" %}</textarea>
                        {% endif %}
                    </div>
                </div>
                {# adiciono uma tab-pane para cada linguagem/html gerado #}
                {% for preview in previews %}
                    <div class="tab-pane tab-pane-preview" id="preview_{{ preview.lang }}">
                        <div class="preview_container">
                            <iframe id="iframe_{{preview.lang}}" scrolling="auto" src='' width="100%" height="1000px" frameborder="0"></iframe>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="span12">
            <p class="text-center">
                <small>packtools version: <strong>{{ packtools_version }}</strong></small>
            </p>
        </div>
    </div>
</div>

<div style="display:none">
    {% for preview in previews %}
        <script id="content_{{preview.lang}}" type="text/html">
            {{ preview.html|safe }}
        </script>
    {% endfor %}
</div>

{% assets "codemirror_js" %}
    <script src="{{ ASSET_URL }}"></script>
    <script>
        $(function() {
            var editor = CodeMirror.fromTextArea(
                document.getElementById("code"),
                {
                    lineNumbers: true,
                    lineWrapping: true,
                    mode: "application/xml",
                    styleActiveLine: true,
                    foldGutter: true,
                    gutters: ["CodeMirror-linenumbers", "CodeMirror-foldgutter"],
                    matchTags: { bothTags: true },
                });
            {# ---- read-only hack ---- listen for the beforeChange event, and cancel #}
            editor.on('beforeChange',function(cm,change) { change.cancel(); });

            {# ---- render line hack ---- #}
            var charWidth = editor.defaultCharWidth(), basePadding = 4;
            editor.on("renderLine", function(cm, line, elt) {
                var off = CodeMirror.countColumn(line.text, null, cm.getOption("tabSize")) * charWidth;
                elt.style.textIndent = "-" + off + "px";
                elt.style.paddingLeft = (basePadding + off) + "px";
            });
            editor.refresh();
        });
    </script>
{% endassets %}
    <script type="text/javascript">
        $(function () {
            /* fill the iframes */
            $('.preview_container').each(function(index, el) {
                console.log($(el));
                var frame = $(el).find('iframe')[0];
                console.log('frame', frame);
                var lang = frame.id.split('_')[1];
                var content = $('#content_' + lang);
                console.log(frame, lang, content)
                var iframeDoc = frame.contentWindow.document;
                iframeDoc.open();
                iframeDoc.write(content.html());
                iframeDoc.close();
            });
        });
    </script>

{% endblock %}
