{% extends "base_list_lv0.html" %}
{% load i18n %}
{% load inctag_toolbars %}

{% block page_title %}{% trans "Articles" %}{% endblock %}

{% block content %}

<style>
  .grey_bg {background-color: #f9f9f9;}
  .article_title { margin-left: 20px;}
</style>

{% journaldash_toolbar 'issue' journal user %}
<h4>{{ issue.bibliographic_legend }}</h4>

<table class="table _listings">
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th class="span3">&nbsp;</th>
      <th class="span2">&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    {% regroup articles by xml_head_subject as articles_list %}
    {% for article_set in articles_list %}
      <tr class="grey_bg">
        <td>
          <h4>{{ article_set.grouper }}</h4>
        </td>
        <td><strong>{% trans "Updated at" %}:</strong></td>
        <td><strong>{% trans "Is Visible" %}:</strong></td>
      </tr>
      <tr>
        {% for item in article_set.list %}
          <td>
            <a class="article_title" href="{% url article.detail item.pk %}">
              {{ item.get_article_title }}
            </a>
          </td>
          <td>{{ item.updated_at }}</td>
          <td>{{ item.is_visible }}</td>
        {% endfor %}
      <tr>
    {% empty %}
      <tr>
        <td colspan="3">
          <div class="alert alert-info">
            <i class="icon-info-sign"></i> {% trans 'There are no items.' %}
          </div>
        </td>
      </tr>
    {% endfor %}
  <tbody>
</table>
{% endblock %}
