{% extends "base_list_lv0.html" %}
{% load i18n %}
{% load static %}
{% load scielo_common %}

{% block page_title %}{% trans "Journal objects_issue" %}{% endblock %}

{% block breadcrumb %}
<ul class="breadcrumb">
  <li>
    <a href="{% url index %}">{% trans 'Home' %}</a>
    <span class="divider">/</span>
  </li>
  <li>
    <a href="{% url journal.index %}">{% trans 'Journals' %}</a>
    <span class="divider">/</span>
  </li>
  <li>
    {{ issue.journal.title_iso }}
    <span class="divider">/</span>
  </li>
  <li>
    <a href="{% url issue.index issue.journal.pk %}">{% trans 'Issues' %}</a>
    <span class="divider">/</span>
  </li>
  <li class="active">
    {{ issue }}
  </li>
</ul>
{% endblock %}

{% block content %}
<div class="row-fluid show-grid">
  <div class="span10">
    <a class="btn btn-primary"
       href="{% url issue.edit issue.journal.pk issue.id %}">
       {% trans 'Edit this issue' %}
    </a>
    <a class="btn btn-primary"
       href="{% url article.add issue.journal.pk issue.id %}">
       {% trans 'Add article' %}
    </a>
  </div>
</div>

<table class="table table-striped _listings">
  <thead>
    <tr>
      <th>{% trans 'Title' %}</th>
    </tr>
  </thead>
  <tbody>
    {% for article in issue.list_articles %}
      <tr id="{{ article.journal.pk }}">
        <td>{{ article.title }}</td>
      </tr>
    {% empty %}
      <tr>
        <td colspan="5">{% trans 'There are no items.' %}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
