{% extends "base_list_lv0.html" %}
{% load i18n %}
{% load assets %}

{% block page_title %}{% trans "Article: " %}{{ article.get_article_title }} {% endblock %}

{% block content %}
<div class="row-fluid">
    <h4>{% trans "XML Meta" %}:</h4>
    <div class="well well-small">
        <dl class="dl-horizontal">
            <dt>{% trans "Article title" %}:</dt>
            <dd>{{ article.get_article_title|default:"--" }}</dd>

            <dt>{% trans "Journal title" %}:</dt>
            <dd>
                {% if article.issue %}
                    <a href="{% url journal.dash article.issue.journal.pk %}">
                        {{ article.xml_abbrev_journal_title|default:"--" }}
                    </a>
                {% else %}
                    {{ article.xml_abbrev_journal_title|default:"--" }}
                {% endif %}
            </dd>

            <dt>{% trans "Issue volume" %}:</dt>
            <dd>
                {% if article.issue %}
                    <a href="{% url issue.index article.issue.pk %}">
                        {{ article.xml_volume|default:"--" }}
                    </a>
                {% else %}
                    {{ article.xml_volume|default:"--" }}
                {% endif %}
            </dd>

            <dt>{% trans "Issue number" %}:</dt>
            <dd>
                {% if article.issue %}
                    <a href="{% url issue.index article.issue.pk %}">
                        {{ article.xml_issue|default:"--" }}
                    </a>
                {% else %}
                    {{ article.xml_issue|default:"--" }}
                {% endif %}
            </dd>

            <dt>{% trans "Year" %}:</dt>
            <dd>{{ article.xml_year|default:"--" }}</dd>

            <dt>{% trans "Epub" %}:</dt>
            <dd>{{ article.xml_epub|default:"--" }}</dd>

            <dt>{% trans "Ppub" %}:</dt>
            <dd>{{ article.xml_ppub|default:"--" }}</dd>

            <dt>{% trans "Head Subject" %}:</dt>
            <dd>{{ article.xml_head_subject|default:"--" }}</dd>

            <dt>{% trans "DOI" %}:</dt>
            <dd>{{ article.xml_doi|default:"--" }}</dd>

            <dt>{% trans "PID" %}:</dt>
            <dd>{{ article.xml_pid|default:"--" }}</dd>

            <dt>{% trans "is Ahead of Print" %}:</dt>
            <dd>
                {% if article.xml_is_aop %}
                    <span class="label label-success">{% trans "Yes" %}</span>
                {% else %}
                    <span class="label label-important">{% trans "No" %}</span>
                {% endif %}
            </dd>

            <dt>{% trans "Article Type" %}:</dt>
            <dd>{{ article.xml_article_type|default:"--" }}</dd>

            <dt>{% trans "Article Version" %}:</dt>
            <dd>{{ article.xml_version|default:"--" }}</dd>

        </dl>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <h4>{% trans "XML content" %}:</h4>
            <div class="codemirror_wrapper">
                {% if article.xml %}
                    <textarea id="code" name="code">{{ article.xml }}</textarea>
                {% else %}
                    <textarea id="code" name="code">{% trans "This article don't have XML" %}</textarea>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% assets "codemirror_css" %}
  <link rel="stylesheet" href="{{ ASSET_URL }}">
{% endassets %}

{% assets "codemirror_js" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
    <script src="{{ ASSET_URL }}"></script>
    <script>
        var editor = CodeMirror.fromTextArea(
            document.getElementById("code"),
            {
                lineNumbers: true,
                lineWrapping: true,
                mode: "application/xml",
                styleActiveLine: true,
                foldGutter: true,
                gutters: ["CodeMirror-linenumbers", "CodeMirror-foldgutter"],
                matchTags: { bothTags: true },
            });
        {# ---- read only hack ---- listen for the beforeChange event, and cancel #}
        editor.on('beforeChange',function(cm,change) { change.cancel(); });

        {# ---- render line hack ---- #}
        var charWidth = editor.defaultCharWidth(), basePadding = 4;
        editor.on("renderLine", function(cm, line, elt) {
            var off = CodeMirror.countColumn(line.text, null, cm.getOption("tabSize")) * charWidth;
            elt.style.textIndent = "-" + off + "px";
            elt.style.paddingLeft = (basePadding + off) + "px";
        });
        editor.refresh();
    </script>
{% endassets %}

{% endblock %}
