{% extends "base_list.html" %}
{% load i18n %}
{% load static %}
{% load scielo_common %}

{% block page_title %}{% trans "Centers" %}{% endblock %}

{% block breadcrumb %}
<ul class="breadcrumb">
  <li><a href="{% url index %}">{% trans 'Home' %}</a> <span class="divider">/</span></li>
  <li class="active">{% trans 'Centers DashBoard' %}</li>
</ul><!--breadcrumb-->
{% endblock %}

{% block shortaccess %}
<div class="well sidebar-nav">
  <ul class="nav nav-list">
    <li class="nav-header">{% trans 'Short Access' %}</li>
    <li><a href="{% url center.add %}">{% trans 'Add Center' %}</a></li>
  </ul>
</div><!--well sidebar-nav-->
{% endblock %}

{% block body %}
<div class="row-fluid show-grid">
  <div class="span10">
    <a class="btn btn-primary" href="{% url center.add %}">{% trans 'New' %}</a>
  </div>
  <div class="span2">
    {% simple_pagination objects_center %}
  </div>
</div>

<div class="row-fluid">
  <span>{% trans 'Show by: ' %}</span>
  <a href="{% url center.index %}">{% trans "Enabled Center" %}</a>
  <a href="{% url center.index %}?is_available=0">{% trans "Disabled Center" %}</a>
</div>

<table class="table table-condensed">
<thead>
    <tr>
        <th>{% trans "Name" %}</th>
        <th>{% trans "Acronym" %}</th>
        <th>{% trans "Country" %}</th>
        <th>{% trans "Validated" %}</th>
    </tr>
</thead>
<tbody>
  {% for center in objects_center.object_list %}
  <tr id="{{center.pk}}">
    <td>
      <h4>
        {% if center.is_available %}
          <a href="{% url center.edit center.pk %}">{{ center.name }}</a>
        {% else %}
          <a class="strikethrough" href="{% url center.edit center.pk %}">{{ center.name }}</a>
        {% endif %}
      </h4>
      <ul class="_actions">
        <li>
          <a href="{% url center.edit center.pk %}">
              {% trans 'Edit' %}
          </a>
        </li>
        <li>
          {% if center.is_available %}
            <button id="action_disable_disable" class="btn btn-mini btn-danger" value="{% url center.toggle_availability center.pk %}">{% trans 'disable' %}</button>
          {% else %}
            <button id="action_disable_disable" class="btn btn-mini btn-success" value="{% url center.toggle_availability center.pk %}">{% trans 'enable' %}</button>
          {% endif %}
        </li>
      </ul>
    </td>
    <td>{{ center.acronym }}</td>
    <td>{{ center.country }}</td>
    <td>
      {% if center.validated %}
          <img src="/static/images/true.png" border="0" width="20px" height="20px" alt="{% trans "metadata validated" %}"/>
      {% else %}
          <img src="/static/images/false.png" border="0" width="20px" height="20px" alt="{% trans "metadata not validated" %}"/>
      {% endif %}
    </td>
  </tr>
  {% endfor %}
<tbody>
</table>
{% pagination objects_center %}
{% endblock %}