{% extends "base_lv1.html" %}
{% load inctag_toolbars %}
{% load user_avatar %}
{% load modal %}
{% load i18n %}

{% block page_title %}{{block.super}}{% endblock %}

{% block content %}

  {% journaldash_toolbar 'editor' journal user %}

  {{block.super}}

  {% if editor %}
    <table class="table table-condensed _listings">
      <thead>
        <tr>
          <th>{% trans "Username" %}:</th>
          <th>{% trans "E-mail" %}:</th>
          <th>{% trans "Full name" %}:</th>
          <th>{% trans "Groups" %}:</th>
          <th>{% trans "Actions" %}:</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <a {% if not editor.is_active %}class="strikethrough"{% endif %}
               href="{% url user.edit user.pk %}">
               <img class="img-rounded" src="{% user_avatar_url editor 'small' %}" alt="Gravatar">
               {{ editor.username }}
            </a>
          </td>
          <td>
            <a href="mailto:{{ editor.email }}">
              {{ editor.email }}
            </a>
          </td>
          <td>{{ editor.get_full_name }}</td>
          <td>{{ editor.groups.all|join:", " }}</td>
          <td>
            <a data-target='#id_modal_change_editor' data-toggle="modal" href="{% url editor.add journal.id %}" class="btn btn-mini btn-warning">
              <i class="icon-pencil"></i> {% trans 'Change user editor' %}
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  {% else %}
    <div class="alert">
      {% trans "<strong>Warning!</strong> No user was selected as editor of this journal. To be the editor user must be in 'Editors' group" %}
    </div>

    {% include 'journalmanager/includes/form_add_editor.html' %}

  {% endif %}

  {% modal_form title="Change editor user" modal_id="id_modal_change_editor" %}

{% endblock %}

{% block extrafooter %}
  <script>

    $('#close_btn').click(function(){

      $('#modal').modal('hide');

     });

    $(".chzn-select").chosen(defaultChosenOptions)

    $('#modal').on('shown', function () {

      $("select[name='editor']").attr('class', 'chzn-select span12');
      $(".chzn-select").chosen(defaultChosenOptions);

    });

  </script>
{% endblock %}

