{% extends "base_lv1.html" %}
{% load i18n %}
{% load tz %}
{% load static %}
{% load get_title_for_pended %}
{% load inctag_toolbars %}

{% block page_title %}{{block.super}}{% endblock %}

{% block content %}
{{block.super}}
  {% if perms.journalmanager.change_pendedform %}
    <div class="span6 well">
      <table id="drafts" class="table table-condensed">
        <thead>
          <th>{% trans 'Drafts' %}<th>
        </thead>
        <tbody>
          {% for pending_journal in pending_journals %}
          <tr>
            <td>{% trans 'Journal' %}</td>
            <td>
              <a href="{% url journal.add %}?resume={{pending_journal.form_hash}}"
                 class="tip-bottom"
                 rel="tooltip"
                 data-original-title="{% get_title_for_pended pending_journal %}">
                {{pending_journal.created_at|timezone:user.get_profile.tz|date:"D, d \de F \de Y - H:i:s"}}
              </a>
            </td>
            <td>
              <a href="{% url journal.del_pended pending_journal.form_hash %}"
                 class="btn btn-mini btn-danger">
                {% trans 'Delete' %}
              </a>
            </td>
          <tr>
          {% empty %}
          <tr>
            <td>
              <div class="alert alert-info">
                <i class="icon-info-sign"></i>
                {% trans 'There are no items.' %}
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% endif %}

  {% if perms.journalmanager.list_journal %}
    <div class="span6 well">
      <table id="activities" class="table table-condensed">
        <thead>
          <th colspan="3">{% trans 'Recent activities' %}<th>
        </thead>
        <tbody>
          <tr>
            <td><strong>{% trans 'Collection' %}</strong></td>
            <td><strong>{% trans 'User' %}</strong></td>
            <td><strong>{% trans 'Journal' %}</strong></td>
            <td><strong>{% trans 'Updated at' %}</strong></td>
          </tr>
          {% for activity in recent_activities %}
          <tr>
            <td>
              {{ activity.collections.all|join:', ' }}
            </td>
            <td><a href="mailto:{{ activity.creator.email }}">{{ activity.creator.username }}</a></td>
            <td><a href="{% url journal.edit activity.pk %}"
                   class="tip-bottom"
                   rel="tooltip"
                   data-original-title="{{ activity.title }}">{{ activity.short_title }}</a>
            </td>
            <td>
              {{ activity.updated|timezone:user.get_profile.tz|date:"d/m/Y - H:i:s"}}
            </td>
          </tr>
          {% empty %}
          <tr>
            <td>
              <div class="alert alert-info">
                <i class="icon-info-sign"></i>
                {% trans 'There are no items.' %}
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% endif %}
{% endblock %}

