{% load i18n %}
{% load waffle_tags %}

{% if journal_id %}
  <div class="navbar">
    <div class="navbar-inner">
      <ul class="nav">
        <li {% if page == 'dashboard' %}class="active activedash" {% endif %}>
          <a href="{% url journal.dash journal_id %}">{% trans 'About' %}</a>
        </li>
        {% if perms.journalmanager.list_issue %}
        <li {% if page == 'issue' %}class="active activedash" {% endif %}>
          <a href="{% url issue.index journal_id %}">{% trans 'Issues' %}</a>
        </li>
        {% endif %}
        {% if perms.journalmanager.list_section %}
        <li {% if page == 'section' %}class="active activedash" {% endif %}>
          <a href="{% url section.index journal_id %}">{% trans 'Sections' %}</a>
        </li>
        {% endif %}
        {% if perms.journalmanager.list_pressrelease %}
        <li {% if page == 'press_release' %}class="active activedash" {% endif %}>
          <a href="{% url prelease.index journal_id %}">{% trans "Press Releases" %}</a>
        </li>
        {% endif %}
        {% if perms.journalmanager.change_journaltimeline %}
        <li {% if page == 'status' %}class="active activedash" {% endif %}>
          <a href="{% url journal_status.edit journal_id %}">{% trans 'Status' %}</a>
        </li>
        {% endif %}
        {% flag 'editor_manager' %}
          {% if perms.journalmanager.change_journal %}
          <li {% if page == 'editors' %}class="active activedash" {% endif %}>
            <a href="{% url journal_editors.index journal_id %}">{% trans 'Editors' %}</a>
          </li>      
          {% endif %}
          {% if perms.editormanager.list_news %}
            <li {% if page == 'news' %}class="active activedash" {% endif %}>
              <a href="#">{% trans 'News' %}</a>
            </li>
          {% endif %}
        {% endflag %}
      </ul>
    </div>
  </div>
{% endif %}