{% extends "base.html" %}
{% load i18n %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="/static/css/tablesorter/style.css"/>
{% endblock %}

{% block body_title %}{% trans "User Journals" %}{% endblock %}

{% block stepmenu_top %}
{{ block.super }}
/ <a href="{% url index %}">{% trans 'Home' %}</a>
/ {% trans 'Institutions DashBoard' %} ({{ institution|length }})
{% endblock %}

{% block body %}
<div class="actions"><a href="{% url institution.add %}" class="addNew">{% trans 'New Institution' %}</a></div>
<table class="dataTable" cellspacing="0" border="0">
    <thead>
        <tr>
            <th>{% trans "Name" %}</th>
            <th>{% trans "Sponsor" %}</th>
            <th>{% trans "Validated" %}</th>
            <th>{% trans "Options" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for ct in institutions %}
        <tr class="{% cycle 'even' 'odd' %}">
            <td class="subject">{{ ct.name }}</td>
            <td class="subject">{{ ct.sponsor }}</td>       
            <td class="subject">
                {%if ct.validated %}
                    <img src="/static/images/true.png" border="0" width="20px" height="20px" alt="{% trans "metadata validated" %}"/>
                {%else%}
                    <img src="/static/images/false.png" border="0" width="20px" height="20px" alt="{% trans "metadata not validated" %}"/>
                {%endif%}
            </td>
            <td>
                <div class="options">
                    <ul>
                        <li><a href="/journal/institution/show/{{ ct.pk }}/" title="{% trans 'view institution' %}"><img src="/static/images/show.png" border="0" width="20px" heigth="20px"/></a></li>
                        <li><a href="/journal/institution/edit/{{ ct.pk }}/" title="{% trans 'edit institution' %}"><img src="/static/images/edit.png" border="0" width="20px" heigth="20px"/></a></li>
                        <li><a href="/journal/institution/delete/{{ ct.pk }}/" title="{% trans 'delete institution' %}"><img src="/static/images/trash.png" border="0" width="20px" heigth="20px"/></a></li>
                    </ul>
                </div>
            </td>
        </tr>
        {% endfor %}
    <tbody>
</table>
{% endblock %}
