{% extends "base_list_lv0.html" %}
{% load i18n %}
{% load static %}
{% load scielo_common %}

{% block page_title %}{% trans "Journal objects_issue" %}{% endblock %}

{% block breadcrumb %}
<ul class="breadcrumb">
  <li><a href="{% url index %}">{% trans 'Home' %}</a> <span class="divider">/</span></li>
  <li><a href="{% url journal.index %}">{% trans 'Journals Dashboard' %}</a> <span class="divider">/</span></li>
  <li class="active">{{journal.title}} <span class="divider">/</span> {% trans 'Issues' %}</li>
</ul>
{% endblock %}

{% block content %}
<div class="row-fluid show-grid">
  <div class="span10">
    <a class="btn btn-primary" href="{% url issue.add journal.id %}">{% trans 'New' %}</a>
  </div>
</div>

<table class="table-issue">
  <thead>
    <tr>
      <th>{% trans 'Year' %}</th>
      <th>{% trans 'Volume' %}</th>
      <th>{% trans 'Numbers' %}</th>
    </tr>
  </thead>
  <tbody>
  {% for year, vols in issue_grid.items %}
    {% for vol, nums in vols.items %}
    <tr>
      <th>{{ year }}</th>
      <th>{{ vol|default:'-' }}</th>
      {% for num in nums.numbers %}
        {% if not num.number and not num.suppl_number and not num.suppl_volume %}
        <td><a href="{% url issue.edit journal.pk num.id %}">{% trans 'volume issue' %}</a></td>
        {% else %}
        <td><a href="{% url issue.edit journal.pk num.id %}">{{ num.identification }}</a></td>
        {% endif %}
      {% endfor %}
      {% for num in nums.others %}
        {% if not num.number and not num.suppl_number and not num.suppl_volume %}
        <td><a href="{% url issue.edit journal.pk num.id %}">{% trans 'volume issue' %}</a></td>
        {% else %}
        <td><a href="{% url issue.edit journal.pk num.id %}">{{ num.identification }}</a></td>
        {% endif %}
      {% endfor %}
    </tr>
    {% endfor %}
    {% empty %}
    <tr>
      <td colspan="5">{% trans 'There are no items.' %}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

<ul id="issue-grid"> <!-- first -->
  {% for year, vols in issue_grid.items %}
    {% for vol, nums in vols.items %}
      <li>
        <ul id="{{ year }}v{{ vol|default:'-' }}" class="year_vols"><!-- second -->
            <li style="background-color: #E0E0E0;font-weight: bold;">{{ year }}</li>
            <li style="background-color: #E0E0E0;font-weight: bold;">{{ vol|default:'-' }}</li>
            <li>
              <ul class="sortable" id="numbers">
                {% for num in nums.numbers %}
                  {% if not num.number and not num.suppl_number and not num.suppl_volume %}
                    <li id="num_{{ num.id }}"><a href="{% url issue.edit journal.pk num.id %}">{% trans 'volume issue' %}</a></li>
                  {% else %}
                    <li id="num_{{ num.id }}"><a href="{% url issue.edit journal.pk num.id %}">{{ num.identification }}</a></li>
                  {% endif %}
                {% endfor %}
                {% for num in nums.others %}
                  {% if not num.number and not num.suppl_number and not num.suppl_volume %}
                    <li id="num_{{ num.id }}"><a href="{% url issue.edit journal.pk num.id %}">{% trans 'volume issue' %}</a></li>
                  {% else %}
                    <li id="num_{{ num.id }}"><a href="{% url issue.edit journal.pk num.id %}">{{ num.identification }}</a></li>
                  {% endif %}
                {% endfor %}
              </ul>
            </li>
        </ul><!-- second -->
      </li>
    {% endfor %}
  {% endfor %}
</ul> <!-- first -->

{% endblock %}

{% block extrafooter %}
{{ block.super }}
  <script>
    $(function() {
        $("ul.sortable").sortable({
            placeholder: "ui-state-highlight",
            opacity: 0.5,
            update: function(event, ui) {
              $.ajax({
                url: "{% url issue.reorder.ajax journal.pk %}",
                data: {
                  numbers: $(this).sortable('serialize')
                }
              });
            }
        });
    });
  </script>
{% endblock %}
