{% extends "base_list_lv0.html" %}
{% load i18n %}
{% load static %}
{% load scielo_common %}

{% block page_title %}{% trans "Journal objects_issue" %}{% endblock %}

{% block breadcrumb %}
<ul class="breadcrumb">
  <li><a href="{% url index %}">{% trans 'Home' %}</a> <span class="divider">/</span></li>
  <li><a href="{% url journal.index %}">{% trans 'Journals Dashboard' %}</a> <span class="divider">/</span></li>
  <li class="active">{{journal.title}} <span class="divider">/</span> {% trans 'Issues' %}</li>
</ul>
{% endblock %}

{% block content %}
<div class="row-fluid show-grid">
  <div class="span10">
    <a class="btn btn-primary" href="{% url issue.add journal.id %}">{% trans 'New' %}</a>
  </div>
</div>

<table class="table-issue">
  <thead>
    <tr>
      <th>{% trans 'Year' %}</th>
      <th>{% trans 'Volume' %}</th>
      <th>{% trans 'Numbers' %}</th>
    </tr>
  </thead>
  {% for year, vols in issue_grid.items %}
    {% for vol, nums in vols.items %}
      <tr>
        <th>{{ year }}</th>
        <th>{{ vol }}</th>
        <td>
          <div class="sortable-div">
              <ul class="sortable" id="numbers-{{ year }}{{ vol }}">
                {% for num in nums.numbers %}
                  {% if not num.number and not num.suppl_number and not num.suppl_volume %}
                    <li class="ui-state-default" id="num_{{ num.id }}"><a href="{% url issue.edit journal.pk num.id %}">{% trans 'volume issue' %}</a></li>
                  {% else %}
                    <li class="ui-state-default" id="num_{{ num.id }}"><a href="{% url issue.edit journal.pk num.id %}">{{ num.identification }}</a></li>
                  {% endif %}
                {% endfor %}
                {% for num in nums.others %}
                  {% if not num.number and not num.suppl_number and not num.suppl_volume %}
                    <li class="ui-state-default" id="num_{{ num.id }}"><a href="{% url issue.edit journal.pk num.id %}">{% trans 'volume issue' %}</a></li>
                  {% else %}
                    <li class="ui-state-default" id="num_{{ num.id }}"><a href="{% url issue.edit journal.pk num.id %}">{{ num.identification }}</a></li>
                  {% endif %}
                {% endfor %}
              </ul>
            </div>
            {% endfor %}
          </td>
          {% empty %}
          <tr>
            <td colspan="5">{% trans 'There are no items.' %}</td>
          </tr>
    {% endfor %}
      {% endfor %}
      </tr>
</table>

{% endblock %}

{% block extrafooter %}
{{ block.super }}
  <script>
    $(function() {
        $("ul.sortable").sortable({
            placeholder: "ui-state-highlight",
            opacity: 0.5,
            update: function(event, ui) {
              $.ajax({
                url: "{% url issue.reorder.ajax journal.pk %}",
                data: {
                  numbers: $(this).sortable('serialize'),
                  issues_set: $(this).attr('id')
                }
              });
            }
        });
    });
  </script>
{% endblock %}
