{% extends "base_list_lv0.html" %}
{% load i18n %}
{% load static %}
{% load waffle_tags %}
{% load scielo_common %}
{% load inctag_toolbars %}

{% block page_title %}{% trans "Issues" %} - {{journal.title}}{% endblock %}

{% block content %}
{% journaldash_toolbar 'issue' journal user %}
<div class="row-fluid show-grid">
  <div class="btn-group span1">
    <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
      {% trans 'New' %}
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li><a href="{% url issue.add_regular journal.id %}">{% trans "Regular" %}</a></li>
      <li><a href="{% url issue.add_special journal.id %}">{% trans "Special" %}</a></li>
      <li><a href="{% url issue.add_supplement journal.id %}">{% trans "Supplement" %}</a></li>
    </ul>
  </div>
  {% if perms.journalmanager.change_issue %}
  <div class="span11">
    <div class="span12">
      <form id="ahead-form"
            method="post"
            action=""
            enctype="application/x-www-form-urlencoded"
            class="form-inline">
        {% csrf_token %}
        <div class="pull-right control-group {% if aheadform.current_ahead_documents.errors or aheadform.previous_ahead_documents.errors %}error{% endif %}">
          {% trans 'Total of ahead of print documents at:' %}
           &nbsp;&nbsp; {{ current_year }} {{ aheadform.current_ahead_documents }}
           &nbsp;&nbsp; {{ previous_year }} {{ aheadform.previous_ahead_documents }}
          <input class="btn btn-primary" name="submit" type="submit" value="{% trans 'update' %}" />
        </div>
      </form>
    </div>
  </div>
  {% endif %}
</div>

<div class="accordion" id="accordion-issues">
  <div class="accordion-group">
    {% for year, vols in issue_grid.items %}
      
      {% for vol, nums in vols.items %}
      
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-issues" href="#collapse_{{ year }}_{{ vol|default:'_' }}">
            {{ year }} &raquo; {% trans 'Volume' %} {{ vol|default:'-' }}
          </a>
        </div>
      
        <div id="collapse_{{ year }}_{{ vol|default:'_' }}" {% if forloop.parentloop.first and forloop.first %} class="accordion-body collapse in" {% else %} class="accordion-body collapse" {% endif %}>
          <div class="accordion-inner">
            <table class="table table-hover table-condensed">
              <thead>
                <tr>
                  <th>{% trans "Number" %}:</th>
                  {% flag 'articletrack' %}
                    <th>{% trans "Articles" %}:</th>
                  {% endflag %}
                  <th>{% trans "Total documents" %}:</th>
                  <th>{% trans "Publication months" %}:</th>
                  <th>{% trans "Updated" %}:</th>
                  <th>{% trans "Actions" %}:</th>
                </tr>
              </thead>
              <tbody>
                {% for num in nums %}
                  <tr>
                      <td>
                        <a href="{% url issue.edit journal.pk num.id %}">
                          {% if num.type == 'regular' and not num.number %}
                            {% trans 'volume issue' %}
                          {% else %}
                            {{ num.identification }} 
                          {% endif %}
                        </a> 
                        <span class="label pull-right">{{ num.articles.all|length }} {% trans "articles" %}</span>
                      </td>
                      {% flag 'articletrack' %}
                        <td>
                          <a  class='btn btn-mini' href="{% url article.index num.id %}">{% trans "view articles" %}</a>
                        </td>
                      {% endflag %}
                      <td>
                        <span class="badge {% if num.total_documents == num.articles.all|length %} badge-success {% endif %}">
                          {{ num.total_documents }}
                        </span>
                      </td>
                      <td>{{ num.get_publication_start_month_display }}/{{ num.get_publication_end_month_display }}</td>
                      <td>{{ num.updated|date:"d/m/Y - H:i"  }}</td>
                      <td>
                        <a href="{% url issue.edit journal.pk num.id %}" class="btn btn-mini">
                          {% trans "Edit" %}
                        </a>
                      </td>
                  </tr>
                {% empty %}
                  <tr>
                    <td colspan="6">{% trans 'There are no items.' %}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      {% empty %}
        <tr>
          <td colspan="6">{% trans 'There are no items.' %}</td>
        </tr>
      {% endfor %}
    {% empty %}
      <tr>
        <td colspan="6">{% trans 'There are no items.' %}</td>
      </tr>
    {% endfor %}
  </div>
</div>

{% endblock %}

