{% extends "base_list_lv0.html" %}
{% load i18n %}
{% load static %}
{% load waffle_tags %}
{% load pagination_tags %}
{% load inctag_toolbars %}

{% block page_title %}{% trans "Issues" %} - {{journal.title}}{% endblock %}

{% block content %}
{% journaldash_toolbar 'issue' journal user %}
<div class="row-fluid show-grid">
  <div class="btn-group span1">
    <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
      {% trans 'New' %}
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li><a href="{% url issue.add_regular journal.id %}">{% trans "Regular Issue" %}</a></li>
      <li><a href="{% url issue.add_special journal.id %}">{% trans "Special Issue" %}</a></li>
      <li><a href="{% url issue.add_supplement journal.id %}">{% trans "Supplement Issue" %}</a></li>
    </ul>
  </div>
  {% if perms.journalmanager.change_issue %}
  <div class="span11">
    <div class="span12" style="padding-left: 18px;">{% trans 'Total of ahead of print documents at:' %}</div>
    <div class="span12">
      <form id="ahead-form"
            method="post"
            action=""
            enctype="application/x-www-form-urlencoded"
            class="form-inline">
        {% csrf_token %}
        <div class="control-group {% if aheadform.current_ahead_documents.errors %}error{% endif %}" style="
        float: left; padding-right: 10px;">
          {{ current_year }} {{ aheadform.current_ahead_documents }}
        </div>
        <div class="control-group {% if aheadform.previous_ahead_documents.errors %}error{% endif %}" style="float: left; padding-right: 10px;">
          {{ previous_year }} {{ aheadform.previous_ahead_documents }}
        </div>
        <input
          class="btn btn-primary"
          name="submit"
          type="submit"
          value="{% trans 'update' %}" />
      </form>
    </div>
  </div>
  {% endif %}
</div>

<table class="table-issue">
  <thead>
    <tr>
      <th>{% trans 'Year' %}</th>
      <th>{% trans 'Volume' %}</th>
      <th>{% trans 'Numbers' %}
        {% if perms.journalmanager.can_reorder_issues %}
          <a id="issue_locked_unlocked" href="javascript:void(0)">
            <img id="issue_locked_unlocked_img" class="img_lock btn btn-mini" src="/static/img/lock.png" >
          </a>
        {% endif %}
      </th>
    </tr>
  </thead>
  {% for year, vols in issue_grid.items %}
    {% for vol, nums in vols.items %}
      <tr>
        <th>{{ year }}</th>
        <th>{{ vol|default:'-' }}</th>
        <td>
          <div class="sortable-div">
              <ul class="sortable" id="numbers-{{ year }}|{{ vol|default:'None' }}">
                {% for num in nums %}
                  {% if not num.number and not num.suppl_number and not num.suppl_volume %}
                    <li class="ui-state-default" id="num_{{ num.id }}">
                      <a href="{% url issue.edit journal.pk num.id %}">{% trans 'volume issue' %}</a>
                    </li>
                  {% else %}
                    <li class="ui-state-default" id="num_{{ num.id }}">
                      <a class="btn btn-mini" href="{% url issue.edit journal.pk num.id %}">{{ num.identification }}</a>
                      {% flag 'articletrack' %}
                        <a href="{% url article.index num.id %}">{% trans "article" %}</a>
                      {% endflag %}
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            </div>
            {% endfor %}
          </td>
          {% empty %}
          <tr>
            <td colspan="5">{% trans 'There are no items.' %}</td>
          </tr>
      {% endfor %}
      </tr>
</table>

{% endblock %}

{% block extrafooter %}
{{ block.super }}
  <script>
    $(function() {

      $("ul.sortable").sortable({
          placeholder: "ui-state-highlight",
          opacity: 0.5,
          disabled: true,
          update: function(event, ui) {
            $.ajax({
              url: "{% url issue.reorder.ajax journal.pk %}",
              data: {
                numbers: $(this).sortable('serialize'),
                issues_set: $(this).attr('id')
              }
            });
          }
      });

      $("#issue_locked_unlocked").click(function(){
        if($("ul.sortable").sortable( "option", "disabled")){
          $("ul.sortable").sortable('enable');
          $("#issue_locked_unlocked_img").attr("src", "/static/img/unlock.png");
        }else{
          $("ul.sortable").sortable('disable');
          $("#issue_locked_unlocked_img").attr("src", "/static/img/lock.png");
        }
      });

    });
  </script>
{% endblock %}
