{% extends "base.html" %}
{% load i18n %}

{% block extrahead %}

{% endblock %}

{% block body_title %}{% trans "Journal Issues" %}{% endblock %}

{% block stepmenu_top %}
{{ block.super }}
    <ul class="breadcrumb">
        <li><a href="{% url index %}">{% trans 'Home' %}</a> <span class="divider">/</span></li>
        <li class="active">{{journal.title}} <span class="divider">/</span> {% trans 'Issues DashBoard' %}</li>
    </ul>
{% endblock %}
{% block body %}
<div class="actions">
    <div class="row">
        <div class="span12">
            <div class="search">
                <form action="{% url issue.search %}" method="get">
                    <input class="span6" type="text" placeholder="Search" name="q"  />
                    <button class="btn" type="submit">Search</button>
                </form>
            </div>
        </div>
        <div class="span4">
            <a href="{% url issue.add journal.id %}" class="btn large primary">{% trans 'New Issue' %}</a>
        </div>
    </div>
</div>
<table class="bordered-table zebra-striped">
    <thead>
        <tr>
            <th>{% trans "Identification" %}</th>
            <th>{% trans "Publication date" %}</th>
            <th>{% trans "Is Available?" %}</th>
            <th>{% trans "Is Marked Up?" %}</th>
            <th>{% trans "Options" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for ct in issues.object_list %}
        <tr>
            <td><a href="{% url issue.show ct.id %}/">{{ ct.identification }}</a></td>
            <td>{{ ct.publication_date }}</td>
            <td>{{ ct.is_available }}</td>
            <td>{{ ct.is_marked_up}}</td>
            <!--td>
                {%if ct.validated %}
                    <img src="/static/images/true.png" border="0" width="20px" height="20px" alt="{% trans "metadata validated" %}"/>
                {%else%}
                    <img src="/static/images/false.png" border="0" width="20px" height="20px" alt="{% trans "metadata not validated" %}"/>
                {%endif%}
            </td-->
            <td>
                <div class="options">
                    <ul>
                        <li><a class="label" href="{% url issue.edit  ct.pk %}/">{% trans 'Edit' %}</a></li>
                        <li><a class="label important" href="{% url issue.delete ct.pk %}/">{% trans 'Delete' %}</a></li>
                    </ul>
                </div>
            </td>
        </tr>
        {% endfor %}
    <tbody>
</table>
{% trans 'Showing' %} {{ issues.start_index }}-{{ issues.start_index }} {% trans 'of' %} {{ issues.paginator.count }}
-->
<div class="pagination">
    <ul>
        <li class="prev {% if not issues.has_previous %}disabled{% endif %}">
            <a href="?page={{ issues.previous_page_number }}">&larr; {% trans 'Previous' %}</a>
        </li>
        {% for page in issues.paginator.page_range %}
        <li {% if issues.number == page %}class="active"{% endif %}><a href="?page={{ page }}">{{ page }}</a></li>
        {% endfor %}
        <li class="next {% if not issues.has_next %}disabled{% endif %}">
            <a href="?page={{ issues.next_page_number }}">{% trans 'Next' %} &rarr;</a>
        </li>
    </ul>
</div>
{% endblock %}
