{% extends "base.html" %}
{% load i18n %}

{% block extrahead %}

{% endblock %}

{% block body_title %}{% trans "User Journals" %}{% endblock %}

{% block stepmenu_top %}
{{ block.super }}
    <ul class="breadcrumb">
        <li><a href="{% url index %}">{% trans 'Home' %}</a> <span class="divider">/</span></li>
        <li class="active">{% trans 'Journals DashBoard' %}</li>
    </ul>
{% endblock %}

{% block body %}
<div class="actions">
    <div class="row">
        <div class="span12">
            <div class="search">
                <form action="{% url journal.search %}" method="get">
                    <input class="span6" type="text" placeholder="Search" name="q"  />
                    <button class="btn" type="submit">Search</button>
                </form>
            </div>
        </div>
        <div class="span4">
            <a href="{% url journal.add %}" class="btn large primary">{% trans 'New Journal' %}</a>
        </div>
    </div>
</div>
<table class="bordered-table zebra-striped">
    <thead>
        <tr>
            <th>{% trans "Journal Title" %}</th>
            <th>{% trans "Print ISSN" %}</th>
            <th>{% trans "Electronic ISSN" %}</th>
            <th>{% trans "Publisher" %}</th>
            <th>{% trans "Status" %}</th>
            <th>{% trans "Validated" %}</th>
            <th>{% trans "Options" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for ct in journals.object_list %}
        <tr>
            <td><a href="/journal/show/{{ ct.pk }}/">{{ ct.title }}</a></td>
            <td>{{ ct.print_issn }}</td>
            <td>{{ ct.eletronic_issn }}</td>
            <td>{{ ct.publisher }}</td>
            <td>{{ ct.pub_status }}</td>
            <td>
                {%if ct.validated %}
                    <img src="/static/images/true.png" border="0" width="20px" height="20px" alt="{% trans "metadata validated" %}"/>
                {%else%}
                    <img src="/static/images/false.png" border="0" width="20px" height="20px" alt="{% trans "metadata not validated" %}"/>
                {%endif%}
            </td>
            <td>
                <div class="options">
                    <ul>
                        <li><a class="label" href="/journal/edit/{{ ct.pk }}/">{% trans 'Edit' %}</a></li>
                        <li><a class="label" href="{% url issue.index ct.pk %}">{% trans 'Issues' %}</a></li>
                        <li><a class="label" href="/journal/section/{{ ct.pk }}/">{% trans 'Sections' %}</a></li>
                        <li><a class="label important" href="/journal/delete/{{ ct.pk }}/">{% trans 'Delete' %}</a></li>
                    </ul>
                </div>
            </td>
        </tr>
        {% endfor %}
    <tbody>
</table>
{% trans 'Showing' %} {{ journals.start_index }}-{{ journals.end_index }} {% trans 'of' %} {{ journals.paginator.count }}
<div class="pagination">
    <ul>
        <li class="prev {% if not journals.has_previous %}disabled{% endif %}">
            <a href="?page={{ journals.previous_page_number }}">&larr; {% trans 'Previous' %}</a>
        </li>
        {% for page in journals.paginator.page_range %}
        <li {% if journals.number == page %}class="active"{% endif %}><a href="?page={{ page }}">{{ page }}</a></li>
        {% endfor %}
        <li class="next {% if not journals.has_next %}disabled{% endif %}">
            <a href="?page={{ journals.next_page_number }}">{% trans 'Next' %} &rarr;</a>
        </li>
    </ul>
</div>
{% endblock %}
