{% extends "base.html" %}
{% load i18n %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="/static/css/tablesorter/style.css"/>
{% endblock %}

{% block body_title %}{% trans "User Journals" %}{% endblock %}

{% block stepmenu_top %}
{{ block.super }}
/ <a href="{% url index %}">{% trans 'Home' %}</a>
/ {% trans 'Journals DashBoard' %} ({{ journal|length }})
{% endblock %}

{% block body %}
<div class="actions"><a href="{% url journal.add %}" class="addNew">{% trans 'New Journal' %}</a></div>
<table class="dataTable" cellspacing="0" border="0">
    <thead>
        <tr>
            <th>{% trans "Journal Title" %}</th>
            <th>{% trans "Print ISSN" %}</th>
            <th>{% trans "Electronic ISSN" %}</th>
            <th>{% trans "Publisher" %}</th>
            <th>{% trans "Status" %}</th>
            <th>{% trans "Validated" %}</th>
            <th>{% trans "Options" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for ct in journals.object_list %}
        <tr class="{% cycle 'even' 'odd' %}">
            <td class="subject">{{ ct.title }}</td>
            <td class="subject">{{ ct.print_issn }}</td>
            <td class="subject">{{ ct.eletronic_issn }}</td>
            <td class="subject">{{ ct.publisher }}</td>
            <td class="subject">{{ ct.pub_status }}</td>
            <td class="subject">
                {%if ct.validated %}
                    <img src="/static/images/true.png" border="0" width="20px" height="20px" alt="{% trans "metadata validated" %}"/>
                {%else%}
                    <img src="/static/images/false.png" border="0" width="20px" height="20px" alt="{% trans "metadata not validated" %}"/>
                {%endif%}
            </td>
            <td>
                <div class="options">
                    <ul>
                        <li><a href="/journal/show/{{ ct.pk }}/" title="{% trans 'view journal' %}"><img src="/static/images/show.png" border="0" width="20px" heigth="20px"/></a></li>
                        <li><a href="/journal/edit/{{ ct.pk }}/" title="{% trans 'edit journal' %}"><img src="/static/images/edit.png" border="0" width="20px" heigth="20px"/></a></li>
                        <li><a href="/journal/issue/{{ ct.pk }}/" title="{% trans 'issue manager' %}"><img src="/static/images/issue_manager.png" border="0" width="20px" heigth="20px"/></a></li>
                        <li><a href="/journal/section/{{ ct.pk }}/" title="{% trans 'section manager' %}"><img src="/static/images/section_manager.png" border="0" width="20px" heigth="20px"/></a></li>
                        <li><a href="/journal/delete/{{ ct.pk }}/" title="{% trans 'delete journal' %}"><img src="/static/images/trash.png" border="0" width="20px" heigth="20px"/></a></li>
                    </ul>
                </div>
            </td>
        </tr>
        {% endfor %}
    <tbody>
</table>
<div class="pagination">
    <span class="step-links">
        {% if journals.has_previous %}
            <a href="?page={{ journals.previous_page_number }}">{% trans 'previous<<' %}</a>
        {% endif %}

        <span class="current">
            {% trans 'Page' %} {{ journals.number }} {% trans 'of' %} {{ journals.paginator.num_pages }}
        </span>

        {% if journals.has_next %}
            <a href="?page={{ journals.next_page_number }}">{% trans '>>next' %}</a>
        {% endif %}
    </span>
</div>
{% endblock %}
