{% extends "base_list_lv0.html" %}
{% load i18n %}
{% load static %}
{% load query_string %}
{% load inctag_toolbars %}

{% block page_title %}{% trans "Journals" %}{% endblock %}
{% block content %}
{% journaldash_toolbar 'dashboard' journal user %}
<b>{% trans 'Publisher' %}:</b> {{ journal.publisher_name|default:"n.a." }}<br/>
<b>{% trans 'Print ISSN' %}:</b> {{ journal.print_issn|default:"n.a." }}<br/>
<b>{% trans 'Electronic ISSN' %}:</b> {{ journal.eletronic_issn|default:"n.a." }}<br/>
<b>{% trans 'Editor name' %}:</b> {{ journal.editor_name|default:"n.a." }}<br/>
<b>{% trans 'Editor e-mail' %}:</b> {{ journal.editor_email|default:"n.a." }}<br/>
{% endblock %}
