{% extends "base_list_lv0.html" %}
{% load i18n %}
{% load static %}
{% load inctag_toolbars %}

{% block page_title %}{% trans "Users" %}{% endblock %}

{% block content %}
{% journaldash_toolbar 'editors' journal user %}
<div class="alert alert-info">
  <i class="icon-info-sign"></i>
  {% trans 'The users above are allowed to manage some information about the journal, like: highlights, institucional pages, news, mission, address, etc.'%}
</div>
<table class="table table-condensed _listings">
  <thead>
    <tr>
      <th>{% trans "Username" %}</th>
      <th>{% trans "E-mail" %}</th>
      <th>{% trans "Full name" %}</th>
      <th>{% trans "action" %}</th>
    </tr>
  </thead>
  <tbody>
    {% for user in editors %}
    <tr>
      <td>
        <h4>
             {{ user.username }}
        </h4>
      </td>
      <td>
        <a href="mailto:{{ user.get_profile.email }}">
          {{ user.get_profile.email }}
        </a>
      </td>
      <td>{{ user.first_name }} {{ user.last_name }}</td>
      <td>
        <a href="{% url journal_editors.remove journal.id user.id %}" class="btn btn-danger btn-small">{% trans 'remove' %}</a>
      </td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="4">
        <div class="alert alert-info">
          <i class="icon-info-sign"></i>
          {% trans 'There are no editors to manage this journal' %}
        </div>
      </td>
    </tr>
    {% endfor %}
  <tbody>
</table>
<div ng-app="autorslist">
  <div ng-controller="TypeaheadCtrl">
    {% trans 'Add a new editor to this journal' %}:
    <form name="add-editor"
          id="add-editor"
          method="post"
          action="{% url journal_editors.add journal.id %}"
          enctype="application/x-www-form-urlencoded">
      {% csrf_token %}
      <input type="text"
             placeholder="select a user"
             name="query"
             ng-model="query"
             typeahead="user for user in users | filter:$viewValue" />
      <button class="btn">{% trans 'add' %}</button>
    </form>
  </div>
</div>
{% endblock %}

{% block extrafooter %}
{{ block.super }}
<script language="javascript">
  angular.module('autorslist', ['ui.bootstrap']);
  function TypeaheadCtrl($scope, $http) {
    $http.get('{% url ajx.ajx_list_users %}').success(function(data){
      $scope.users = data;
    })
  };
</script>
{% endblock %}