{% extends "base_list_lv0.html" %}
{% load i18n %}
{% load static %}
{% load pagination_tags %}
{% load query_string %}
{% load inctag_toolbars %}
{% load get_journal_status %}

{% block page_title %}{% trans "Journals" %}{% endblock %}

{% block extrahead %}
  <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}css/jquery-ui.css"/>
  <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}css/select2.css"/>
{% endblock %}

{% block content %}
<div class="row-fluid show-grid">
  <div class="span9">
     <div class="pagination-centered">
       {% if request.GET.letter %}
         {% named_pagination letters request.GET.letter %}
       {% else %}
         {% named_pagination letters 'All' %}
       {% endif %}
     </div>
  </div>
  <div class="span3">
     <div class="pull-right">
      {% simple_pagination objects_journal %}
     </div>
  </div>
</div>

<div class="row-fluid">

    <ul class="nav nav-tabs">
      {% if perms.journalmanager.add_journal %}
        <li>
          <div class="btn-group first-tab-btn-group">
            <!-- {% url journal.add %} -->
            <a id="new-journal" class="btn btn-primary" href="#">
              {% trans 'New' %}
            </a>
          </div>
        </li>
      {% endif %}
      <li class="{% if not request.GET.jstatus %} active {% endif %}">
        <a href="{% query_string request "q" "include_ampersand" %}">{% trans "All" %}</a>
      </li>
      <li class="{% if request.GET.jstatus == 'current' %} active {% endif %}">
        <a href="{% query_string request "q" "include_ampersand" %}jstatus=current">{% trans "Current" %}</a>
      </li>
      <li class="{% if request.GET.jstatus == 'suspended' %} active {% endif %}">
        <a href="{% query_string request "q" "include_ampersand" %}jstatus=suspended">{% trans "Suspended" %}</a>
      </li>
      <li class="{% if request.GET.jstatus == 'deceased' %} active {% endif %}">
        <a href="{% query_string request "q" "include_ampersand" %}jstatus=deceased">{% trans "Deceased" %}</a>
      </li>
      <li class="{% if request.GET.jstatus == 'inprogress' %} active {% endif %}">
        <a href="{% query_string request "q" "include_ampersand" %}jstatus=inprogress">{% trans "In progress" %}</a>
      </li>

      {% if perms.journalmanager.change_journal %}
        <li class="dropdown pull-right" id="menu1">
          <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)">
            {% trans "Actions" %}
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            {% if perms.journalmanager.delete_journal %}
              {% if not request.GET.is_available %}
              <li>
                <a id="bulk_action_enable"
                   rel="{% url trash.bulk_action 'journal' 'is_available' '0' %}"
                   href="javascript:void(0)"><i class="icon-trash"></i> {% trans "Move to trash" %}</a>
              </li>
              {% endif %}
            {% endif %}
          </ul>
        </li>
      {% endif %}
    </ul>

</div>
<form action="javascript:void(0)" method="post" id="bulk_action">
  {% csrf_token %}
  <table class="table table-striped _listings">
  <thead>
    <tr>
      <th class="checkbox_column"><input id="check_all" type="checkbox" name="check_all" value=""></th>
      <th class="span1">{% trans "Status" %}</th>
      <th>{% trans "Acronym" %}</th>
      <th>{% trans "Journal Title" %}</th>
    </tr>
  </thead>
  <tbody>
    {% for journal in objects_journal.object_list %}
    <tr id="{{ journal.pk }}">
      <td>
        <input type="checkbox" name="action" value="{{ journal.id }}">
      </td>
      <td>
        <span class="_icon _icon-{% get_journal_status journal default_collection %} tip-bottom"
                data-original-title="{% get_journal_status journal default_collection %}"
                rel="tooltip"></span>
      </td>
      <td>
        <h4>
            {% if perms.journalmanager.list_journal %}
              <a href="{% url journal.dash journal.pk %}">
                {{ journal.acronym }}
              </a>
            {% else %}
              {{ journal.acronym }}
            {% endif %}
        </h4>
      </td>
      <td>
        <a href="{% url journal.dash journal.pk %}">
          {{ journal.title }}
        </a>
      </td>
    </tr>
    {% empty %}
      <tr>
        <td colspan="5">
          <div class="alert alert-info">
            <i class="icon-info-sign"></i>
            {% trans 'There are no items.' %}
          </div>
        </td>
      </tr>
    {% endfor %}
  <tbody>
  </table>
</form>

<!-- Modal -->
  <div class="modal hide fade" id="journal-check">

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="journal-check">{% trans 'Check if journal already exists' %}</h3>
  </div>

  <div class="modal-body" style="height:250px;">

    <div id="check-message-info" class="alert alert-warning" style="display: none; position: fixed; top: 30%; left: 50%; margin-left: -210px; width: 400px; z-index: 9999; border: 1px solid;">
      <a class="close" data-dismiss="alert" href="#">x</a>
      <p><h4 class="alert-heading"></i>{% trans 'Adding journal to my collection' %}</h4></p>
      <p id="alert-message-info"></p>
      <p class="pull-right">
        <a id="btn-alert-info" class="btn" href="#">OK</a>
      </p>
    </div>

    <div class="alert alert-info">
      <i class="icon-info-sign"></i> {% trans "To insert a journal, you need to check whether the journal exists. If it exists just add to your collection!" %} :-)
    </div>

    <!-- Verification form -->
    <form>

      <div class="control-group" style="margin-bottom: 50px;">
          <label>
              {% trans 'Search journal' %}:
          </label>
          <div class="controls">
            <input type="hidden" class="select2-chosen span12" id="id-journal-check" name="journal-input-check">
          </div>
      </div>

      <div class="control-group" style="margin-bottom: 50px;">
          <div class="controls">
            <a id="btn-add-collection" class="btn btn-success span12" disabled href="#">{% trans 'Add this journal to my current collection' %}</a>
          </div>
      </div>

    </form>
    <!-- Verification form -->

  </div>

  <div class="modal-footer">
    <!-- add {% url journal.add %} to the href if user dont find the journal -->
    <a id="btn-add-new-journal" class="btn btn-danger span12" href="{% url journal.add %}">{% trans 'I understand the consequences, add new journal' %}</a>
  </div>

 </div>
<!-- Modal -->

{% endblock %}

{% block extrafooter %}
  <script type="text/javascript" src="{% get_static_prefix %}js/jquery/select2.js"></script>

  <script>

     $('#new-journal').click(function(){
        $('#journal-check').modal();
     });

     $('#journal-check').on('hidden', function(){
        window.location.reload(true);
     });

     $('#btn-alert-info').click(function(){
        $("#check-message-info").css('display', 'none');
     });

    function result(data){
        return "<b>" + data.title + "</b> - " + data.short_title
               + "</br><b>{% trans 'Print ISSN' %}: </b>" + data.print_issn
               + "</br><b>{% trans 'Eletronic ISSN' %}: </b>" + data.eletronic_issn
               + "</br><b>{% trans 'Acronym' %}: </b>" + data.acronym
               + "</br><b>{% trans 'Coleções' %}: </b>" + data.collections
      }

    function selection(data){
        return '<b>' + data.title + '</b> - '
               + data.short_title + ' '
               + data.print_issn + ' '
               + data.eletronic_issn + ' '
               + data.acronym
    }

    function nomatches(term){
        return "{% trans 'No journal(s) found to the term: ' %}" + term
    }

    $("#id-journal-check").on('select2-selecting', function(e){
                              $("#btn-add-collection").attr("disabled", false);
                              $("#btn-add-new-journal").attr("disabled", true);
                            });

    $("#id-journal-check").on('select2-removed', function(e){
                              $("#btn-add-collection").attr("disabled", true);
                              $("#btn-add-new-journal").attr("disabled", false);
                            });

    $("#id-journal-check").select2({
        placeholder: '{% trans "Search by: title, abbreviated title, acronym and ISSN(s)" %}',
        minimumInputLength: 3,
        allowClear: true,
        ajax: {
            url: "{% url ajx.ajx_search_journal %}",
            dataType: 'json',
            data: function (term, page) {
                return {
                    q: term,
                    page_limit: 10,
                };
            },
            results: function (data, page) {
                return {results: data.data};
            }
        },
        formatResult: result,
        formatSelection: selection,
        formatNoMatches: nomatches,
        dropdownCssClass: "bigdrop",
        sescapeMarkup: function (m) { return m; }
    });

    $("#btn-add-collection").click(function(){
      $.ajax({
        url: "ajx/ajx4/" + $("#id-journal-check")[0].value,
        dataType: 'json',
        type: "GET",
        success: function(data){
            if (!data.assignment){
              $('#alert-message-info').html("<b>" + data.journal
                                            + "</b> {% trans 'is already member of collection' %}: "
                                            + "<b>" + data.collection + "</b>")
              $('#check-message-info').toggle()
            }else{
              $('#journal-check').modal('hide');
            }

          },
        fail: function(){
            alert('{% trans "An unexpected error. Please try again later." %}')
          },
      });

    });

  </script>

{% endblock %}
