{% extends "base.html" %}
{% load i18n %}

{% block stepmenu_top %}
{{ block.super }}
<ul class="breadcrumb">
  <li><a href="{% url index %}">{% trans 'Home' %}</a> <span class="divider">/</span></li>
  <li><a href="{% url journalmanager.my_account %}">{% trans 'My Account' %}</a> <span class="divider">/</span></li>
  <li class="active">{% trans 'Password Change' %}</li>
</ul>
{% endblock %}

{% block body %}
<form action="#" method="POST">{% csrf_token %}
  <span class="label">{% trans 'Password Change' %}</span>
  <div class="well">
    {{ form.as_p }}
  </div>
  <div class="row-fluid">
    <input class="btn btn-primary"
           name="submit"
           type="submit"
           value="{% trans 'save' %}"/>
    <input class="btn btn-warning" type="reset" value="{% trans 'cancel' %}"/>
  </div>
</form>
{% endblock %}