{% extends "base_lv1.html" %}
{% load i18n %}
{% load scielo_common %}

{% block page_title %}{% trans "Press Releases" %} - {{journal.title}}{% endblock %}

{% block breadcrumb %}
<ul class="breadcrumb">
  <li><a href="{% url index %}">{% trans 'Home' %}</a> <span class="divider">/</span></li>
  <li><a href="{% url journal.index %}">{% trans 'Journals Dashboard' %}</a> <span class="divider">/</span></li>
  <li class="active">{{journal.title}} <span class="divider">/</span> {% trans 'Press Releases' %}</li>
</ul>
{% endblock %}

{% block content %}

<div class="row-fluid show-grid">
  <div class="span8">
   <a class="btn btn-primary" href="{% url prelease.add journal.id %}">{% trans 'New regular press release' %}</a>
   <a class="btn btn-primary" href="{% url aprelease.add journal.id %}">{% trans 'New for ahead of print articles' %}</a>
  </div>
  <div class="span2">
    {% simple_pagination objects_pr %}
  </div>
</div>

<table class="table table-striped _listings">
  <thead>
    <tr>
      <th>{% trans 'Press Release' %}</th>
      <th>{% trans 'Issue' %}</th>
    </tr>
  </thead>
  <tbody>
    {% for item in objects_pr.object_list %}
    <tr>
      <td>
        <h4>
          <a href="{% url prelease.edit journal.id item.pk %}">{{ item }}</a>
        </h4>
      </td>
      <td>
        {{ item.issue }}
      </td>
    </tr>
   {% empty %}
    <tr>
      <td colspan="2">{% trans 'There are no items.' %}</td>
    </tr>
    {% endfor %}
  <tbody>
</table>

{% pagination objects_pr %}

{% endblock %}
