{% extends "base_lv1.html" %}
{% load i18n %}
{% load pagination_tags %}
{% load query_string %}
{% load inctag_toolbars %}

{% block page_title %}{% trans "Press Releases" %} - {{journal.title}}{% endblock %}

{% block content %}
{% journaldash_toolbar 'press_release' journal user %}
<ul class="nav nav-tabs">
  {% if perms.journalmanager.change_pressrelease %}
    <li>
      <div class="btn-group first-tab-btn-group">
        <button class="btn btn-primary">{% trans 'New' %}</button>
        <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="{% url prelease.add journal.id %}">{% trans 'New regular press release' %}</a></li>
          <li><a href="{% url aprelease.add journal.id %}">{% trans 'New for ahead of print articles' %}</a></li>
        </ul>
      </div>
    </li>
  {% endif %}
  <li class="{% if not request.GET.tab %}active{% endif %}">
    <a href="{% query_string request '' 'include_ampersand' %}">{% trans 'Press Release of Issue' %}</a>
  </li>
  <li class="{% if request.GET.tab == 'ahead' %}active{% endif %}">
    <a href="?tab=ahead">{% trans 'Press Release of Ahead' %}</a>
  </li>
  <li style="float:right; margin-button: 2px">{% simple_pagination objects_pr %}</li>
</ul>

<div class="tab-content">
  {% if not request.GET.tab %}
    {% include "include_press_release/issue.html" %}
  {% endif %}

  {% if request.GET.tab == 'ahead' %}
    {% include "include_press_release/ahead.html" %}
  {% endif %}
</div>

{% pagination objects_pr %}

{% endblock %}