{% extends "base.html" %}
{% load i18n %}
{% load append_to_get %}

{% block body_title %}{% trans "Journal Sections" %}{% endblock %}

{% block stepmenu_top %}
{{ block.super }}
<ul class="breadcrumb">
    <li><a href="{% url index %}">{% trans 'Home' %}</a> <span class="divider">/</span></li>
    <li><a href="{% url journal.index %}">{% trans 'Journals Dashboard' %}</a> <span class="divider">/</span></li>
    <li class="active">{{journal.title}} <span class="divider">/</span> {% trans 'Sections' %}</li>
</ul>
{% endblock %}
{% block body %}
<div class="row-fluid">
    <div class="span12">
        <div class="search">
        </div>
    </div>
</div><!--row-fluid Search box-->
<div class="row-fluid">
    <div class="span10">
        <a class="btn btn-primary" href="{% url section.add journal.id %}">{% trans 'New' %}</a>
    </div>
    <div class="span2">
        <div class="btn-group">
            <a class="btn" href="#">{% trans 'View' %}</a>
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a href="{% url section.index journal.id %}"><i class="icon-plus-sign"></i>  {% trans "Enabled" %}</a>
                </li>
                <li>
                    <a href="{% url section.index journal.id %}?is_available=0"><i class="icon-minus-sign"></i>  {% trans "Disabled" %}</a>
                </li>
            </ul>
        </div>
</div><!--row-fluid Search box-->
<table class="table table-striped">
    <thead>
        <tr>
            <th>{% trans "Section Title" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for ct in items.object_list %}
        <tr>
            <td>
                <h4>
                    <a href="{% url section.edit ct.journal.pk ct.pk %}">{{ ct.title }}</a>
                </h4>
            </td>
        </tr>
        {% endfor %}
    <tbody>
</table>
{% trans 'Showing' %} {{ items.start_index }}-{{ items.end_index }} {% trans 'of' %} {{ items.paginator.count }}
<div class="pagination">
    <ul>
        <li class="prev {% if not items.has_previous %}disabled{% endif %}">
            <a href="{% append_to_get page=items.previous_page_number %}">&larr; {% trans 'Previous' %}</a>
        </li>
        {% for page in items.paginator.page_range %}
        <li {% if items.number == page %}class="active"{% endif %}><a href="?{% append_to_get page=page %}">{{ page }}</a></li>
        {% endfor %}
        <li class="next {% if not items.has_next %}disabled{% endif %}">
            <a href="{% append_to_get page=items.next_page_number %}">{% trans 'Next' %} &rarr;</a>
        </li>
    </ul>
</div>
{% endblock %}
