{% extends "base_lv1.html" %}
{% load i18n %}
{% load pagination_tags %}
{% load inctag_toolbars %}

{% block page_title %}{% trans "Sections" %} - {{journal.title}}{% endblock %}

{% block content %}
{% journaldash_toolbar 'section' journal user %}
<div class="row-fluid show-grid">
  <div class="span9">
   <a class="btn btn-primary" href="{% url section.add journal.id %}">{% trans 'New' %}</a>
  </div>
  <div class="span3">
    <div class="pull-right">
      {% simple_pagination objects_section %}
    </div>
  </div>
</div>

<table class="table table-striped _listings">
  <thead>
    <tr>
      <th>{% trans "Section Title" %}</th>
      <th>{% trans "Code" %}</th>
      <th>{% trans "Actions" %}</th>
    </tr>
  </thead>
  <tbody>
    {% for item in objects_section.object_list %}
    <tr>
      <td>
        {% for trans in item.titles.all %}
          {% if forloop.first %}
            <b>
              <span class="label label-info">{{ trans.language.iso_code }}</span>
              &nbsp;
              <a href="{% url section.edit journal.id item.pk %}">{{ trans.title }}</a>
            </b>
            <div {% if item.titles.all|length > 1 %}class="toggler"{% endif %} style="display: none;">
          {% else %}
            <span class="label label-info">{{ trans.language.iso_code }}</span>
            &nbsp;
            {{ trans.title }}</br>
          {% endif %}
        {% endfor %}
            </div>
      </td>
      <td>
        {{ item.actual_code }}
      </td>
      <td>
        <ul class="_actions">
          <li>
            {% if not item.is_used %}
              <a href="{% url section.del item.journal.pk item.pk %}"
                 class="btn btn-mini btn-danger">
            {% else %}
              <a href="#"
                 class="btn btn-mini btn-danger disabled">
            {% endif %}
              {% trans 'Delete' %}
            </a>
          </li>
        </ul>
      </td>
    </tr>
   {% empty %}
    <tr>
      <td colspan="2">
        <div class="alert alert-info">
          <i class="icon-info-sign"></i>
          {% trans 'There are no items.' %}
        </div>
      </td>
    </tr>
    {% endfor %}
  <tbody>
</table>
<div class="alert alert-info">
  <p>
    <i class="icon-info-sign"></i>
    {% trans 'Hey, you can not remove the sections that are being used by at least one issue of this journal.' %}
  </p>
</div>

{% pagination objects_section %}

{% endblock %}
