{% extends "base.html" %}
{% load i18n %}
{% load journalmanager_template_tags %}

{% block body_title %}{% trans "Journal Sections" %}{% endblock %}

{% block stepmenu_top %}
{{ block.super }}
<ul class="breadcrumb">
    <li><a href="{% url index %}">{% trans 'Home' %}</a> <span class="divider">/</span></li>
    <li><a href="{% url journal.index %}">{% trans 'Journals Dashboard' %}</a> <span class="divider">/</span></li>
    <li class="active">{{journal.title}} <span class="divider">/</span> {% trans 'Sections' %}</li>
</ul>
{% endblock %}
{% block body %}

<div class="row-fluid show-grid">
    <div class="span10"> 
      <a class="btn btn-primary" href="{% url section.add journal.id %}">{% trans 'New' %}</a>
    </div>
    <div class="span2">
        {% simple_pagination items %}
    </div>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>{% trans "Section Title" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for item in items.object_list %}
        <tr>
            <td>
                <h4>
                    <a href="{% url section.edit item.journal.pk item.pk %}">{{ item.title }}</a>
                </h4>
            </td>
        </tr>
        {% endfor %}
    <tbody>
</table>

{% pagination items %} 

{% endblock %}
