{% extends "base.html" %}
{% load i18n %}

{% block stepmenu_top %}
    {{ block.super }}
    / <a href="{% url index %}">{% trans 'Home' %}</a>
    / <a href="{% url journal.index %}">{% trans 'Journal DashBoard' %}</a>
    / {% trans 'Journal Details' %}
    {% endblock %}

{% block body %}

<h1>{{ journal.title }}</h1>
<fieldset>
    <legend>{% trans "About the Journal Part-1" %}</legend>
    <div class="show">
    <table>
        <tr>
            <th>{% trans "Validated" %}</th>
            <td>
                {%if journal.validated %}
                    <img src="/static/images/true.png" border="0" width="20px" height="20px" alt="{% trans "metadata validated" %}"/>
                {%else%}
                    <img src="/static/images/false.png" border="0" width="20px" height="20px" alt="{% trans "metadata not validated" %}"/>
                {%endif%}
            </td>
        </tr>        
        <tr>
            <th>{% trans "Title" %}</th>
            <td>{{ journal.title }}</td>
        </tr>        
        <tr>
            <th>{% trans "Publisher" %}</th>
            <td>{{ journal.publisher }}</td>
        </tr>
        <tr>
            <th>{% trans "Short Title" %}</th>
            <td>{{ journal.abbreviated_title }}</td>
        </tr>
        <tr>
            <th>{% trans "ISO Title" %}</th>
            <td>{{ journal.iso_title }}</td>
        </tr>
        <tr>
            <th>{% trans "Acronym" %}</th>
            <td>{{ journal.acronym }}</td>
        </tr>
        <tr>
            <th>{% trans "Print ISSN" %}</th>
            <td>{{ journal.print_issn }}</td>
        </tr>
        <tr>
            <th>{% trans "Electronic ISSN" %}</th>
            <td>{{ journal.eletronic_issn }}</td>
        </tr>
        <tr>
            <th>{% trans "Mission Portuguese" %}</th>
            <td>{{ journal.mission_pt }}</td>
        </tr>
        <tr>
            <th>{% trans "Mission English" %}</th>
            <td>{{ journal.mission_en }}</td>
        </tr>
        <tr>
            <th>{% trans "Mission Spanish" %}</th>
            <td>{{ journal.mission_es }}</td>
        </tr>        
        <tr>
            <th>{% trans "Subject Descriptors" %}</th>
            <td>{{ journal.subject_descriptors }}</td>
        </tr>
        <tr>
            <th>{% trans "Study Area" %}</th>
            <td>{{ journal.study_area }}</td>
        </tr>
        <tr>
            <th>{% trans "Indexation Range" %}</th>
            <td>{{ journal.indexation_range }}</td>
        </tr>
    </table>
    </div>
</fieldset>    
<fieldset>
    <legend>{% trans "About the Journal Part-2" %}</legend>
    <div class="show">
    <table>
        <tr>
            <th>{% trans "Initial Date" %}</th>
            <td>{{ journal.init_year }}</td>
        </tr>
        <tr>
            <th>{% trans "Initial Volume" %}</th>
            <td>{{ journal.init_vol }}</td>
        </tr>
        <tr>
            <th>{% trans "Initial Number" %}</th>
            <td>{{ journal.init_num }}</td>
        </tr>
        <tr>
            <th>{% trans "Final Date" %}</th>
            <td>{{ journal.final_year }}</td>
        </tr>
        <tr>
            <th>{% trans "Final Volume" %}</th>
            <td>{{ journal.final_vol }}</td>
        </tr>
        <tr>
            <th>{% trans "Final Number" %}</th>
            <td>{{ journal.final_num }}</td>
        </tr>
        <tr>
            <th>{% trans "Frequency" %}</th>
            <td>{{ journal.get_frequency_display }}</td>
        </tr>
        <tr>
            <th>{% trans "Publication Status" %}</th>
            <td>{{ journal.get_pub_status_display }}</td>
        </tr>
        <tr>
            <th>{% trans "Language" %}</th>
            <td>{{ journal.get_alphabet_display }}</td>
        </tr>        
        <tr>
            <th>{% trans "Classification" %}</th>
            <td>{{ journal.get_classification_display }}</td>
        </tr>
        <tr>
            <th>{% trans "National Code" %}</th>
            <td>{{ journal.national_code }}</td>
        </tr>
        <tr>
            <th>{% trans "Text Language" %}</th>
            <td>{{ journal.text_language }}</td>
        </tr>
        <tr>
            <th>{% trans "Abstract Language" %}</th>
            <td>{{ journal.abst_language }}</td>
        </tr>
        <tr>
            <th>{% trans "Standard" %}</th>
            <td>{{ journal.get_standard_display }}</td>
        </tr>
        <tr>
            <th>{% trans "Controlled Vocabulary" %}</th>
            <td>{{ journal.get_ctrl_vocabulary_display }}</td>
        </tr>
        <tr>
            <th>{% trans "Literature Type" %}</th>
            <td>{{ journal.get_literature_type_display }}</td>
        </tr>
        <tr>
            <th>{% trans "Treatment Level" %}</th>
            <td>{{ journal.get_treatment_level_display }}</td>
        </tr>
        <tr>
            <th>{% trans "Publication Level" %}</th>
            <td>{{ journal.get_publication_level_display }}</td>
        </tr>
    </table>
    </div>
</fieldset>
<fieldset>
    <legend>{% trans "For Health Sciences and Biological Sciences Journals" %}</legend>    
    <div class="show">
    <table>
        <tr>
            <th>{% trans "SECS Code" %}</th>
            <td>{{ journal.secs_code }}</td>
        </tr>
        <tr>
            <th>{% trans "Medline Code" %}</th>
            <td>{{ journal.medline_code }}</td>
        </tr>
        <tr>
            <th>{% trans "Medline Short Title" %}</th>
            <td>{{ journal.medline_short_title }}</td>
        </tr>
    </table>
    </div>
</fieldset>
{% endblock %}
