{% extends "base_list_lv0.html" %}
{% load i18n %}
{% load static %}
{% load pagination_tags %}
{% load query_string %}

{% block page_title %}{% trans "Trash" %}{% endblock %}

{% block content %}
<div class="row-fluid show-grid">
  <div class="span6">
    <h2>{% trans "My trash" %}:</h2>
  </div>
  <div class="span6" class="pull-right">
    {% simple_pagination trashed_docs %}
  </div>
</div>

<div class="row-fluid">
  <ul class="nav nav-tabs">
    <li class="{% if request.GET.show == 'journal' %}active{% endif %}">
      <a href="{% query_string request "q" "include_ampersand" %}show=journal">
        {% trans "Journals" %}
      </a>
    </li>
    <li class="{% if request.GET.show == 'section' %}active{% endif %}">
      <a href="{% query_string request "q" "include_ampersand" %}show=section">
        {% trans "Sections" %}
      </a>
    </li>
    <li class="{% if request.GET.show == 'publisher' %}active{% endif %}">
      <a href="{% query_string request "q" "include_ampersand" %}show=publisher">
        {% trans "Publishers" %}
      </a>
    </li>
    <li class="{% if request.GET.show == 'sponsor' %}active{% endif %}">
      <a href="{% query_string request "q" "include_ampersand" %}show=sponsor">
        {% trans "Sponsors" %}
      </a>
    </li>

    <li class="dropdown pull-right" id="menu1">
      <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)">
        {% trans "Actions" %}
        <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        <li>
          <a id="bulk_action_enable"
          {% if request.GET.show == 'section' %}
             rel="{% url trash.bulk_action 'section' 'is_available' '1' %}"
          {% else %}
            {% if request.GET.show == 'publisher' %}
             rel="{% url trash.bulk_action 'publisher' 'is_available' '1' %}"
            {% else %}
              {% if request.GET.show == 'sponsor' %}
                rel="{% url trash.bulk_action 'sponsor' 'is_available' '1' %}"
              {% else %}
                rel="{% url trash.bulk_action 'journal' 'is_available' '1' %}"
              {% endif %}
            {% endif %}
          {% endif %}
             href="javascript:void(0)"><i class="icon-share"></i> {% trans "Restore" %}</a>
        </li>
      </ul>
    </li>
  </ul>
</div>

<form action="javascript:void(0)" method="post" id="bulk_action">
  {% csrf_token %}
  <table class="table table-striped">
    <thead>
      <tr>
        <th class="checkbox_column"><input id="check_all" type="checkbox" name="check_all" value=""/></th>
        <th>{% trans "Title" %}</th>
      </tr>
    </thead>
    <tbody>
      {% for doc in trashed_docs.object_list %}
        <tr id="{{ doc.pk }}">
          <td>
            <input type="checkbox" name="action" value="{{ doc.id }}"/>
          </td>
          <td>
            {{ doc }}
          </td>
        </tr>
      {% empty %}
      <tr>
        <td colspan="2">
          <div class="alert alert-info">
            <i class="icon-info-sign"></i>
            {% trans 'There are no items.' %}
          </div>
        </td>
      </tr>
      {% endfor %}
    <tbody>
  </table>
</form>

{% pagination trashed_docs %}
{% endblock %}
