{% extends "base.html" %}
{% load i18n %}

{% block extrahead %}

{% endblock %}

{% block body_title %}{% trans "User Titles" %}{% endblock %}

{% block stepmenu_top %}
{{ block.super }}
    <ul class="breadcrumb">
        <li><a href="{% url index %}">{% trans 'Home' %}</a> <span class="divider">/</span></li>
        <li class="active">{% trans 'Users DashBoard' %}</li>
    </ul>
{% endblock %}

{% block body %}
{% if perms.auth.add_user %}
<div class="actions"><a href="{% url user.add %}" class="btn large primary">{% trans 'New User' %}</a></div>
{% endif %}
<table class="bordered-table zebra-striped">
    <thead>
        <tr>
            <th>{% trans "Login" %}</th>
            <th>{% trans "E-mail" %}</th>
            <th>{% trans "Full name" %}</th>
            <th>{% trans "Active" %}</th>
            <th>{% trans "Options" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for ct in users.object_list %}
        <tr>
            <td><a href="/journal/user/show/{{ ct.pk }}/">{{ ct.username }}</a></td>
            <td>{{ ct.email }}</td>
            <td>{{ ct.first_name }} {{ ct.last_name }}</td>
            <td>
                {%if ct.is_active %}
                    <img src="/static/images/true.png" border="0" width="20px" height="20px" alt="{% trans "metadata validated" %}"/>
                {%else%}
                    <img src="/static/images/false.png" border="0" width="20px" height="20px" alt="{% trans "metadata not validated" %}"/>
                {%endif%}
            </td>
            <td>
                <div class="options">
                    <ul>
                        {% if perms.auth.change_user %}
                        <li>
                            <a class="label" href="/journal/user/edit/{{ ct.pk }}/">{% trans 'Edit' %}</a>
                        </li>
                        {% endif %}
                        {% if perms.auth.delete_user %}
                        <li>
                            <a class="label important" href="/journal/user/delete/{{ ct.pk }}/">{% trans 'Delete' %}</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </td>
        </tr>
        {% endfor %}
    <tbody>
</table>
{% trans 'Showing' %} {{ users.start_index }}-{{ users.end_index }} {% trans 'of' %} {{ users.paginator.count }}
<div class="pagination">
    <ul>
        <li class="prev {% if not users.has_previous %}disabled{% endif %}">
            <a href="?page={{ users.previous_page_number }}">&larr; {% trans 'Previous' %}</a>
        </li>
        {% for page in users.paginator.page_range %}
        <li {% if users.number == page %}class="active"{% endif %}><a href="?page={{ page }}">{{ page }}</a></li>
        {% endfor %}
        <li class="next {% if not user.has_next %}disabled{% endif %}">
            <a href="?page={{ users.next_page_number }}">{% trans 'Next' %} &rarr;</a>
        </li>
    </ul>
</div>
{% endblock %}
