{% extends "base_list_lv0.html" %}
{% load i18n %}
{% load static %}
{% load pagination_tags %}
{% load inctag_toolbars %}
{% load user_avatar %}

{% block page_title %}{% trans "Users" %}{% endblock %}

{% block content %}
{% if perms.auth.add_user %}
<div class="row-fluid">
  <div class="span10">
    <a href="{% url user.add %}" class="btn btn-primary">{% trans 'New' %}</a>
  </div>
  <div class="span2">
    {% simple_pagination users %}
  </div>
</div>
{% endif %}
<table class="table table-condensed _listings">
  <thead>
    <tr>
      <th>{% trans "Username" %}</th>
      <th>{% trans "E-mail" %}</th>
      <th>{% trans "Full name" %}</th>
      <th>{% trans "Groups" %}</th>
      <th>{% trans "Actions" %}</th>
    </tr>
  </thead>
  <tbody>
    {% for user in users.object_list %}
    <tr id="{{ user.pk }}">
      <td>
        <a {% if not user.is_active %}class="strikethrough"{% endif %}
           href="{% url user.edit user.pk %}">
           <img class="img-rounded" src="{% user_avatar_url user 'small' %}" alt="Gravatar">
           {{ user.username }}
        </a>
      </td>
      <td>
        <a href="mailto:{{ user.get_profile.email }}">
          {{ user.get_profile.email }}
        </a>
      </td>
      <td>{{ user.first_name }} {{ user.last_name }}</td>
      <td>{{ user.groups.all|join:", " }}</td>
      <td>
        <ul class="_actions">
          {% if perms.auth.delete_user %}
          <li>
            {% if user.is_active %}
            <button id="action_disable_disable"
                    class="btn btn-mini btn-danger"
                    value="{% url user.toggle_availability user.pk %}">
              {% trans 'Disable' %}
            </button>
            {% else %}
            <button id="action_disable_disable"
                    class="btn btn-mini btn-success"
                    value="{% url user.toggle_availability user.pk %}">
              {% trans 'Enable' %}
            </button>
            {% endif %}
          </li>
          {% endif %}
        </ul>
      </td>
    </tr>
    {% endfor %}
  <tbody>
</table>
{% pagination users %}
{% endblock %}
