{% load i18n %}

<table class="table table-striped" style="width:100%">
  <tbody>
    <tr>
      <td width="30%" class="table-journal-detail-td"><b>{% trans 'Journal title' %}:</b></td>
      <td>Fundação Zoobotânica do Rio Grande do Sul</td>
    </tr>
    <tr>
      <td class="table-journal-detail-td"><b>{% trans 'ISO abbreviated title' %}:</b></td>
      <td>Iheringia, Sér. Zool. </td>
    </tr>
    <tr>
      <td class="table-journal-detail-td"><b>{% trans 'Short title' %}:</b></td>
      <td>Iheringia, Sér. Zool.</td>
    </tr>
    <tr>
      <td class="table-journal-detail-td"><b>{% trans 'Medile title' %}:</b></td>
      <td>Iheringia, Sér. Zool. (Mediline)</td>
    </tr>
    <tr>
      <td class="table-journal-detail-td"><b>{% trans 'Previous title' %}:</b></td>
      <td>Revista de Fisioterapia Vasco Nuclear (Previous)</td>
    </tr>
    <tr>
      <td class="table-journal-detail-td"><b>{% trans 'ISSN(s)' %}:</b></td>
      <td>1234-5678(eissn), 1234-5678(pissn)</td>
    </tr>
    <tr>
      <td class="table-journal-detail-td"><b>{% trans 'Mission' %}:</b></td>
      <td>
        <ul class="inline">
          <li>Espanhol: Publicar artículos originales en Zoología.</li>
          <li>Português: Publicar artículos originales en Zoología.</li>
          <li>Inglês: Publicar artículos originales en Zoología.</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td class="table-journal-detail-td"><b>{% trans 'Lanaguages' %}:</b></td>
      <td>Português, Inglês, Espanhol</td>
    </tr>
    <tr>
      <td class="table-journal-detail-td"><b>{% trans 'Acronym' %}:</b></td>
      <td>Iheringia, Sér. Zool.</td>
    </tr>
    <tr>
      <td class="table-journal-detail-td"><b>{% trans 'Index Coverage' %}:</b></td>
      <td>abstracts of entomology,
          bioresearch index,
          biological abstracts,
          entomological abstracts,
          national inquiry services centre,
          periodica,
          the zoological record,
          wild life review abstract,
          isi
      </td>
    </tr>
    <tr>
      <td class="table-journal-detail-td"><b>{% trans 'License' %}:</b></td>
      <td>BY-NC</td>
    </tr>
    <tr>
      <td class="table-journal-detail-td"><b>{% trans 'Initial Year' %}:</b></td>
      <td>1967</td>
    </tr>
    <tr>
      <td class="table-journal-detail-td"><b>{% trans 'Final Year' %}:</b></td>
      <td>1967</td>
    </tr>
    <tr>
      <td class="table-journal-detail-td"><b>{% trans 'Frequency' %}:</b></td>
      <td>Quaterly</td>
    </tr>
    <tr>
      <td class="table-journal-detail-td"><b>{% trans 'Publisher' %}:</b></td>
      <td>Fundação Zoobotânica do Rio Grande do Sul</td>
    </tr>
    <tr>
      <td class="table-journal-detail-td"><b>{% trans 'Sponsor' %}:</b></td>
      <td>CNPq, Fapergs</td>
    </tr>
    <tr>
      <td class="table-journal-detail-td"><b>{% trans 'Editor' %}:</b></td>
      <td>Franciso Chavier de Oliveira Manco Rodrigues</td>
    </tr>
  </tbody>
</table>
