{% extends "base.html" %}
{% load i18n %}
{% block body_title %}{% trans "User Evaluations" %}{% endblock %}
{% block body %}

<h2>Procedimentos para inclusão de periódicos na coleção SciELO Brasil</h2>

<h5><br><b><font color="#333333">Versão Janeiro 2011</font></b></h5>

<p>Para ser incluído na SciELO Brasil, o periódico deve aceitar os critérios para admissão e permanência na coleção, descritos no documento "Critérios SciELO Brasil: critérios, política e procedimentos para a admissão e a permanência de periódicos científicos na coleção SciELO Brasil" <http://www.scielo.br/criteria/scielo_brasil_pt.html>.</p>

<p>A Coleção SciELO Brasil indexa e disponibiliza online em acesso aberto textos completos de periódicos científicos brasileiros de todas as áreas do conhecimento que publicam, predominantemente, artigos originais resultantes de pesquisa científica e que utilizam o procedimento de avaliação por pares do conteúdo e da relevância dos artigos.</p>

<p>O processo de admissão inicia-se com a submissão voluntária do pedido de avaliação por parte do editor responsável pelo periódico, por meio de uma carta ao Comitê Consultivo justificando a submissão, acompanhada da seguinte documentação:</p>
<p>
    <ul>
        <li>a. um exemplar dos três últimos fascículos publicados ou, no caso de periódicos eletrônicos, o endereço eletrônico (URL) do periódico e as especificações dos 3 últimos números publicados, com sua respectiva localização;</li>
        <li>b. o formulário utilizado pelo periódico no processo de análise e aprovação dos manuscritos;</li>
        <li>c. o formulário de avaliação &lt;<a href="http://www.scielo.br/avaliacao/formulario_avaliacao.xls"style="text-decoration:none">http://www.scielo.br/avaliacao/formulario_avaliacao.xls</a>&gt; preenchido com os dados do periódico.</li>
   </ul>
</p>
<p>O pedido de avaliação deve ser submedido a partir do Sistema SciELO de Seleção de Periódicos, com cadastro do editor e periódico, juntamente com o formulário de avaliação preenchido e o formulário utilizado no processo de análise e aprovação dos manuscritos.</p>

    Os fascículos impressos do periódico poderão ser enviados para:<br/>
        <ul>
            <li>SciELO - Scientific Electronic Library Online</li>
            <li>Processo de Avaliação de Periódicos</li>
            <li>Rua Dr. Diogo de Faria, 1087 - 8o. andar, cj. 810 - Vila Clementino</li>
            <li>04037-004 - São Paulo - SP - Brasil</li>
        </ul>

<p>Com a documentação reunida, o processo de avaliação segue as etapas de pré-avaliação do periódico sobre o cumprimento das condições formais para a avaliação para o ingresso na Coleção SciELO Brasil, avaliação de formato e endogenia, avaliação de mérito científico por pares e a avaliação final do Comitê Consultivo. Todas as decisões relativas ao ingresso e permanência de periódicos na Coleção SciELO Brasil são tomadas exclusivamente pelo Comitê Consultivo .</p>

<p>Para esclarecimento de dúvidas, entre em contato com a Unidade SciELO a partir do e-mail &lt;<a href="mailto:scielo.avaliacao@scielo.org"style="text-decoration:none">scielo.avaliacao@scielo.org</a>&gt;.</p>

{% endblock %}