{% extends "base.html" %}
{% load i18n %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="/static/css/tablesorter/style.css"/>
{% endblock %}

{% block body_title %}{% trans "User Titles" %}{% endblock %}

{% block stepmenu_top %}
{{ block.super }}
/ <a href="{% url index %}">{% trans 'Home' %}</a>
/ {% trans 'Titles DashBoard' %} ({{ titles|length }})
{% endblock %}

{% block body %}
<div class="actions"><a href="{% url title.add %}" class="addNew">{% trans 'New Title' %}</a></div>
<table class="dataTable" cellspacing="0" border="0">
    <thead>
        <tr>
            <th>{% trans "Journal Title" %}</th>
            <th>{% trans "Print ISSN" %}</th>
            <th>{% trans "Electronic ISSN" %}</th>            
            <th>{% trans "Publisher" %}</th>
            <th>{% trans "Status" %}</th>
            <th>{% trans "Validated" %}</th>
            <th>{% trans "Options" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for ct in titles %}
        <tr class="{% cycle 'even' 'odd' %}">
            <td class="subject">{{ ct.title }}</td>
            <td class="subject">{{ ct.print_issn }}</td>
            <td class="subject">{{ ct.eletronic_issn }}</td>            
            <td class="subject">{{ ct.publisher }}</td>
            <td class="subject">{{ ct.pub_status }}</td>
            <td class="subject">
                {%if ct.validated %}
                    <img src="/static/images/true.png" border="0" width="20px" height="20px" alt="{% trans "metadata validated" %}"/>
                {%else%}
                    <img src="/static/images/false.png" border="0" width="20px" height="20px" alt="{% trans "metadata not validated" %}"/>
                {%endif%}
            </td>            
            <td>
                <div class="options">
                    <ul>
                        <li><a href="/title/show/{{ ct.pk }}/" title="{% trans 'view title' %}"><img src="/static/images/show.png" border="0" width="20px" heigth="20px"/></a></li>
                        <li><a href="/title/edit/{{ ct.pk }}/" title="{% trans 'edit title' %}"><img src="/static/images/edit.png" border="0" width="20px" heigth="20px"/></a></li>
                        <li><a href="/title/delete/{{ ct.pk }}/" title="{% trans 'delete title' %}"><img src="/static/images/trash.png" border="0" width="20px" heigth="20px"/></a></li>
                    </ul>
                </div>
            </td>
        </tr>
        {% endfor %}
    <tbody>
</table>
{% endblock %}
