{% extends "base.html" %}
{% load i18n %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="/static/css/tablesorter/style.css"/>
<script type="text/javascript" src="/static/js/jquery.tablesorter.min.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
        // call the tablesorter plugin
        $("#table_evaluations").tablesorter({
            sortList: [[0,1]],
            dateFormat: 'uk',
            textExtraction: 'complex',
            headers: { 6: { sorter: false}},
        });
     
    });
</script>
{% endblock %}

{% block body_title %}{% trans "User Titles" %}{% endblock %}

{% block stepmenu_top %}
{{ block.super }}
/ <a href="{% url index %}">{% trans 'Home' %}</a>
/ {% trans 'Titles DashBoard' %}
{% endblock %}

{% block body %}
<div class="actions"><a href="{% url title.add %}" class="addNew">{% trans 'New Title' %}</a></div>
<table class="dataTable" id="table_evaluations" cellspacing="0" border="0">
    <thead>
        <tr>
            <th>{% trans "Journal Title" %}</th>
            <th>{% trans "Print ISSN" %}</th>
            <th>{% trans "Electronic ISSN" %}</th>            
            <th>{% trans "Publisher" %}</th>
            <th>{% trans "Status" %}</th>
            <th>{% trans "Validated" %}</th>
            <th>{% trans "Options" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for ct in titles %}
        <tr class="{% cycle 'even' 'odd' %}">
            <td class="subject">{{ ct.title }}</td>
            <td class="subject">{{ ct.print_issn }}</td>
            <td class="subject">{{ ct.eletronic_issn }}</td>            
            <td class="subject">{{ ct.publisher }}</td>
            <td class="subject">{{ ct.pub_status }}</td>
            <td class="subject">{{ ct.validated }}</td>            
            <td>
                <ul>
                    <li><a class="history" href="/title/show/{{ ct.pk }}/" title="{% trans 'view title' %}"><span>{% trans "view title" %}</span></a></li>
                </ul>
            </td>
        </tr>
        {% endfor %}
    <tbody>
</table>
<div class="pagination">
    <span class="step-links">
        {% if titles.has_previous %}
        {% if search %}
        <a href="?page={{ titles.previous_page_number }}&q={{q}}">{% trans "Previous" %}</a>
        {% else %}
        <a href="?page={{ titles.previous_page_number }}">{% trans "Previous" %}</a>
        {% endif %}
        {% endif %}

        <span class="current">
            Page {{ titles.number }} of {{ titles.paginator.num_pages }}.
        </span>

        {% if titles.has_next %}
        {% if search %}
        <a href="?page={{ titles.next_page_number }}&q={{q}}">{% trans "Next" %}</a>
        {% else %}
        <a href="?page={{ titles.next_page_number }}">{% trans "Next" %}</a>
        {% endif %}
        {% endif %}
    </span>
</div>
{% endblock %}
