{% load i18n %}
<script>
  window.other_role_pk = '{{ other_role_pk }}';
</script>
<div id="other_role_formset_wrapper" class="well"
    {# should I show the formset #}
    {% if other_role_formset.instance.pk and other_role_formset.instance.role.pk == other_role_pk %}
      style="display:block;"
    {% else %}
       style="display:none;"
    {% endif %}
  >
  <table id="other_role_formset" class="table table-striped">
    <thead>
      <tr>
          <th class="span7">{% trans "Role" %}:</th>
          <th class="span2">{% trans "Language" %}:</th>
      </tr>
    </thead>
    <tbody>
      {% for form in other_role_formset.forms %}
        <tr id="{{ form.prefix }}-row">

          <td>
            <span class="control-group {% if form.name.errors %}error{% endif %}">
              {% for field in form.hidden_fields %}
                {{ field }}
              {% endfor %}
              {% if form.instance.pk %}
                {{ form.DELETE }}
              {% endif %}
            </span>
            {{ form.name }}
            {% if form.name.errors %}
              <div class="alert alert-error">
                {{ form.name.errors }}
              </div>
            {% endif %}
          </td>
          <td>
            <span class="control-group pull-left {% if form.language.errors %}error{% endif %}">
              {{ form.language }}
            </span>
            {% if form.language.errors %}
              <div class="alert alert-error">
                {{ form.language.errors }}
              </div>
            {% endif %}
          </td>

        </tr>
        {% if form.non_field_errors %}
          <tr>
            <td colspan="2">
              <div class="alert alert-error">
                {{ form.non_field_errors }}
              </div>
            </td>
          </tr>
        {% endif %}
      {% endfor %}
        {% if other_role_formset.non_form_errors %}
          <tr>
            <td colspan="2">
              <div class="alert alert-error">
                {{ other_role_formset.non_form_errors }}
              </div>
            </td>
          </tr>
        {% endif %}
    </tbody>
  </table>
  <p>
  {{ other_role_formset.management_form }}
  </p>
</div>
