{% load i18n %}
{% load modal %}
<a data-target='#modal' data-toggle="modal" href="{% url editorial.journal.detail journal.pk %}">
  <h4>{{ journal.title }}</h4>
</a>
<ul class="inline">
  <li>
    <span class="muted">{% trans "On-line version ISSN" %}:</span>
    <strong>{{ journal.scielo_pid }}</strong>
  </li>
  <li>
    <span class="muted">{% trans "Editor" %}:</span>
    {% if journal.editor %}
      <strong>{{ journal.editor.get_full_name }}</strong>
    {% else %}
      <em>{% trans "Not assigned yet" %}</em>
    {% endif %}
  </li>
  <li>
    <span class="muted">{% trans "Managed by the collections" %}: </span>
    <strong>{{ journal.collections.all|join:', ' }}</strong>
  </li>
  <li class="pull-right">
    <a href="{% url editorial.export.csv.journal journal.id %}" class="tip-bottom" data-original-title="{% trans 'Download full list as CSV file.' %}"> Download as CSV <i class="icon-download-alt"></i></a>
  </li>
</ul>
{% modal 'Journal Details' %}
