<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{ LANGUAGE_CODE }}" lang="{{ LANGUAGE_CODE }}">
    {% load i18n %}
    <head>
    {% load static %}
        <meta http-equiv="Content-Type" content="text/xhtml; charset=utf-8"/>
        <title>{{ flatpage.title }}</title>
        <link rel="shortcut icon" href="/static/favicon.ico"/>
        <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}css/style_sci.css"/>
        
        <!--Script-->
        <script type="text/javascript" type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
        <script type="text/javascript" src="{% get_static_prefix %}js/languages.js"></script>
        <!--Script-->

        {% block extrahead %}{% endblock %}
    </head>
    <body>
        <div class="{% block container_class %}container wide{% endblock %}">
            <div id="bar_top">
               <div class="languages">
                   <form name="form_language" id="form_language" action="/i18n/setlang/" method="post">
                   <ul>
                       {% csrf_token %}
                        <input type="hidden" id="language" name="language">
                        <li><a id="lang_pt-BR" href="javascript: void(0)" title="Alterar o idioma para Português">
                        {% if request.LANGUAGE_CODE == 'pt-br' %}<span class="selected_language">Português</span>{% else %}{% trans "Português" %}{% endif %}
                        </a></li>
                        <li><a id="lang_es" href="javascript: void(0)" title="Cambiar el idioma a Español">
                        {% if request.LANGUAGE_CODE == 'es' %}<span class="selected_language">Español</span>{% else %}{% trans "Español" %}{% endif %}
                        </a></li>
                        <li><a id="lang_en" href="javascript: void(0)" title="Change language to English">
                        {% if request.LANGUAGE_CODE == 'en' %}<span class="selected_language">English</span>{% else %}{% trans "English" %}{% endif %}
                        </a></li>
                   </ul>
                   </form>
               </div>
           </div>
            <div class="top">
                <div class="banner">
                    <div class="identification">
                    </div>
                </div>
                {% block login %}
                <div class="topRight">
                    {% if user.is_authenticated %}
                    <div class="userData">
                        <div class="userData_block">
                            <span>{% trans 'Username' %}</span>
                            <big>{{ user.username }}</big>
                        </div>
                        <div class="userData_block">
                            <span>{% trans 'Collection' %}</span>
                            <big>{{ collection }}</big>
                        </div>                        
                        <div class="userData_block logout">
                            <table>
                            <tr>
                                <td>
                                    <a href="/accounts/logout" title="{% trans 'Logout' %}">{% trans 'Logout' %}</a>
                                </td>
                                <td>
                                    <a href="/accounts/logout">
                                        <img class="nohover" src="/static/images/button_logout.gif" alt="{% trans 'Logout' %}"/>
                                        <img class="hover" src="/static/images/button_logout_hover.gif" alt="{% trans 'Logout' %}"/>
                                    </a>
                                </td>
                            </tr>
                            </table>
                        </div>
                        <div class="spacer">&#160;</div>
                    </div>
                    {% else %}
                    <div class="login">
                        <div class="loginForm">
                            <form action="{% url journalmanager.user_login %}" method="post">
                                {% csrf_token %}
                                <div class="formSegment">
                                    <label for="id_username">{% trans 'Username' %}</label>
                                    <input type="text" maxlength="30" name="username" class="textEntry" id="id_username" onblur="this.className = 'textEntry';" onfocus="this.className = 'textEntry textEntryFocus';"/>
                                </div>
                                <div class="formSegment">
                                    <label for="id_password">{% trans 'Password' %}</label>
                                    <input type="password" id="id_password" class="textEntry" name="password" onblur="this.className = 'textEntry';" onfocus="this.className = 'textEntry textEntryFocus';" />
                                </div>
                                <input type="hidden" value="{{ next|default:'' }}" name="next" />
                                <input type="submit" class="submit" value="{% trans 'login' %}" />
                            </form>
                        </div>
                        <div class="loginOption">
                            <ul>
                                <li><a href="/accounts/password/reset" title="{% trans 'Forgot password?' %}">{% trans 'Forgot password?' %}</a></li>
                                <li><a href="/accounts/register" title="{% trans 'create an account to submit trial records' %}">{% trans 'Register' %}</a></li>
                            </ul>
                            {% if invalid %}
                                 <div class="loginError">{% trans 'Your username and password did not match. Please try again.' %}</div>
                            {% endif %}
                            {% if active %}
                                 <div class="loginError">{% trans 'Your account is not active. Please contact the SciELO or verify your e-mail' %}</div>
                            {% endif %}
                            {% if required %}
                                 <div class="loginError">{% trans 'Please login on the system to see this page' %}</div>
                            {% endif %}
                        </div>
                    <div class="spacer">&#160;</div>
                    </div>
                    {% endif %}
                    <div class="topMenu">
                        <ul>
                            {% if user.is_authenticated %}
                            <li>
                                <a href="{% url journal.index %}"><img src="/static/images/title_manager.png" border="0" width="20px" heigth="20px" /> {% trans 'Journal' %} </a>
                            </li>
                            <li>
                                <a href="{% url publisher.index %}"><img src="/static/images/publisher_manager.png" border="0" width="20px" heigth="20px" /> {% trans 'Publisher' %} </a>
                            </li>
                            <li>
                                <a href="{% url user.index %}"><img src="/static/images/user_manager.png" border="0" width="20px" heigth="20px" /> {% trans 'User' %} </a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                    {% if user.is_authenticated %}
                    <div class="search">
                        <form action="{ url journal.search }" method="get">
                            <input type="text" name="q" class="textEntrySearch" id="search" onblur="this.className = 'textEntrySearch';" onfocus="this.className = 'textEntryFocusSearch';" />
                            <input type="submit" class="submit" value="{% trans 'Search' %}" />
                        </form>
                    </div>
                    <div class="searchtext">{% trans 'Search: ISSN, Journal Title'%}</div>
                    {% endif %}
                </div>
                {% endblock %}
                <div class="spacer">&#160;</div>
            </div>
            <div class="middle">
                <div class="mainContent">
                    {% block stepmenu_top %}{% endblock %}
                    {{ flatpage.content }}
                </div>
                <div class="spacer">&#160;</div>
            </div>
            <div id="footer">
                <p>
                    <strong>SciELO - Scientific Electronic Library Online  <a href="http://www.fapesp.br" target="_blank">FAPESP</a> <a href="http://www.cnpq.br" target="_blank">CNPq</a> <a href="http://www.bireme.org">BIREME</a> <a href="http://www.fapunifesp.edu.br" target="_blank">FapUnifesp</a> </strong></p>
                    <p>Rua Dr. Diogo de   Farias, 1087 conj. 810&nbsp; - Vila Clementino  04037-003 São Paulo SP -   Brazil</p>
                    <p>Tel.: (55 11) 3369-4080 - Email: <a href="mailto:scielo.avaliacao@scielo.org">scielo.avaliacao@scielo.org</a>
                </p>
            </div>
        </div>
    </body>   
</html>
