
/*Toggle action list visibility on mouse over a table row*/

ul._actions {
    margin: 5px;
    padding: 0;
}

ul._actions li {
    border-right: 1px solid #919191;
    font-weight: bold;
    margin-right: 5px;
    padding: 0 5px;
    visibility: hidden;
    display: inline;
}

ul._actions a {
    color: #333333 !important;
}

tr:hover ul._actions li {
    visibility: visible;
}

ul._actions li:last-child {
    border: medium none;
}

/*Customize bootstrap components*/
.dropdown-menu{
    min-width: 130px;
}

.span12, .container {
    width: 100%;
}

.navbar-inner{
    padding-right: 5px;
}

/*Customize jquery-ui.css components*/
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
    width: 800px;
}

.ui-datepicker, .ui-datepicker-header{
    width: 250px;
}

.ui-widget {
    font-family: Verdana,Arial,sans-serif;
    font-size: 0.8em;
}

button.ui-button-icon-only {
    height: 20px;
    width: 4em;
}

/*Customize the links "add another" and "remove" from add_journal form*/
.add-row {
        padding-left:8px;
    }
.delete-row {
        padding-left:8px;

    }

/*Strikethrough disable list*/
.strikethrough{
    text-decoration: line-through;
}

/*Customize the td from bootstrap*/
.table th, .table td {
    padding: 3px;
}

.container {
    margin-left: 0px;
    margin-right: 0px;
}

#list_model {
    background-color: #CCCCCC;
    border: 1px solid #000000;
    width: 90px;
    height: 25px;
    margin: 0px;
}

.user_identity {
    margin-top: 10px;
    margin-right: 10px;
    color: #FFFFFF;
}

.footer {
    background: #CCCCCC;
    padding-left: 10px;
    padding-top:  10px;
}
